openapi: 3.2.0
info:
  title: Console Unit ID Types API
  description: The "Console API" is the CRUD API for performing the actions offered on console.statsig.com without needing to go through the web UI.
  version: 20240601.0.0
  contact: {}
servers:
- url: https://statsigapi.net
tags:
- name: Unit ID Types
paths:
  /console/v1/unit_id_types:
    get:
      summary: List Unit ID Types
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Unit ID Types Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnitIdTypeContractDto'
                example:
                  message: Unit ID Types listed successfully.
                  data:
                  - name: testID
                    description: My test ID type.
                  pagination:
                    itemsPerPage: 100
                    pageNumber: 1
                    totalItems: 1
                    nextPage: null
                    previousPage: null
                    all: /console/v1/unit_id_types
              example:
                message: Unit ID Types listed successfully.
                data:
                - name: testID
                  description: My test ID type.
                pagination:
                  itemsPerPage: 100
                  pageNumber: 1
                  totalItems: 1
                  nextPage: null
                  previousPage: null
                  all: /console/v1/unit_id_types
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Unit ID Types
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UnitIdTypes
      x-operation-id-source: derived
    post:
      summary: Create Unit ID Type
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitIdTypeContractDto'
      responses:
        '201':
          description: Create Unit ID Type Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UnitIdTypeContractDto'
                example:
                  message: Unit ID Type created successfully.
                  data:
                    name: newTestID
                    description: My new test ID type.
              example:
                message: Unit ID Type created successfully.
                data:
                  name: newTestID
                  description: My new test ID type.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Unit ID Types
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1UnitIdTypes
      x-operation-id-source: derived
  /console/v1/unit_id_types/{id}:
    get:
      summary: Get Unit ID Type
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Unit ID Type Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UnitIdTypeContractDto'
                example:
                  message: Unit ID Type read successfully.
                  data:
                    name: testID
                    description: My test ID type.
              example:
                message: Unit ID Type read successfully.
                data:
                  name: testID
                  description: My test ID type.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Unit ID Types
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UnitIdTypesById
      x-operation-id-source: derived
    patch:
      summary: Update Unit ID Type
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitIdTypeUpdateContractDto'
      responses:
        '200':
          description: Update Unit ID Type Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UnitIdTypeContractDto'
                example:
                  message: Unit ID Type updated successfully.
                  data:
                    name: testID
                    description: My new description of my ID type.
              example:
                message: Unit ID Type updated successfully.
                data:
                  name: testID
                  description: My new description of my ID type.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
      tags:
      - Unit ID Types
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1UnitIdTypesById
      x-operation-id-source: derived
    delete:
      summary: Delete Unit ID Type
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete Unit ID Type Response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Unit ID Type deleted successfully.
              example:
                message: Unit ID Type deleted successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
      tags:
      - Unit ID Types
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1UnitIdTypesById
      x-operation-id-source: derived
components:
  schemas:
    UnitIdTypeUpdateContractDto:
      type: object
      properties:
        description:
          type: string
          description: The description of the unit id type.
      required:
      - description
    PaginationResponseWithMessage:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          description: Array of results returned by pagination limit.
          type: array
          items:
            type: object
        pagination:
          description: Pagination metadata for checking if there is next page for example.
          allOf:
          - $ref: '#/components/schemas/PaginationResponseMetadataDto'
      required:
      - message
      - data
      - pagination
    SingleDataResponse:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          type: object
          description: A single result.
      required:
      - message
      - data
    UnitIdTypeContractDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the unit id type.
        description:
          type: string
          description: The description of the unit id type.
      required:
      - name
    PaginationResponseMetadataDto:
      type: object
      properties:
        itemsPerPage:
          type: number
          format: double
        pageNumber:
          type: number
          format: double
        nextPage:
          type:
          - string
          - 'null'
        previousPage:
          type:
          - string
          - 'null'
        totalItems:
          type: number
          format: double
        all:
          type: string
      required:
      - itemsPerPage
      - pageNumber
      - nextPage
      - previousPage
  securitySchemes:
    STATSIG-API-KEY:
      type: apiKey
      name: STATSIG-API-KEY
      in: header
