openapi: 3.2.0
info:
  title: Statsig HTTP Initialization API
  description: The Statsig HTTP API allows developers to evaluate feature gates, dynamic configs, and experiments for users via server-side HTTP requests.
  version: 1.0.0
  contact:
    name: Statsig Support
    url: https://statsig.com/support
  termsOfService: https://statsig.com/terms
servers:
- url: https://api.statsig.com/v1
  description: Statsig API Server
security:
- statsigApiKey: []
tags:
- name: Initialization
  description: Endpoints for initializing client SDKs with all evaluated gates, configs, experiments, and layers for a given user.
paths:
  /initialize:
    post:
      operationId: initialize
      summary: Initialize client SDK
      description: Returns all evaluated gates, configs, experiments, and layers for a given user. This is the primary endpoint used by client SDKs for initialization. The response contains hashed names for security, and the client SDK decodes them locally.
      tags:
      - Initialization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  $ref: '#/components/schemas/StatsigUser'
      responses:
        '200':
          description: Full set of evaluated configurations for the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature_gates:
                    type: object
                    description: A map of hashed gate names to their evaluation results.
                  dynamic_configs:
                    type: object
                    description: A map of hashed config names to their evaluation results.
                  layer_configs:
                    type: object
                    description: A map of hashed layer names to their evaluation results.
                  has_updates:
                    type: boolean
                    description: Whether there are updates since the last initialization.
                  time:
                    type: integer
                    format: int64
                    description: Server timestamp of the evaluation.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    StatsigUser:
      type: object
      description: The user object representing the end user being evaluated. At minimum, a userID should be provided. Additional properties enable more sophisticated targeting.
      properties:
        userID:
          type: string
          description: A unique identifier for the user.
        email:
          type: string
          format: email
          description: The email address of the user, used for email-based targeting.
        ip:
          type: string
          description: The IP address of the user, used for IP-based targeting.
        userAgent:
          type: string
          description: The user agent string, used for browser or device targeting.
        country:
          type: string
          description: The two-letter country code of the user.
        locale:
          type: string
          description: The locale identifier for the user.
        appVersion:
          type: string
          description: The version of the application the user is using.
        custom:
          type: object
          additionalProperties: true
          description: Custom properties for the user, used for custom targeting rules.
        privateAttributes:
          type: object
          additionalProperties: true
          description: Private user attributes used for evaluation but stripped before logging to Statsig servers.
        customIDs:
          type: object
          additionalProperties:
            type: string
          description: Custom identifier mappings for the user, such as companyID or teamID.
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing the authentication failure.
  securitySchemes:
    statsigApiKey:
      type: apiKey
      in: header
      name: statsig-api-key
      description: API key for authentication. Use a Server Secret Key for secure server-side requests or a Client-SDK Key for client-side applications.
externalDocs:
  description: Statsig HTTP API Documentation
  url: https://docs.statsig.com/http-api/
