openapi: 3.2.0
info:
  title: Statsig Dynamic Configs API
  version: '1.0'
  description: 'Operations tagged Dynamic Configs across 3 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-http-api-openapi.yml, statsig-dynamic-configs-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://api.statsig.com/v1
  description: Statsig API Server
- url: https://statsigapi.net
tags:
- name: Dynamic Configs
  description: Manage dynamic configurations with full CRUD operations for server-driven configuration values.
paths:
  /dynamic_configs:
    get:
      operationId: listDynamicConfigs
      summary: List all dynamic configs
      description: Retrieves a list of all dynamic configurations in the project.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of dynamic configs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DynamicConfig'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    post:
      operationId: createDynamicConfig
      summary: Create a dynamic config
      description: Creates a new dynamic configuration in the project with the specified default values and rules.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigCreate'
      responses:
        '201':
          description: Dynamic config created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /dynamic_configs/{id}:
    get:
      operationId: getDynamicConfig
      summary: Get a dynamic config
      description: Retrieves the full configuration of a specific dynamic config including its default values, rules, and conditions.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/DynamicConfigId'
      responses:
        '200':
          description: Dynamic config details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    patch:
      operationId: partiallyUpdateDynamicConfig
      summary: Partially update a dynamic config
      description: Updates specific fields of a dynamic config without replacing the entire configuration.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/DynamicConfigId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigUpdate'
      responses:
        '200':
          description: Dynamic config updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    delete:
      operationId: deleteDynamicConfig
      summary: Delete a dynamic config
      description: Permanently deletes a dynamic config from the project.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/DynamicConfigId'
      responses:
        '200':
          description: Dynamic config deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /dynamic_configs/{id}/rules:
    get:
      operationId: getDynamicConfigRules
      summary: Get dynamic config rules
      description: Retrieves all rules configured for a specific dynamic config.
      tags:
      - Dynamic Configs
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/DynamicConfigId'
      responses:
        '200':
          description: List of dynamic config rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /get_config:
    post:
      operationId: getConfig
      summary: Get a dynamic config or experiment
      description: Fetches the configuration values for a dynamic config or experiment for the specified user. The system automatically determines whether the requested name refers to a dynamic config or an experiment. An exposure event is automatically logged.
      tags:
      - Dynamic Configs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              - configName
              properties:
                user:
                  $ref: '#/components/schemas/StatsigUser'
                configName:
                  type: string
                  description: The name of the dynamic config or experiment to retrieve.
      responses:
        '200':
          description: Dynamic config or experiment values
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the config that was retrieved.
                  value:
                    type: object
                    description: The JSON object containing the configuration key-value pairs for this user.
                  group:
                    type: string
                    description: The experiment group the user was assigned to, if applicable.
                  rule_id:
                    type: string
                    description: The identifier of the rule that was matched.
                  group_name:
                    type: string
                    description: The name of the group the user was assigned to.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - statsigApiKey: []
    servers:
    - url: https://api.statsig.com/v1
      description: Statsig API Server
  /console/v1/dynamic_configs:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Dynamic Configs
      parameters:
      - name: releasePipelineID
        required: false
        in: query
        description: The release pipeline ID associated with the dynamic config
        schema:
          type:
          - string
          - 'null'
      - name: teamID
        required: false
        in: query
        description: Filter by team ID
        schema:
          type: string
      - name: targetAppID
        required: false
        in: query
        description: Filter by target app ID
        schema:
          type: string
      - name: type
        required: false
        in: query
        description: Filter by lifecycle type (TEMPORARY, PERMANENT, or STALE). Results depend on the nightly stale detection batch job having run.
        schema:
          type: string
          enum:
          - TEMPORARY
          - PERMANENT
          - STALE
      - name: typeReason
        required: false
        in: query
        description: Filter by stale classification reason. Results depend on the nightly stale detection batch job having run.
        schema:
          type: string
          enum:
          - NONE
          - STALE_PROBABLY_DEAD_CHECK
          - STALE_NO_RULES
          - STALE_PROBABLY_FORGOTTEN
          - STALE_PROBABLY_LAUNCHED
          - STALE_PROBABLY_UNLAUNCHED
      - name: creatorName
        required: false
        in: query
        description: Name of the creator.
        schema:
          type:
          - string
          - 'null'
      - name: creatorID
        required: false
        in: query
        description: ID of the user who created the entity.
        schema:
          type:
          - string
          - 'null'
      - name: tags
        required: false
        in: query
        description: Filter by tags
        examples:
          single tag:
            value: tag1
          multiple tags:
            value:
            - tag1
            - tag2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Dynamic Configs Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic Configs listed successfully.
                  data:
                  - id: example_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/example_config
                    name: Example Config
                    description: An example dynamic configuration
                    idType: userID
                    lastModifierID: abc123
                    lastModifiedTime: 1600000000000
                    lastModifierName: Jane Doe
                    lastModifierEmail: jane@example.com
                    creatorID: def456
                    createdTime: 1500000000000
                    creatorName: John Smith
                    creatorEmail: john@example.com
                    targetApps:
                    - myapp
                    holdoutIDs: []
                    tags:
                    - example_tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
                    team: Product
                    isEnabled: true
                    rules: []
                    defaultValue: {}
                    defaultValueJson5: '{}'
                    schema: '{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{}}'
                    schemaJson5: "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"properties\": {}\n}"
                    version: 1
              example:
                message: Dynamic Configs listed successfully.
                data:
                - id: example_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/example_config
                  name: Example Config
                  description: An example dynamic configuration
                  idType: userID
                  lastModifierID: abc123
                  lastModifiedTime: 1600000000000
                  lastModifierName: Jane Doe
                  lastModifierEmail: jane@example.com
                  creatorID: def456
                  createdTime: 1500000000000
                  creatorName: John Smith
                  creatorEmail: john@example.com
                  targetApps:
                  - myapp
                  holdoutIDs: []
                  tags:
                  - example_tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
                  team: Product
                  isEnabled: true
                  rules: []
                  defaultValue: {}
                  defaultValueJson5: '{}'
                  schema: '{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{}}'
                  schemaJson5: "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"properties\": {}\n}"
                  version: 1
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigs
      x-operation-id-source: derived
    post:
      summary: Create Dynamic Config
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigCreateDto'
      responses:
        '201':
          description: Create Dynamic Config
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic Config created successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    name: a dynamic config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1707344887865
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1707344887764
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
                    isEnabled: true
                    rules: []
                    defaultValue: {}
              example:
                message: Dynamic Config created successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  name: a dynamic config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707344887865
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707344887764
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
                  isEnabled: true
                  rules: []
                  defaultValue: {}
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '403':
          description: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 403
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1DynamicConfigs
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic config read successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    creatorEmail: johnsmith@mydomain.com
                    creatorName: John Smith
                    createdTime: 1674769467002
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifierName: CONSOLE API
                    lastModifiedTime: 1707344887865
                    lastModifierEmail: null
                    holdoutIDs: []
                    isEnabled: true
                    rules:
                    - name: All Conditions
                      id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                      baseID: 38ttpCpzrQFTMKcqFKk02l
                      passPercentage: 10
                      conditions:
                      - type: public
                        operator: any
                        targetValue: 0
                        field: string
                        customID: string
                      returnValue:
                        key: true
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    defaultValue:
                      key: the default value
                    tags:
                    - a tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
              example:
                message: Dynamic config read successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  lastModifiedTime: 1707344887865
                  lastModifierEmail: null
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: any
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsById
      x-operation-id-source: derived
    post:
      summary: Fully Update Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: dryRun
        required: false
        in: query
        description: Skips persisting updates to the entity (used to validate that inputs are correct)
        schema:
          example: true
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigFullUpdateDto'
      responses:
        '200':
          description: Fully Update Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic config updated successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    creatorEmail: johnsmith@mydomain.com
                    creatorName: John Smith
                    createdTime: 1674769467002
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifierName: CONSOLE API
                    lastModifiedTime: 1707344887865
                    lastModifierEmail: null
                    holdoutIDs: []
                    isEnabled: true
                    rules:
                    - name: All Conditions
                      id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                      baseID: 38ttpCpzrQFTMKcqFKk02l
                      passPercentage: 10
                      conditions:
                      - type: public
                        operator: any
                        targetValue: 0
                        field: string
                        customID: string
                      returnValue:
                        key: true
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    defaultValue:
                      key: the default value
                    tags:
                    - a tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
              example:
                message: Dynamic config updated successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  lastModifiedTime: 1707344887865
                  lastModifierEmail: null
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: any
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '403':
          description: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 403
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1DynamicConfigsById
      x-operation-id-source: derived
    patch:
      summary: Partially Update Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: dryRun
        required: false
        in: query
        description: Skips persisting updates to the entity (used to validate that inputs are correct)
        schema:
          example: true
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigPartialUpdateDto'
      responses:
        '200':
          description: Partially Update Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic config updated successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    creatorEmail: johnsmith@mydomain.com
                    creatorName: John Smith
                    createdTime: 1674769467002
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifierName: CONSOLE API
                    lastModifiedTime: 1707344887865
                    lastModifierEmail: null
                    holdoutIDs: []
                    isEnabled: true
                    rules:
                    - name: All Conditions
                      id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                      baseID: 38ttpCpzrQFTMKcqFKk02l
                      passPercentage: 10
                      conditions:
                      - type: public
                        operator: any
                        targetValue: 0
                        field: string
                        customID: string
                      returnValue:
                        key: true
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    defaultValue:
                      key: the default value
                    tags:
                    - a tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
              example:
                message: Dynamic config updated successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  lastModifiedTime: 1707344887865
                  lastModifierEmail: null
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: any
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1DynamicConfigsById
      x-operation-id-source: derived
    delete:
      summary: Delete Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete Dynamic Config Response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Dynamic Config deleted successfully.
              example:
                message: Dynamic Config deleted successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1DynamicConfigsById
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/archive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Archive Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSchemaDto'
      responses:
        '200':
          description: Archive Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdArchive
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/disable:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Disable Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Disable Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdDisable
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/eligible_reviewers:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Eligible Reviewers
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Users and groups eligible to review changes to this dynamic config. `everyone_eligible` is true when no specific reviewers are configured. `users` is the flattened, deduped union of individual reviewers and all group members; `groups` lists each eligible group with its member `user_ids`. Project admins can always review and are not enumerated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EligibleReviewersDto'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdEligibleReviewers
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/enable:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Enable Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Enable Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdEnable
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/reviews:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Dynamic Config Reviews
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: A page of the dynamic config reviews, newest first.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ReviewEnvelopeDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdReviews
      x-operation-id-source: derived
    post:
      summary: Create Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDCReviewRequestDto'
      responses:
        '201':
          description: The created dynamic config review.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReviewEnvelopeDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1DynamicConfigsByIdReviews
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/reviews/{reviewID}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: The requested dynamic config review.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReviewEnvelopeDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdReviewsByReviewID
      x-operation-id-source: derived
    put:
      summary: Edit Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditDCReviewRequestDto'
      responses:
        '200':
          description: The updated dynamic config review.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReviewEnvelopeDto'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdReviewsByReviewID
      x-operation-id-source: derived
    delete:
      summary: Cancel Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Cancel an in-flight dynamic config review.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Dynamic config review cancelled successfully
              example:
                message: Dynamic config review cancelled successfully
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1DynamicConfigsByIdReviewsByReviewID
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/reviews/{reviewID}/approve:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Approve Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveReviewRequestDto'
      responses:
        '200':
          description: The approved dynamic config review.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReviewEnvelopeDto'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdReviewsByReviewIDApprove
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/reviews/{reviewID}/commit:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Commit Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Commit a dynamic config review, applying its proposed change.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Dynamic config review committed successfully
              example:
                message: Dynamic config review committed successfully
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdReviewsByReviewIDCommit
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/reviews/{reviewID}/reject:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Reject Dynamic Config Review
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: reviewID
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectReviewRequestDto'
      responses:
        '200':
          description: The rejected dynamic config review.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReviewEnvelopeDto'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdReviewsByReviewIDReject
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/rule/{ruleId}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Specific Dynamic Config Rule
      parameters:
      - name: id
        required: true
        in: path
        description: Dynamic Config ID
        schema:
          type: string
      - name: ruleId
        required: true
        in: path
        description: Rule ID
        schema:
          type: string
      responses:
        '200':
          description: Get Specific Dynamic Config Rule Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigRuleDto'
                example:
                  message: Dynamic Config rules read successfully.
                  data:
                    id: 6jQEnu1fCnXqjXhm1qGEnt
                    baseID: 6jQEnu1fCnXqjXhm1qGEnt
                    name: Other2
                    passPercentage: 80
                    conditions: []
                    environments: null
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
              example:
                message: Dynamic Config rules read successfully.
                data:
                  id: 6jQEnu1fCnXqjXhm1qGEnt
                  baseID: 6jQEnu1fCnXqjXhm1qGEnt
                  name: Other2
                  passPercentage: 80
                  conditions: []
                  environments: null
                  completedAutomatedRollouts: []
                  pendingAutomatedRollouts: []
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdRuleByRuleId
      x-operation-id-source: derived
    patch:
      summary: Update Dynamic Config Rule By Id
      parameters:
      - name: id
        required: true
        in: path
        description: Dynamic Config ID
        schema:
          type: string
      - name: ruleId
        required: true
        in: path
        description: Rule ID
        schema:
          type: string
      - name: dryRun
        required: false
        in: query
        description: Skips persisting updates to the entity (used to validate that inputs are correct)
        schema:
          example: true
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicConfigRulePartialDto'
      responses:
        '200':
          description: Update Dynamic Config Rule Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic Config rules updated successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    creatorEmail: johnsmith@mydomain.com
                    creatorName: John Smith
                    createdTime: 1674769467002
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifierName: CONSOLE API
                    lastModifiedTime: 1707344887865
                    lastModifierEmail: null
                    holdoutIDs: []
                    isEnabled: true
                    rules:
                    - name: All Conditions
                      id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                      baseID: 38ttpCpzrQFTMKcqFKk02l
                      passPercentage: 10
                      conditions:
                      - type: public
                        operator: any
                        targetValue: 0
                        field: string
                        customID: string
                      returnValue:
                        key: true
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    defaultValue:
                      key: the default value
                    tags:
                    - a tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
              example:
                message: Dynamic Config rules updated successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  lastModifiedTime: 1707344887865
                  lastModifierEmail: null
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: any
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1DynamicConfigsByIdRuleByRuleId
      x-operation-id-source: derived
    delete:
      summary: Delete Dynamic Config Rule
      parameters:
      - name: id
        required: true
        in: path
        description: Dynamic Config ID
        schema:
          type: string
      - name: ruleId
        required: true
        in: path
        description: Rule ID
        schema:
          type: string
      responses:
        '200':
          description: Delete Dynamic Config Rule Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic Config rule deleted successfully.
                  data:
                    id: a_dynamic_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                    description: helpful summary of what this dynamic config does
                    idType: userID
                    creatorEmail: johnsmith@mydomain.com
                    creatorName: John Smith
                    createdTime: 1674769467002
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifierName: CONSOLE API
                    lastModifiedTime: 1707344887865
                    lastModifierEmail: null
                    holdoutIDs: []
                    isEnabled: true
                    rules:
                    - name: All Conditions
                      id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                      baseID: 38ttpCpzrQFTMKcqFKk02l
                      passPercentage: 10
                      conditions:
                      - type: public
                        operator: any
                        targetValue: 0
                        field: string
                        customID: string
                      returnValue:
                        key: true
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    defaultValue:
                      key: the default value
                    tags:
                    - a tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
              example:
                message: Dynamic Config rule deleted successfully.
                data:
                  id: a_dynamic_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/a_dynamic_config
                  description: helpful summary of what this dynamic config does
                  idType: userID
                  creatorEmail: johnsmith@mydomain.com
                  creatorName: John Smith
                  createdTime: 1674769467002
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifierName: CONSOLE API
                  lastModifiedTime: 1707344887865
                  lastModifierEmail: null
                  holdoutIDs: []
                  isEnabled: true
                  rules:
                  - name: All Conditions
                    id: 38ttpCpzrQFTMKcqFKk02l:10.00:1
                    baseID: 38ttpCpzrQFTMKcqFKk02l
                    passPercentage: 10
                    conditions:
                    - type: public
                      operator: any
                      targetValue: 0
                      field: string
                      customID: string
                    returnValue:
                      key: true
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  defaultValue:
                    key: the default value
                  tags:
                  - a tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1DynamicConfigsByIdRuleByRuleId
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/rules:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Dynamic Config Rules
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Dynamic Config Rules Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DynamicConfigRulesDto'
                example:
                  message: Dynamic Config rules read successfully.
                  data:
                  - rules:
                    - id: 5pjzfmF8KLFsh81kBPyxvR
                      baseID: 5pjzfmF8KLFsh81kBPyxvR
                      name: rule name
                      passPercentage: 1
                      conditions:
                      - type: browser_name
                        targetValue: []
                        operator: any
                      environments: null
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    - id: 6jQEnu1fCnXqjXhm1qGEnt
                      baseID: 6jQEnu1fCnXqjXhm1qGEnt
                      name: Other2
                      passPercentage: 80
                      conditions: []
                      environments: null
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                    - id: 4DonExIcOjSV8kG3WSQ5Zm
                      baseID: 4DonExIcOjSV8kG3WSQ5Zm
                      name: Austin's fav rule
                      passPercentage: 8
                      conditions: []
                      environments: null
                      completedAutomatedRollouts: []
                      pendingAutomatedRollouts: []
                  pagination:
                    itemsPerPage: 20000
                    pageNumber: 1
                    totalItems: 1
                    nextPage: null
                    previousPage: null
                    all: ''
              example:
                message: Dynamic Config rules read successfully.
                data:
                - rules:
                  - id: 5pjzfmF8KLFsh81kBPyxvR
                    baseID: 5pjzfmF8KLFsh81kBPyxvR
                    name: rule name
                    passPercentage: 1
                    conditions:
                    - type: browser_name
                      targetValue: []
                      operator: any
                    environments: null
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  - id: 6jQEnu1fCnXqjXhm1qGEnt
                    baseID: 6jQEnu1fCnXqjXhm1qGEnt
                    name: Other2
                    passPercentage: 80
                    conditions: []
                    environments: null
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                  - id: 4DonExIcOjSV8kG3WSQ5Zm
                    baseID: 4DonExIcOjSV8kG3WSQ5Zm
                    name: Austin's fav rule
                    passPercentage: 8
                    conditions: []
                    environments: null
                    completedAutomatedRollouts: []
                    pendingAutomatedRollouts: []
                pagination:
                  itemsPerPage: 20000
                  pageNumber: 1
                  totalItems: 1
                  nextPage: null
                  previousPage: null
                  all: ''
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdRules
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/unarchive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Unarchive Dynamic Config
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchiveSchemaDto'
      responses:
        '200':
          description: Unarchive Dynamic Config Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DynamicConfigDto'
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1DynamicConfigsByIdUnarchive
      x-operation-id-source: derived
  /console/v1/dynamic_configs/{id}/versions:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Dynamic Config Versions
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: startDate
        required: false
        in: query
        description: Only return versions last modified on or after this date. Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: Only return versions last modified on or before this date, inclusive. Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-31'
          type: string
      responses:
        '200':
          description: List Dynamic Config Versions Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DynamicConfigDto'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Dynamic Configs
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1DynamicConfigsByIdVersions
      x-operation-id-source: derived
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: Page number for paginated results.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Maximum number of items to return per page.
    DynamicConfigId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The name or identifier of the dynamic config.
    ApiVersion:
      name: STATSIG-API-VERSION
      in: header
      required: false
      schema:
        type: string
        default: '20240601'
      description: The Console API version. Currently the only version is 20240601.
  schemas:
    DynamicConfigCreate:
      type: object
      description: Request body for creating a new dynamic config.
      required:
      - name
      properties:
        name:
          type: string
          description: The name of the dynamic config to create.
        description:
          type: string
          description: A human-readable description of the config purpose.
        defaultValue:
          type: object
          description: The default key-value pairs.
        tags:
          type: array
          items:
            type: string
          description: Tags to associate with the config.
    DynamicConfig:
      type: object
      description: A dynamic configuration that provides key-value pairs to clients based on targeting rules.
      properties:
        id:
          type: string
          description: The unique identifier of the dynamic config.
        name:
          type: string
          description: The name of the dynamic config.
        description:
          type: string
          description: A human-readable description of the config purpose.
        isEnabled:
          type: boolean
          description: Whether the config is currently enabled.
        defaultValue:
          type: object
          description: The default key-value pairs returned when no rules match.
        rules:
          type: array
          items:
            $ref: '#/components/schemas/Rule'
          description: The targeting rules for this config.
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the config.
        createdTime:
          type: integer
          format: int64
          description: Timestamp when the config was created.
        lastModifiedTime:
          type: integer
          format: int64
          description: Timestamp when the config was last modified.
    DynamicConfigUpdate:
      type: object
      description: Request body for partially updating a dynamic config.
      properties:
        description:
          type: string
          description: Updated description.
        isEnabled:
          type: boolean
          description: Whether the config should be enabled.
        defaultValue:
          type: object
          description: Updated default key-value pairs.
        tags:
          type: array
          items:
            type: string
          description: Updated tags.
    Condition:
      type: object
      description: A condition within a targeting rule that evaluates user properties against specified criteria.
      properties:
        type:
          type: string
          enum:
          - user_id
          - email
          - ip_address
          - country
          - app_version
          - custom_field
          - browser_name
          - browser_version
          - os_name
          - os_version
          - passes_gate
          - fails_gate
          - environment
          - passes_segment
          - fails_segment
          - time
          - unit_id
          description: The type of condition to evaluate.
        targetValue:
          description: The value or values to compare against.
        operator:
          type: string
          enum:
          - any
          - none
          - str_starts_with_any
          - str_ends_with_any
          - str_contains_any
          - str_contains_none
          - str_matches
          - gt
          - gte
          - lt
          - lte
          - version_gt
          - version_gte
          - version_lt
          - version_lte
          - before
          - after
          - 'on'
          description: The comparison operator to use.
    Rule:
      type: object
      description: A targeting rule that defines conditions under which a gate passes or a config returns specific values.
      properties:
        id:
          type: string
          description: The unique identifier of the rule.
        name:
          type: string
          description: The name of the rule.
        passPercentage:
          type: number
          minimum: 0
          maximum: 100
          description: The percentage of users matching conditions who pass the rule.
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: The conditions that must be met for this rule to apply.
        returnValue:
          type: object
          description: The value returned when this rule matches, for dynamic configs.
        environments:
          type: array
          items:
            type: string
          description: Environments where this rule is active.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of items available.
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Number of items per page.
        hasMore:
          type: boolean
          description: Whether more pages are available.
    StatsigUser:
      type: object
      description: The user object representing the end user being evaluated. At minimum, a userID should be provided. Additional properties enable more sophisticated targeting.
      properties:
        userID:
          type: string
          description: A unique identifier for the user.
        email:
          type: string
          format: email
          description: The email address of the user, used for email-based targeting.
        ip:
          type: string
          description: The IP address of the user, used for IP-based targeting.
        userAgent:
          type: string
          description: The user agent string, used for browser or device targeting.
        country:
          type: string
          description: The two-letter country code of the user.
        locale:
          type: string
          description: The locale identifier for the user.
        appVersion:
          type: string
          description: The version of the application the user is using.
        custom:
          type: object
          additionalProperties: true
          description: Custom properties for the user, used for custom targeting rules.
        privateAttributes:
          type: object
          additionalProperties: true
          description: Private user attributes used for evaluation but stripped before logging to Statsig servers.
        customIDs:
          type: object
          additionalProperties:
            type: string
          description: Custom identifier mappings for the user, such as companyID or teamID.
    UnarchiveSchemaDto:
      type: object
      properties:
        unarchiveReason:
          type: string
          description: The reason for unarchiving the gate
          example: The gate is needed again
    PaginationResponseWithMessage:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          description: Array of results returned by pagination limit.
          type: array
          items:
            type: object
        pagination:
          description: Pagination metadata for checking if there is next page for example.
          allOf:
          - $ref: '#/components/schemas/PaginationResponseMetadataDto'
      required:
      - message
      - data
      - pagination
    DynamicConfigRulePartialDto:
      type: object
      properties:
        name:
          type: string
          description: The name of this rule.
        passPercentage:
          type: number
          minimum: 0
          maximum: 100
          multipleOf: 0.01
          description: Of the users that meet the conditions of this rule, what percent should return true.
          format: double
        conditions:
          type: array
          items:
            type: object
            properties:
              targetValue:
                oneOf:
                - type: array
                  items:
                    type: string
                - type: array
                  items:
                    type: number
                - type: string
                - type: number
              operator:
                type: string
                enum:
                - any
                - none
                - any_case_sensitive
                - none_case_sensitive
                - str_contains_any
                - str_contains_none
                - gt
                - lt
                - lte
                - gte
                - version_gt
                - version_lt
                - version_gte
                - version_lte
                - version_eq
                - after
                - before
                - 'on'
                - is_null
                - is_not_null
                - str_matches
                - encoded_any
                - array_contains_any
                - array_contains_none
                - array_contains_all
                - not_array_contains_all
              field:
                type:
                - string
                - 'null'
              customID:
                type:
                - string
                - 'null'
              type:
                type: string
                enum:
                - app_version
                - browser_name
                - browser_version
                - country
                - custom_field
                - email
                - environment_tier
                - fails_gate
                - fails_segment
                - ip_address
                - locale
                - os_name
                - os_version
                - passes_gate
                - passes_segment
                - public
                - time
                - unit_id
                - user_id
                - user_agent
                - url
                - javascript
                - device_model
                - target_app
                - experiment_group
            required:
            - type
          description: An array of Condition objects.
        environments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          description: The Statsig ID of this rule.
        baseID:
          type: string
          description: The base ID of this rule, i.e. without any added metadata. Will remain the exact same throughout
        returnValue:
          type: object
          additionalProperties: {}
        completedAutomatedRollouts:
          type: array
          items:
            type: object
            properties:
              time:
                type: number
              passPercent:
                type: number
            required:
            - passPercent
          readOnly: true
          description: 'Read-only: Automated rollout phases that have already completed.'
        pendingAutomatedRollouts:
          type: array
          items:
            type: object
            properties:
              time:
                type: number
              passPercent:
                type: number
            required:
            - passPercent
          readOnly: true
          description: 'Read-only: Automated rollout phases that are scheduled but not yet complete.'
        returnValueJson5:
          type: string
        variants:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              passPercentage:
                type: number
                minimum: 0
                maximum: 100
                multipleOf: 0.01
              returnValue:
                type: object
                additionalProperties: {}
              returnValueJson5:
                type: string
            required:
            - name
            - passPercentage
    EditDCReviewRequestDto:
      type: object
      properties:
        description:
          type: string
          minLength: 1
          maxLength: 2000
          description: Updated human-readable description of the proposed change.
        reviewer_ids:
          type: array
          items:
            type: string
          description: Replacement set of user IDs to request review from. Replaces the existing set.
        reviewer_group_ids:
          type: array
          items:
            type: string
          description: Replacement set of reviewer group IDs to request review from. Replaces the existing set.
        change:
          type: object
          properties:
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of this rule.
                  passPercentage:
                    type: number
                    minimum: 0
                    maximum: 100
                    multipleOf: 0.01
                    description: Of the users that meet the conditions of this rule, what percent should return true.
                  conditions:
                    type: array
                    items:
                      type: object
                      properties:
                        targetValue:
                          oneOf:
                          - type: array
                            items:
                              type: string
                          - type: array
                            items:
                              type: number
                          - type: string
                          - type: number
                        operator:
                          type: string
                          enum:
                          - any
                          - none
                          - any_case_sensitive
                          - none_case_sensitive
                          - str_contains_any
                          - str_contains_none
                          - gt
                          - lt
                          - lte
                          - gte
                          - version_gt
                          - version_lt
                          - version_gte
                          - version_lte
                          - version_eq
                          - after
                          - before
                          - 'on'
                          - is_null
                          - is_not_null
                          - str_matches
                          - encoded_any
                          - array_contains_any
                          - array_contains_none
                          - array_contains_all
                          - not_array_contains_all
                        field:
                          type:
                          - string
                          - 'null'
                        customID:
                          type:
                          - string
                          - 'null'
                        type:
                          type: string
                          enum:
                          - app_version
                          - browser_name
                          - browser_version
                          - country
                          - custom_field
                          - email
                          - environment_tier
                          - fails_gate
                          - fails_segment
                          - ip_address
                          - locale
                          - os_name
                          - os_version
                          - passes_gate
                          - passes_segment
                          - public
                          - time
                          - unit_id
                          - user_id
                          - user_agent
                          - url
                          - javascript
                          - device_model
                          - target_app
                          - experiment_group
                      required:
                      - type
                    description: An array of Condition objects.
                  environments:
                    type:
                    - array
                    - 'null'
                    items:
                      type: string
                  id:
                    type: string
                    description: The Statsig ID of this rule.
                  baseID:
                    type: string
                    description: The base ID of this rule, i.e. without any added metadata. Will remain the exact same throughout
                  returnValue:
                    type: object
                    additionalProperties: {}
                  completedAutomatedRollouts:
                    type: array
                    items:
                      type: object
                      properties:
                        time:
                          type: number
                        passPercent:
                          type: number
                      required:
                      - passPercent
                    readOnly: true
                    description: 'Read-only: Automated rollout phases that have already completed.'
                  pendingAutomatedRollouts:
                    type: array
                    items:
                      type: object
                      properties:
                        time:
                          type: number
                        passPercent:
                          type: number
                      required:
                      - passPercent
                    readOnly: true
                    description: 'Read-only: Automated rollout phases that are scheduled but not yet complete.'
                  returnValueJson5:
                    type: string
                  variants:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        passPercentage:
                          type: number
                          minimum: 0
                          maximum: 100
                          multipleOf: 0.01
                        returnValue:
                          type: object
                          additionalProperties: {}
                        returnValueJson5:
                          type: string
                      required:
                      - name
                      - passPercentage
                required:
                - name
                - conditions
              description: Proposed full rule set for the dynamic config. Same shape as the DC update contract.
            default_value:
              type: object
              additionalProperties: {}
              description: Proposed default value for the dynamic config as a JSON object.
            is_enabled:
              type: boolean
              description: Proposed enabled state for the dynamic config. An explicit target, not a toggle.
            is_archived:
              type: boolean
              description: Proposed archived state for the dynamic config. `true` archives, `false` unarchives.
            delete:
              type: boolean
              enum:
              - true
              description: Delete the dynamic config. Set to `true`.
            resalt:
              type: boolean
              enum:
              - true
              description: Re-randomize the dynamic config's salt. Set to `true`.
            disable_reviews_locally:
              type: boolean
              enum:
              - true
              description: Stop requiring review on this dynamic config. Set to `true`.
            restore:
              type: object
              properties:
                snapshot_id:
                  type: string
                  minLength: 1
                  description: Snapshot ID (SUID) of the committed historical state to restore.
              required:
              - snapshot_id
              additionalProperties: false
              title: RestoreChange
              description: Revert to a prior committed snapshot (review type `rules`).
            release_pipeline_id:
              type:
              - string
              - 'null'
              minLength: 1
              description: Set or clear the dynamic config's release pipeline (review type `update_release_pipeline`). Pass a pipeline ID to attach, or `null` to detach.
            id_type:
              type: string
              minLength: 1
              description: Change the dynamic config's primary unit ID type (review type `edit_id_type`).
            allow_self_approval:
              type: boolean
              description: Whether this dynamic config's reviews may be self-approved (review type `update_allow_self_approval`).
            target_app_ids:
              type: array
              items:
                type: string
              description: Replace the dynamic config's target applications (review type `update_target_applications`).
            allowed_reviewers:
              type: object
              properties:
                user_ids:
                  type: array
                  items:
                    type: string
                  description: User IDs allowed to review. Replaces the existing set.
                group_ids:
                  type: array
                  items:
                    type: string
                  description: Reviewer group IDs allowed to review. Replaces the existing set.
              additionalProperties: false
              description: Set who may review this dynamic config (review type `allowed_reviewers`).
          additionalProperties: false
          title: DCReviewChange
          description: 'The proposed change. Provide exactly one change slot: the content bundle (`rules` and/or `default_value`), one verb/metadata field, or `restore`.'
      additionalProperties: false
      title: EditDCReviewRequest
      description: Request body for PUT /console/v1/dynamic_configs/:id/reviews/:reviewID
    RejectReviewRequestDto:
      type: object
      properties:
        reason:
          type: string
          minLength: 1
          maxLength: 2000
          description: Required reason for rejecting the review.
      required:
      - reason
      additionalProperties: false
      title: RejectReviewRequest
    CreateDCReviewRequestDto:
      type: object
      properties:
        description:
          type: string
          minLength: 1
          maxLength: 2000
          description: Human-readable description of the proposed change.
        reviewer_ids:
          default: []
          type: array
          items:
            type: string
          description: User IDs to request review from.
        reviewer_group_ids:
          default: []
          type: array
          items:
            type: string
          description: Reviewer group IDs to request review from.
        change:
          type: object
          properties:
            rules:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of this rule.
                  passPercentage:
                    type: number
                    minimum: 0
                    maximum: 100
                    multipleOf: 0.01
                    description: Of the users that meet the conditions of this rule, what percent should return true.
                  conditions:
                    type: array
                    items:
                      type: object
                      properties:
                        targetValue:
                          oneOf:
                          - type: array
                            items:
                              type: string
                          - type: array
                            items:
                              type: number
                          - type: string
                          - type: number
                        operator:
                          type: string
                          enum:
                          - any
                          - none
                          - any_case_sensitive
                          - none_case_sensitive
                          - str_contains_any
                          - str_contains_none
                          - gt
                          - lt
                          - lte
                          - gte
                          - version_gt
                          - version_lt
                          - version_gte
                          - version_lte
                          - version_eq
                          - after
                          - before
                          - 'on'
                          - is_null
                          - is_not_null
                          - str_matches
                          - encoded_any
                          - array_contains_any
                          - array_contains_none
                          - array_contains_all
                          - not_array_contains_all
[...]
