openapi: 3.2.0
info:
  title: Statsig Gates API
  version: '1.0'
  description: 'Operations tagged Gates across 2 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-gates-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://statsigapi.net
tags:
- name: Gates
  description: Manage feature gates including creation, updates, rules, overrides, enabling, disabling, launching, and archiving.
paths:
  /gates:
    get:
      operationId: listGates
      summary: List all gates
      description: Retrieves a list of all feature gates in the project with their current status and configuration.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of feature gates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Gate'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    post:
      operationId: createGate
      summary: Create a gate
      description: Creates a new feature gate in the project with the specified configuration, rules, and targeting conditions.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateCreate'
      responses:
        '201':
          description: Gate created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}:
    get:
      operationId: getGate
      summary: Get a gate
      description: Retrieves the full configuration of a specific feature gate including its rules, conditions, and overrides.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    patch:
      operationId: partiallyUpdateGate
      summary: Partially update a gate
      description: Updates specific fields of a feature gate without replacing the entire configuration.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateUpdate'
      responses:
        '200':
          description: Gate updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    delete:
      operationId: deleteGate
      summary: Delete a gate
      description: Permanently deletes a feature gate from the project. This action cannot be undone.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/enable:
    put:
      operationId: enableGate
      summary: Enable a gate
      description: Enables a feature gate so that its rules are actively evaluated for users.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate enabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/disable:
    put:
      operationId: disableGate
      summary: Disable a gate
      description: Disables a feature gate so that it returns false for all users regardless of rules.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate disabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/launch:
    put:
      operationId: launchGate
      summary: Launch a gate
      description: Launches a feature gate, indicating the feature has been fully rolled out and the gate can be cleaned up.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate launched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/archive:
    put:
      operationId: archiveGate
      summary: Archive a gate
      description: Archives a feature gate, removing it from active use while preserving its configuration for reference.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/rules:
    get:
      operationId: listGateRules
      summary: List gate rules
      description: Retrieves all rules configured for a specific feature gate.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: List of gate rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    post:
      operationId: addGateRule
      summary: Add a gate rule
      description: Adds a new targeting rule to a feature gate.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
      responses:
        '201':
          description: Rule added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    put:
      operationId: updateGateRules
      summary: Update gate rules
      description: Replaces all rules for a feature gate with the provided set of rules.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/Rule'
      responses:
        '200':
          description: Rules updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/rules/{ruleID}:
    delete:
      operationId: deleteGateRule
      summary: Delete a gate rule
      description: Removes a specific targeting rule from a feature gate.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      - name: ruleID
        in: path
        required: true
        schema:
          type: string
        description: The identifier of the rule to delete.
      responses:
        '200':
          description: Rule deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /gates/{id}/overrides:
    get:
      operationId: getGateOverrides
      summary: Get gate overrides
      description: Retrieves the user and ID overrides configured for a feature gate.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Gate overrides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Overrides'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    post:
      operationId: addGateOverrides
      summary: Add gate overrides
      description: Adds user or ID overrides to a feature gate for forcing specific evaluation results.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Overrides'
      responses:
        '200':
          description: Overrides added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Overrides'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    put:
      operationId: updateGateOverrides
      summary: Update gate overrides
      description: Replaces all overrides for a feature gate with the provided set.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Overrides'
      responses:
        '200':
          description: Overrides updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Overrides'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    delete:
      operationId: deleteGateOverrides
      summary: Delete gate overrides
      description: Removes all user and ID overrides from a feature gate.
      tags:
      - Gates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/GateId'
      responses:
        '200':
          description: Overrides deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /console/v1/gates:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Gates
      parameters:
      - name: idType
        required: false
        in: query
        description: Filter by idType
        examples:
          single id type:
            value: userID
          multiple id types:
            value:
            - userID
            - stableID
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: type
        required: false
        in: query
        description: Filter by type
        schema:
          type: string
          enum:
          - TEMPORARY
          - PERMANENT
          - STALE
          - TEMPLATE
      - name: typeReason
        required: false
        in: query
        description: Filter by typeReason
        schema:
          type: string
          enum:
          - NONE
          - STALE_PROBABLY_LAUNCHED
          - STALE_PROBABLY_UNLAUNCHED
          - STALE_PROBABLY_FORGOTTEN
          - STALE_NO_RULES
          - STALE_PROBABLY_DEAD_CHECK
          - STALE_EMPTY_CHECKS
          - STALE_ALL_TRUE
          - STALE_ALL_FALSE
      - name: passRate
        required: false
        in: query
        description: 'Filter by pass rate of the gates, as determined by a sampling of overall true/false values returned: 0, 100, or INBETWEEN (pass rate greater than zero but less than 100)'
        schema:
          oneOf:
          - type: string
            enum:
            - '0'
            - '100'
            - INBETWEEN
          - type: array
            items:
              type: string
              enum:
              - '0'
              - '100'
              - INBETWEEN
      - name: rolloutRate
        required: false
        in: query
        description: 'Filter by rollout rate of the gates: 0 (all rules are set to pass 0%), 100 (all rules pass 100% including an "everyone" catch all rule), or INBETWEEN (at least one rule has a pass rate greater than 0 but less than 100)'
        schema:
          oneOf:
          - type: string
            enum:
            - '0'
            - '100'
            - INBETWEEN
          - type: array
            items:
              type: string
              enum:
              - '0'
              - '100'
              - INBETWEEN
      - name: releasePipelineID
        required: false
        in: query
        description: Filter by release pipeline ID
        schema:
          type:
          - string
          - 'null'
      - name: teamID
        required: false
        in: query
        description: Filter by team ID
        schema:
          type: string
      - name: targetAppID
        required: false
        in: query
        description: Filter by target app ID
        schema:
          type: string
      - name: includeArchived
        required: false
        in: query
        description: Include archived gates in the response
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on archived gates. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: store0100Exposures
        required: false
        in: query
        description: Filter gates by whether "Store 0/100 Exposures" is enabled.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: creatorName
        required: false
        in: query
        description: Name of the creator.
        schema:
          type:
          - string
          - 'null'
      - name: creatorID
        required: false
        in: query
        description: ID of the user who created the entity.
        schema:
          type:
          - string
          - 'null'
      - name: tags
        required: false
        in: query
        description: Filter by tags
        examples:
          single tag:
            value: tag1
          multiple tags:
            value:
            - tag1
            - tag2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List gates success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gates listed successfully.
                  data:
                  - id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                    lastModifiedTime: 1705439406750
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                    createdTime: 1705439406615
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: true
                    status: In Progress
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 1
                    permalink: https://console.statsig.com/company_id/gates/a_gate
                  pagination:
                    all: ''
                    itemsPerPage: 100
                    nextPage: null
                    pageNumber: 1
                    previousPage: null
                    totalItems: 1
              example:
                message: Gates listed successfully.
                data:
                - id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifiedTime: 1705439406750
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  createdTime: 1705439406615
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 1
                  permalink: https://console.statsig.com/company_id/gates/a_gate
                pagination:
                  all: ''
                  itemsPerPage: 100
                  nextPage: null
                  pageNumber: 1
                  previousPage: null
                  totalItems: 1
        '403':
          description: Forbidden resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    enum:
                    - 403
                  message:
                    type: string
                    enum:
                    - Forbidden resource
                required:
                - status
                - message
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: Forbidden resource
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Gates
      x-operation-id-source: derived
    post:
      summary: Create Gate
      parameters:
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateCreateDto'
      responses:
        '201':
          description: Create gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate created successfully.
                  data:
                    id: a_gate
                    permalink: https://console.statsig.com/company_id/gates/a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1704929983827
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1704929979761
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: true
                    status: In Progress
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 1
              example:
                message: Gate created successfully.
                data:
                  id: a_gate
                  permalink: https://console.statsig.com/company_id/gates/a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1704929983827
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1704929979761
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 1
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1Gates
      x-operation-id-source: derived
  /console/v1/gates/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Get gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate read successfully.
                  data:
                    id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1704929983827
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1704929979761
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: true
                    status: In Progress
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 1
                    permalink: https://console.statsig.com/company_id/gates/a_gate
              example:
                message: Gate read successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1704929983827
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1704929979761
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 1
                  permalink: https://console.statsig.com/company_id/gates/a_gate
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesById
      x-operation-id-source: derived
    post:
      summary: Fully Update Gates
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GateFullUpdateDto'
      responses:
        '200':
          description: Update gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  data:
                    checksPerHour: 0
                    createdTime: 1705439406615
                    creatorEmail: null
                    creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                    creatorName: CONSOLE API
                    description: Updated Gate Description
                    holdoutIDs: []
                    id: a_gate
                    idType: stableID
                    isEnabled: false
                    lastModifiedTime: 1705439409750
                    lastModifierEmail: null
                    lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                    lastModifierName: CONSOLE API
                    name: A Gate
                    rules:
                    - conditions:
                      - operator: any
                        targetValue:
                        - '111'
                        - '222'
                        type: user_id
                      - operator: str_contains_any
                        targetValue:
                        - '@outlook.com'
                        - '@gmail.com'
                        type: email
                      - field: age
                        operator: gt
                        targetValue: 31
                        type: custom_field
                      - operator: version_gt
                        targetValue: 1.1.1
                        type: app_version
                      - operator: any
                        targetValue:
                        - Android
                        - Chrome
                        type: browser_name
                      - operator: any
                        targetValue:
                        - 94.0.4606.81
                        - 94.0.4606.92
                        type: browser_version
                      - operator: none
                        targetValue:
                        - Android
                        - Windows
                        type: os_name
                      - operator: version_lte
                        targetValue: 11.0.0
                        type: os_version
                      - operator: any
                        targetValue:
                        - NZ
                        - US
                        type: country
                      - operator: any
                        targetValue:
                        - production
                        type: environment_tier
                      - targetValue: growth_org
                        type: passes_segment
                      - targetValue: growth_org
                        type: fails_segment
                      - operator: any
                        targetValue:
                        - 1.1.1.1
                        - 8.8.8.8
                        type: ip_address
                      - customID: userID
                        operator: any
                        targetValue:
                        - '31'
                        type: unit_id
                      environments: null
                      name: All Conditions
                      passPercentage: 10
                    status: Disabled
                    tags:
                    - ★ Core
                    targetApps: []
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
                  message: Gate updated successfully.
              example:
                data:
                  checksPerHour: 0
                  createdTime: 1705439406615
                  creatorEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  creatorName: CONSOLE API
                  description: Updated Gate Description
                  holdoutIDs: []
                  id: a_gate
                  idType: stableID
                  isEnabled: false
                  lastModifiedTime: 1705439409750
                  lastModifierEmail: null
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifierName: CONSOLE API
                  name: A Gate
                  rules:
                  - conditions:
                    - operator: any
                      targetValue:
                      - '111'
                      - '222'
                      type: user_id
                    - operator: str_contains_any
                      targetValue:
                      - '@outlook.com'
                      - '@gmail.com'
                      type: email
                    - field: age
                      operator: gt
                      targetValue: 31
                      type: custom_field
                    - operator: version_gt
                      targetValue: 1.1.1
                      type: app_version
                    - operator: any
                      targetValue:
                      - Android
                      - Chrome
                      type: browser_name
                    - operator: any
                      targetValue:
                      - 94.0.4606.81
                      - 94.0.4606.92
                      type: browser_version
                    - operator: none
                      targetValue:
                      - Android
                      - Windows
                      type: os_name
                    - operator: version_lte
                      targetValue: 11.0.0
                      type: os_version
                    - operator: any
                      targetValue:
                      - NZ
                      - US
                      type: country
                    - operator: any
                      targetValue:
                      - production
                      type: environment_tier
                    - targetValue: growth_org
                      type: passes_segment
                    - targetValue: growth_org
                      type: fails_segment
                    - operator: any
                      targetValue:
                      - 1.1.1.1
                      - 8.8.8.8
                      type: ip_address
                    - customID: userID
                      operator: any
                      targetValue:
                      - '31'
                      type: unit_id
                    environments: null
                    name: All Conditions
                    passPercentage: 10
                  status: Disabled
                  tags:
                  - ★ Core
                  targetApps: []
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
                message: Gate updated successfully.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1GatesById
      x-operation-id-source: derived
    patch:
      summary: Partially Update Gates
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatePartialUpdateDto'
      responses:
        '200':
          description: Update gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  data:
                    checksPerHour: 0
                    createdTime: 1705439406750
                    creatorEmail: null
                    creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                    creatorName: CONSOLE API
                    description: Updated the description of the gate
                    holdoutIDs: []
                    id: a_gate
                    idType: userID
                    isEnabled: true
                    lastModifiedTime: 1705439498468
                    lastModifierEmail: null
                    lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                    lastModifierName: CONSOLE API
                    name: A Gate
                    rules: []
                    status: In Progress
                    tags: []
                    targetApps: []
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
                  message: Gate updated successfully.
              example:
                data:
                  checksPerHour: 0
                  createdTime: 1705439406750
                  creatorEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  creatorName: CONSOLE API
                  description: Updated the description of the gate
                  holdoutIDs: []
                  id: a_gate
                  idType: userID
                  isEnabled: true
                  lastModifiedTime: 1705439498468
                  lastModifierEmail: null
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifierName: CONSOLE API
                  name: A Gate
                  rules: []
                  status: In Progress
                  tags: []
                  targetApps: []
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
                message: Gate updated successfully.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1GatesById
      x-operation-id-source: derived
    delete:
      summary: Delete Gates
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete gate response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Gate deleted successfully.
              example:
                message: Gate deleted successfully.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1GatesById
      x-operation-id-source: derived
  /console/v1/gates/{id}/alerts/{metricId}/resolve:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Resolve Metric Rollout Alert
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: metricId
        required: true
        in: path
        description: metric id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveGuardrailAlertRequestDto'
      responses:
        '200':
          description: Metric rollout alert resolved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ResolveGuardrailAlertResponseDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1GatesByIdAlertsByMetricIdResolve
      x-operation-id-source: derived
  /console/v1/gates/{id}/archive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Archive Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSchemaDto'
      responses:
        '200':
          description: Archive gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate updated successfully.
                  data:
                    id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1705691355849
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1705691325569
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: true
                    status: Archived
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
              example:
                message: Gate updated successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1705691355849
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1705691325569
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: Archived
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1GatesByIdArchive
      x-operation-id-source: derived
  /console/v1/gates/{id}/checks:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Gate Checks
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Gate checks response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/GateChecksDto'
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdChecks
      x-operation-id-source: derived
  /console/v1/gates/{id}/code_cleanup:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Start Gate Code Cleanup
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Start gate code cleanup
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Gate code cleanup started.
              example:
                message: Gate code cleanup started.
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1GatesByIdCodeCleanup
      x-operation-id-source: derived
  /console/v1/gates/{id}/disable:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Disable Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Launch gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate updated successfully.
                  data:
                    id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1705626260086
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1705450774719
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: false
                    status: Launched
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
              example:
                message: Gate updated successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1705626260086
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1705450774719
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: false
                  status: Launched
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1GatesByIdDisable
      x-operation-id-source: derived
  /console/v1/gates/{id}/dynamic_config_references:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Dynamic Config References
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          minimum: 0
          maximum: 100
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List dynamic configs that reference this gate
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DynamicConfigDto'
                example:
                  message: Dynamic Configs listed successfully.
                  data:
                  - id: example_config
                    permalink: https://console.statsig.com/company_id/dynamic_configs/example_config
                    name: Example Config
                    description: An example dynamic configuration
                    idType: userID
                    lastModifierID: abc123
                    lastModifiedTime: 1600000000000
                    lastModifierName: Jane Doe
                    lastModifierEmail: jane@example.com
                    creatorID: def456
                    createdTime: 1500000000000
                    creatorName: John Smith
                    creatorEmail: john@example.com
                    targetApps:
                    - myapp
                    holdoutIDs: []
                    tags:
                    - example_tag
                    type: TEMPORARY
                    typeReason: NONE
                    isPermanent: false
                    team: Product
                    isEnabled: true
                    rules: []
                    defaultValue: {}
                    defaultValueJson5: '{}'
                    schema: '{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{}}'
                    schemaJson5: "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"properties\": {}\n}"
                    version: 1
              example:
                message: Dynamic Configs listed successfully.
                data:
                - id: example_config
                  permalink: https://console.statsig.com/company_id/dynamic_configs/example_config
                  name: Example Config
                  description: An example dynamic configuration
                  idType: userID
                  lastModifierID: abc123
                  lastModifiedTime: 1600000000000
                  lastModifierName: Jane Doe
                  lastModifierEmail: jane@example.com
                  creatorID: def456
                  createdTime: 1500000000000
                  creatorName: John Smith
                  creatorEmail: john@example.com
                  targetApps:
                  - myapp
                  holdoutIDs: []
                  tags:
                  - example_tag
                  type: TEMPORARY
                  typeReason: NONE
                  isPermanent: false
                  team: Product
                  isEnabled: true
                  rules: []
                  defaultValue: {}
                  defaultValueJson5: '{}'
                  schema: '{"$schema":"https://json-schema.org/draft/2020-12/schema","properties":{}}'
                  schemaJson5: "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"properties\": {}\n}"
                  version: 1
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdDynamicConfigReferences
      x-operation-id-source: derived
  /console/v1/gates/{id}/eligible_reviewers:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Eligible Reviewers
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Users and groups eligible to review changes to this gate. `everyone_eligible` is true when no specific reviewers are configured. `users` is the flattened, deduped union of individual reviewers and all group members; `groups` lists each eligible group with its member `user_ids`. Project admins can always review and are not enumerated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EligibleReviewersDto'
                example:
                  data:
                    everyone_eligible: false
                    users:
                    - id: user_abc
                      email: alice@example.com
                      name: Alice Example
                    groups:
                    - id: group_xyz
                      name: Growth
                      user_ids:
                      - user_abc
                  message: Successfully retrieved eligible reviewers
              example:
                data:
                  everyone_eligible: false
                  users:
                  - id: user_abc
                    email: alice@example.com
                    name: Alice Example
                  groups:
                  - id: group_xyz
                    name: Growth
                    user_ids:
                    - user_abc
                message: Successfully retrieved eligible reviewers
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdEligibleReviewers
      x-operation-id-source: derived
  /console/v1/gates/{id}/enable:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Enable Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Enable gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate updated successfully.
                  data:
                    id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1705626260086
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1705450774719
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: false
                    status: Launched
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
              example:
                message: Gate updated successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1705626260086
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1705450774719
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: false
                  status: Launched
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1GatesByIdEnable
      x-operation-id-source: derived
  /console/v1/gates/{id}/experiment_references:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Experiment References
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          minimum: 0
          maximum: 100
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List experiments that reference this gate
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Experiments listed successfully.
                  data:
                  - id: a_experiment
                    permalink: https://console.statsig.com/company_id/experiments/a_experiment
                    name: a_experiment
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1707427635442
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1707427634717
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    status: setup
                    experimentType: BASE
                    launchedGroupID: null
                    startTime: null
                    endTime: null
                    layerID: null
                    hypothesis: This will be a good feature :)
                    primaryMetrics:
                    - name: d1_retention_rate
                      type: user
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags: []
                    groups:
                    - name: Control
                      id: 6sEQvUd4c6E55V6ljBYMeJ
                      size: 50
                      parameterValues:
                        assigned_group: control
                      description: ''
                      isControl: true
                    - name: Test
                      id: 6sEQvVS6EoNzpkEgUJUpxL
                      size: 50
                      parameterValues:
                        assigned_group: test
                      description: ''
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: ''
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    decisionReason: null
                    decisionTime: null
                    healthChecks: []
                    owner:
                      ownerType: USER
                      ownerName: Test User
                    inlineTargetingRulesJSON: '{}'
                    healthCheckStatus: PASSED
                    isStale: false
                    powerAnalyses: []
                  - id: b_experiment
                    permalink: https://console.statsig.com/company_id/experiments/b_experiment
                    name: b experiment
                    description: ''
                    idType: userID
                    inlineTargetingRulesJSON: '{}'
                    lastModifierID: 68ztZp2v2nFc81RAsvuvj4
                    lastModifiedTime: 1706744900374
                    lastModifierName: jacob O'Quinn
                    lastModifierEmail: jacob@statsig.com
                    creatorID: 68ztZp2v2nFc81RAsvuvj4
                    createdTime: 1678394676162
                    creatorName: jacob O'Quinn
                    creatorEmail: jacob@statsig.com
                    targetApps: []
                    holdoutIDs: []
                    tags:
                    - customTag
                    - asdf
                    status: archived
                    experimentType: BASE
                    launchedGroupID: null
                    startTime: null
                    endTime: null
                    layerID: null
                    hypothesis: ''
                    primaryMetrics: []
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags:
                    - ★ Core
                    groups:
                    - name: Control
                      id: 7dCnwm0by2laSOcBNKIL8r
                      size: 50
                      parameterValues:
                        control: control value
                      description: ''
                      isControl: true
                    - name: Test
                      id: 7dCnwnFe0kuFcdKxoSEort
                      size: 50
                      parameterValues:
                        control: test value
                      description: ''
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: targeting_gate_to_select_users
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    decisionReason: null
                    decisionTime: null
                    healthCheckStatus: WAITING
                    healthChecks:
                    - name: Checks not yet detected
                      status: WAITING
                      description: This experiment has not recorded any exposure checks in production yet.
                    - name: Valid unit type not yet verified
                      status: WAITING
                      description: Exposure checks for this experiment are pending evaluation. This experiment requires exposure checks with unit IDs of type userID
                    - name: Event metric data not yet verified
                      status: WAITING
                      description: This experiment has recorded no event metric with a valid unit ID yet, or these event metrics are pending evaluation. If you are importing events, this may take up to a day to reflect. This experiment requires metrics with unit IDs of type userID
                    - name: Pulse metrics not yet available
                      status: WAITING
                      description: Expect to see your Pulse Results within 24 hours. Statsig computes Pulse results on a daily basis.
                    - name: Exposure balance not yet verified
                      status: WAITING
                      description: Exposure balance for this experiment is pending evaluation. As the experiment records more exposures, Statsig will continue to evaluate experiment exposure balance.
                    isStale: false
                    powerAnalyses: []
              example:
                message: Experiments listed successfully.
                data:
                - id: a_experiment
                  permalink: https://console.statsig.com/company_id/experiments/a_experiment
                  name: a_experiment
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707427635442
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707427634717
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  status: setup
                  experimentType: BASE
                  launchedGroupID: null
                  startTime: null
                  endTime: null
                  layerID: null
                  hypothesis: This will be a good feature :)
                  primaryMetrics:
                  - name: d1_retention_rate
                    type: user
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags: []
                  groups:
                  - name: Control
                    id: 6sEQvUd4c6E55V6ljBYMeJ
                    size: 50
                    parameterValues:
                      assigned_group: control
                    description: ''
                    isControl: true
                  - name: Test
                    id: 6sEQvVS6EoNzpkEgUJUpxL
                    size: 50
                    parameterValues:
                      assigned_group: test
                    description: ''
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: ''
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  decisionReason: null
                  decisionTime: null
                  healthChecks: []
                  owner:
                    ownerType: USER
                    ownerName: Test User
                  inlineTargetingRulesJSON: '{}'
                  healthCheckStatus: PASSED
                  isStale: false
                  powerAnalyses: []
                - id: b_experiment
                  permalink: https://console.statsig.com/company_id/experiments/b_experiment
                  name: b experiment
                  description: ''
                  idType: userID
                  inlineTargetingRulesJSON: '{}'
                  lastModifierID: 68ztZp2v2nFc81RAsvuvj4
                  lastModifiedTime: 1706744900374
                  lastModifierName: jacob O'Quinn
                  lastModifierEmail: jacob@statsig.com
                  creatorID: 68ztZp2v2nFc81RAsvuvj4
                  createdTime: 1678394676162
                  creatorName: jacob O'Quinn
                  creatorEmail: jacob@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags:
                  - customTag
                  - asdf
                  status: archived
                  experimentType: BASE
                  launchedGroupID: null
                  startTime: null
                  endTime: null
                  layerID: null
                  hypothesis: ''
                  primaryMetrics: []
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags:
                  - ★ Core
                  groups:
                  - name: Control
                    id: 7dCnwm0by2laSOcBNKIL8r
                    size: 50
                    parameterValues:
                      control: control value
                    description: ''
                    isControl: true
                  - name: Test
                    id: 7dCnwnFe0kuFcdKxoSEort
                    size: 50
                    parameterValues:
                      control: test value
                    description: ''
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: targeting_gate_to_select_users
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  decisionReason: null
                  decisionTime: null
                  healthCheckStatus: WAITING
                  healthChecks:
                  - name: Checks not yet detected
                    status: WAITING
                    description: This experiment has not recorded any exposure checks in production yet.
                  - name: Valid unit type not yet verified
                    status: WAITING
                    description: Exposure checks for this experiment are pending evaluation. This experiment requires exposure checks with unit IDs of type userID
                  - name: Event metric data not yet verified
                    status: WAITING
                    description: This experiment has recorded no event metric with a valid unit ID yet, or these event metrics are pending evaluation. If you are importing events, this may take up to a day to reflect. This experiment requires metrics with unit IDs of type userID
                  - name: Pulse metrics not yet available
                    status: WAITING
                    description: Expect to see your Pulse Results within 24 hours. Statsig computes Pulse results on a daily basis.
                  - name: Exposure balance not yet verified
                    status: WAITING
                    description: Exposure balance for this experiment is pending evaluation. As the experiment records more exposures, Statsig will continue to evaluate experiment exposure balance.
                  isStale: false
                  powerAnalyses: []
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdExperimentReferences
      x-operation-id-source: derived
  /console/v1/gates/{id}/gate_references:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Gate References
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        schema:
          minimum: 0
          maximum: 100
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List entities that reference this gate
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gates listed successfully.
                  data:
                  - id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                    lastModifiedTime: 1705439406750
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                    createdTime: 1705439406615
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: true
                    status: In Progress
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 1
                    permalink: https://console.statsig.com/company_id/gates/a_gate
                  pagination:
                    all: ''
                    itemsPerPage: 100
                    nextPage: null
                    pageNumber: 1
                    previousPage: null
                    totalItems: 1
              example:
                message: Gates listed successfully.
                data:
                - id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 4R5PV7mvYdW6NLCwK8ocoz
                  lastModifiedTime: 1705439406750
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4R5PV7mvYdW6NLCwK8ocoz
                  createdTime: 1705439406615
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: true
                  status: In Progress
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 1
                  permalink: https://console.statsig.com/company_id/gates/a_gate
                pagination:
                  all: ''
                  itemsPerPage: 100
                  nextPage: null
                  pageNumber: 1
                  previousPage: null
                  totalItems: 1
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdGateReferences
      x-operation-id-source: derived
  /console/v1/gates/{id}/launch:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Launch Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: includeArchiveMetadata
        required: false
        in: query
        description: When "true", populate archivedAt / archivedBy* / archiveReason on the gate when it is currently archived. When omitted or "false", those fields are absent from the response.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Launch gate response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalGateDto'
                example:
                  message: Gate updated successfully.
                  data:
                    id: a_gate
                    name: A Gate
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1705626260086
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1705450774719
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    isEnabled: false
                    status: Launched
                    rules: []
                    checksPerHour: 0
                    type: PERMANENT
                    typeReason: NONE
                    team: null
                    reviewSettings:
                      requiredReview: false
                      allowedReviewers: []
                    measureMetricLifts: true
                    store0100Exposures: false
                    owner:
                      ownerID: user123
                      ownerName: CONSOLE API
                      ownerType: SDK_KEY
                      ownerEmail: ''
                    monitoringMetrics: []
                    version: 2
                    permalink: https://console.statsig.com/company_id/gates/a_gate
              example:
                message: Gate updated successfully.
                data:
                  id: a_gate
                  name: A Gate
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1705626260086
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1705450774719
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  isEnabled: false
                  status: Launched
                  rules: []
                  checksPerHour: 0
                  type: PERMANENT
                  typeReason: NONE
                  team: null
                  reviewSettings:
                    requiredReview: false
                    allowedReviewers: []
                  measureMetricLifts: true
                  store0100Exposures: false
                  owner:
                    ownerID: user123
                    ownerName: CONSOLE API
                    ownerType: SDK_KEY
                    ownerEmail: ''
                  monitoringMetrics: []
                  version: 2
                  permalink: https://console.statsig.com/company_id/gates/a_gate
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1GatesByIdLaunch
      x-operation-id-source: derived
  /console/v1/gates/{id}/load_pulse:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Load Pulse Gate
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchidnaGateLoadPulseQueryDto'
      responses:
        '200':
          description: Load Pulse Gate Response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Gate loaded successfully.
              example:
                message: Gate loaded successfully.
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1GatesByIdLoadPulse
      x-operation-id-source: derived
  /console/v1/gates/{id}/overrides:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Gate Override
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '201':
          description: Get Gate Override Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/OverrideDto'
                example:
                  message: Gate Overrides read successfully.
                  data:
                    passingUserIDs:
                    - passing-user
                    failingUserIDs:
                    - failing-user
                    passingCustomIDs:
                    - passing-custom-id
                    failingCustomIDs:
                    - passing-custom-id
              example:
                message: Gate Overrides read successfully.
                data:
                  passingUserIDs:
                  - passing-user
                  failingUserIDs:
                  - failing-user
                  passingCustomIDs:
                  - passing-custom-id
                  failingCustomIDs:
                  - passing-custom-id
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1GatesByIdOverrides
      x-operation-id-source: derived
    post:
      summary: Update Gate Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOverridesContractDto'
      responses:
        '201':
          description: Update Gate Override Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/OverrideDto'
                example:
                  passingUserIDs:
                  - passing-user
                  failingUserIDs:
                  - failing-user
              example:
                passingUserIDs:
                - passing-user
                failingUserIDs:
                - failing-user
      tags:
      - Gates
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1GatesByIdOverrides
      x-operation-id-source: derived
    patch:
      summary: Add Gate Overrides
      parameters:
      - name: id
        required: true
        in: path
[...]
