openapi: 3.2.0
info:
  title: Statsig Experiments API
  version: '1.0'
  description: 'Operations tagged Experiments across 3 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-http-api-openapi.yml, statsig-experiments-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://api.statsig.com/v1
  description: Statsig API Server
- url: https://statsigapi.net
tags:
- name: Experiments
  description: Manage A/B test experiments including creation, configuration, starting, resetting, and analysis.
paths:
  /experiments:
    get:
      operationId: listExperiments
      summary: List all experiments
      description: Retrieves a list of all experiments in the project with their current status and configuration.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of experiments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Experiment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    post:
      operationId: createExperiment
      summary: Create an experiment
      description: Creates a new experiment in the project with the specified hypothesis, groups, and parameter configuration.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreate'
      responses:
        '201':
          description: Experiment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /experiments/{id}:
    get:
      operationId: getExperiment
      summary: Get an experiment
      description: Retrieves the full configuration of a specific experiment including its groups, parameters, hypothesis, and status.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ExperimentId'
      responses:
        '200':
          description: Experiment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    patch:
      operationId: partiallyUpdateExperiment
      summary: Partially update an experiment
      description: Updates specific fields of an experiment without replacing the entire configuration.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ExperimentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentUpdate'
      responses:
        '200':
          description: Experiment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    delete:
      operationId: deleteExperiment
      summary: Delete an experiment
      description: Permanently deletes an experiment from the project.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ExperimentId'
      responses:
        '200':
          description: Experiment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /experiments/{id}/start:
    put:
      operationId: startExperiment
      summary: Start an experiment
      description: Starts an experiment, beginning to allocate users to experiment groups and logging exposures.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ExperimentId'
      responses:
        '200':
          description: Experiment started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /experiments/{id}/reset:
    put:
      operationId: resetExperiment
      summary: Reset an experiment
      description: Resets an experiment, clearing all collected data and resetting user assignments.
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/ExperimentId'
      responses:
        '200':
          description: Experiment reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /get_experiment:
    post:
      operationId: postGetExperiment
      summary: Get an experiment configuration
      description: Fetches the experiment configuration and group assignment for the specified user. This is functionally similar to get_config but specifically targets experiments. An exposure event is automatically logged for experiment analysis.
      tags:
      - Experiments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              - experimentName
              properties:
                user:
                  $ref: '#/components/schemas/StatsigUser'
                experimentName:
                  type: string
                  description: The name of the experiment to retrieve.
      responses:
        '200':
          description: Experiment configuration and group assignment
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the experiment.
                  value:
                    type: object
                    description: The JSON object containing the experiment parameter values for this user.
                  group:
                    type: string
                    description: The experiment group the user was assigned to.
                  rule_id:
                    type: string
                    description: The identifier of the rule that was matched.
                  group_name:
                    type: string
                    description: The name of the group the user was assigned to.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - statsigApiKey: []
      x-operation-id-source: normalized
      x-operation-id-original: getExperiment
    servers:
    - url: https://api.statsig.com/v1
      description: Statsig API Server
  /console/v1/experiments:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Experiments
      parameters:
      - name: layerID
        required: false
        in: query
        description: Which layer to place the experiment into.
        schema:
          type: string
      - name: idType
        required: false
        in: query
        description: The idType the experiment will be performed on
        schema:
          type: string
      - name: teamID
        required: false
        in: query
        description: The team ID associated with the experiment, Enterprise only.
        schema:
          type:
          - string
          - 'null'
      - name: status
        required: false
        in: query
        description: The current status of the experiment
        schema:
          oneOf:
          - type: string
            enum:
            - active
            - setup
            - decision_made
            - abandoned
            - archived
            - experiment_stopped
            - assignment_stopped
          - type: array
            items:
              type: string
              enum:
              - active
              - setup
              - decision_made
              - abandoned
              - archived
              - experiment_stopped
              - assignment_stopped
      - name: targetAppID
        required: false
        in: query
        schema:
          type: string
      - name: stale
        required: false
        in: query
        description: When true, only returns stale experiments. If omitted or false, returns all experiments.
        schema:
          type: boolean
      - name: createdStartDate
        required: false
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: createdEndDate
        required: false
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: experimentType
        required: false
        in: query
        description: Filter by experiment type
        schema:
          oneOf:
          - type: string
            enum:
            - BASE
            - GEO
            - SWITCHBACK
            - PROMPT
            - SIDECAR
            - GRID_SEARCH
          - type: array
            items:
              type: string
              enum:
              - BASE
              - GEO
              - SWITCHBACK
              - PROMPT
              - SIDECAR
              - GRID_SEARCH
      - name: ids
        required: false
        in: query
        description: Fetch a specific set of experiments by ID in a single request (comma-separated, max 100). Only experiments matching these IDs are returned; unknown IDs are omitted. For more than 100, split into batches of 100. Combine with `fields` to fetch trimmed details for several experiments at once.
        examples:
          single id:
            value: experiment_a
          multiple ids:
            value: experiment_a,experiment_b
        schema:
          maxItems: 100
          type: array
          items:
            type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated list of top-level fields to return (sparse fieldset), e.g. `id,name,hypothesis,groups`. `id` is always included. Reduces response size; when omitted the full experiment is returned.
        examples:
          single field:
            value: hypothesis
          multiple fields:
            value: id,name,hypothesis,groups
        schema:
          type: array
          items:
            type: string
      - name: creatorName
        required: false
        in: query
        description: Name of the creator.
        schema:
          type:
          - string
          - 'null'
      - name: creatorID
        required: false
        in: query
        description: ID of the user who created the entity.
        schema:
          type:
          - string
          - 'null'
      - name: tags
        required: false
        in: query
        description: Filter by tags
        examples:
          single tag:
            value: tag1
          multiple tags:
            value:
            - tag1
            - tag2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Experiments Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Experiments listed successfully.
                  data:
                  - id: a_experiment
                    permalink: https://console.statsig.com/company_id/experiments/a_experiment
                    name: a_experiment
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1707427635442
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1707427634717
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    status: setup
                    experimentType: BASE
                    launchedGroupID: null
                    startTime: null
                    endTime: null
                    layerID: null
                    hypothesis: This will be a good feature :)
                    primaryMetrics:
                    - name: d1_retention_rate
                      type: user
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags: []
                    groups:
                    - name: Control
                      id: 6sEQvUd4c6E55V6ljBYMeJ
                      size: 50
                      parameterValues:
                        assigned_group: control
                      description: ''
                      isControl: true
                    - name: Test
                      id: 6sEQvVS6EoNzpkEgUJUpxL
                      size: 50
                      parameterValues:
                        assigned_group: test
                      description: ''
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: ''
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    decisionReason: null
                    decisionTime: null
                    healthChecks: []
                    owner:
                      ownerType: USER
                      ownerName: Test User
                    inlineTargetingRulesJSON: '{}'
                    healthCheckStatus: PASSED
                    isStale: false
                    powerAnalyses: []
                  - id: b_experiment
                    permalink: https://console.statsig.com/company_id/experiments/b_experiment
                    name: b experiment
                    description: ''
                    idType: userID
                    inlineTargetingRulesJSON: '{}'
                    lastModifierID: 68ztZp2v2nFc81RAsvuvj4
                    lastModifiedTime: 1706744900374
                    lastModifierName: jacob O'Quinn
                    lastModifierEmail: jacob@statsig.com
                    creatorID: 68ztZp2v2nFc81RAsvuvj4
                    createdTime: 1678394676162
                    creatorName: jacob O'Quinn
                    creatorEmail: jacob@statsig.com
                    targetApps: []
                    holdoutIDs: []
                    tags:
                    - customTag
                    - asdf
                    status: archived
                    experimentType: BASE
                    launchedGroupID: null
                    startTime: null
                    endTime: null
                    layerID: null
                    hypothesis: ''
                    primaryMetrics: []
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags:
                    - ★ Core
                    groups:
                    - name: Control
                      id: 7dCnwm0by2laSOcBNKIL8r
                      size: 50
                      parameterValues:
                        control: control value
                      description: ''
                      isControl: true
                    - name: Test
                      id: 7dCnwnFe0kuFcdKxoSEort
                      size: 50
                      parameterValues:
                        control: test value
                      description: ''
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: targeting_gate_to_select_users
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    decisionReason: null
                    decisionTime: null
                    healthCheckStatus: WAITING
                    healthChecks:
                    - name: Checks not yet detected
                      status: WAITING
                      description: This experiment has not recorded any exposure checks in production yet.
                    - name: Valid unit type not yet verified
                      status: WAITING
                      description: Exposure checks for this experiment are pending evaluation. This experiment requires exposure checks with unit IDs of type userID
                    - name: Event metric data not yet verified
                      status: WAITING
                      description: This experiment has recorded no event metric with a valid unit ID yet, or these event metrics are pending evaluation. If you are importing events, this may take up to a day to reflect. This experiment requires metrics with unit IDs of type userID
                    - name: Pulse metrics not yet available
                      status: WAITING
                      description: Expect to see your Pulse Results within 24 hours. Statsig computes Pulse results on a daily basis.
                    - name: Exposure balance not yet verified
                      status: WAITING
                      description: Exposure balance for this experiment is pending evaluation. As the experiment records more exposures, Statsig will continue to evaluate experiment exposure balance.
                    isStale: false
                    powerAnalyses: []
              example:
                message: Experiments listed successfully.
                data:
                - id: a_experiment
                  permalink: https://console.statsig.com/company_id/experiments/a_experiment
                  name: a_experiment
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707427635442
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707427634717
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  status: setup
                  experimentType: BASE
                  launchedGroupID: null
                  startTime: null
                  endTime: null
                  layerID: null
                  hypothesis: This will be a good feature :)
                  primaryMetrics:
                  - name: d1_retention_rate
                    type: user
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags: []
                  groups:
                  - name: Control
                    id: 6sEQvUd4c6E55V6ljBYMeJ
                    size: 50
                    parameterValues:
                      assigned_group: control
                    description: ''
                    isControl: true
                  - name: Test
                    id: 6sEQvVS6EoNzpkEgUJUpxL
                    size: 50
                    parameterValues:
                      assigned_group: test
                    description: ''
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: ''
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  decisionReason: null
                  decisionTime: null
                  healthChecks: []
                  owner:
                    ownerType: USER
                    ownerName: Test User
                  inlineTargetingRulesJSON: '{}'
                  healthCheckStatus: PASSED
                  isStale: false
                  powerAnalyses: []
                - id: b_experiment
                  permalink: https://console.statsig.com/company_id/experiments/b_experiment
                  name: b experiment
                  description: ''
                  idType: userID
                  inlineTargetingRulesJSON: '{}'
                  lastModifierID: 68ztZp2v2nFc81RAsvuvj4
                  lastModifiedTime: 1706744900374
                  lastModifierName: jacob O'Quinn
                  lastModifierEmail: jacob@statsig.com
                  creatorID: 68ztZp2v2nFc81RAsvuvj4
                  createdTime: 1678394676162
                  creatorName: jacob O'Quinn
                  creatorEmail: jacob@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags:
                  - customTag
                  - asdf
                  status: archived
                  experimentType: BASE
                  launchedGroupID: null
                  startTime: null
                  endTime: null
                  layerID: null
                  hypothesis: ''
                  primaryMetrics: []
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags:
                  - ★ Core
                  groups:
                  - name: Control
                    id: 7dCnwm0by2laSOcBNKIL8r
                    size: 50
                    parameterValues:
                      control: control value
                    description: ''
                    isControl: true
                  - name: Test
                    id: 7dCnwnFe0kuFcdKxoSEort
                    size: 50
                    parameterValues:
                      control: test value
                    description: ''
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: targeting_gate_to_select_users
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  decisionReason: null
                  decisionTime: null
                  healthCheckStatus: WAITING
                  healthChecks:
                  - name: Checks not yet detected
                    status: WAITING
                    description: This experiment has not recorded any exposure checks in production yet.
                  - name: Valid unit type not yet verified
                    status: WAITING
                    description: Exposure checks for this experiment are pending evaluation. This experiment requires exposure checks with unit IDs of type userID
                  - name: Event metric data not yet verified
                    status: WAITING
                    description: This experiment has recorded no event metric with a valid unit ID yet, or these event metrics are pending evaluation. If you are importing events, this may take up to a day to reflect. This experiment requires metrics with unit IDs of type userID
                  - name: Pulse metrics not yet available
                    status: WAITING
                    description: Expect to see your Pulse Results within 24 hours. Statsig computes Pulse results on a daily basis.
                  - name: Exposure balance not yet verified
                    status: WAITING
                    description: Exposure balance for this experiment is pending evaluation. As the experiment records more exposures, Statsig will continue to evaluate experiment exposure balance.
                  isStale: false
                  powerAnalyses: []
        '400':
          description: Invalid field(s) requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Experiments
      x-operation-id-source: derived
    post:
      summary: Create Experiment
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentCreateDto'
      responses:
        '201':
          description: Create Experiment Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Experiment created successfully.
                  data:
                    id: a_experiment
                    permalink: https://console.statsig.com/company_id/experiments/a_experiment
                    name: a_experiment
                    description: description
                    idType: userID
                    lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                    lastModifiedTime: 1707427635442
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 1vaQaBoLlkauH9iiuOSBP2
                    createdTime: 1707427634717
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    status: setup
                    experimentType: BASE
                    launchedGroupID: null
                    startTime: null
                    endTime: null
                    layerID: null
                    hypothesis: This will be a good feature :)
                    primaryMetrics:
                    - name: d1_retention_rate
                      type: user
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags: []
                    groups:
                    - name: Control
                      id: 6sEQvUd4c6E55V6ljBYMeJ
                      size: 50
                      parameterValues:
                        assigned_group: control
                      description: ''
                      isControl: true
                    - name: Test
                      id: 6sEQvVS6EoNzpkEgUJUpxL
                      size: 50
                      parameterValues:
                        assigned_group: test
                      description: ''
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: ''
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    decisionReason: null
                    decisionTime: null
                    healthChecks: []
                    healthCheckStatus: PASSED
                    isStale: false
                    inlineTargetingRulesJSON: '{}'
                    powerAnalyses: []
              example:
                message: Experiment created successfully.
                data:
                  id: a_experiment
                  permalink: https://console.statsig.com/company_id/experiments/a_experiment
                  name: a_experiment
                  description: description
                  idType: userID
                  lastModifierID: 1vaQaBoLlkauH9iiuOSBP2
                  lastModifiedTime: 1707427635442
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 1vaQaBoLlkauH9iiuOSBP2
                  createdTime: 1707427634717
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  status: setup
                  experimentType: BASE
                  launchedGroupID: null
                  startTime: null
                  endTime: null
                  layerID: null
                  hypothesis: This will be a good feature :)
                  primaryMetrics:
                  - name: d1_retention_rate
                    type: user
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags: []
                  groups:
                  - name: Control
                    id: 6sEQvUd4c6E55V6ljBYMeJ
                    size: 50
                    parameterValues:
                      assigned_group: control
                    description: ''
                    isControl: true
                  - name: Test
                    id: 6sEQvVS6EoNzpkEgUJUpxL
                    size: 50
                    parameterValues:
                      assigned_group: test
                    description: ''
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: ''
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  decisionReason: null
                  decisionTime: null
                  healthChecks: []
                  healthCheckStatus: PASSED
                  isStale: false
                  inlineTargetingRulesJSON: '{}'
                  powerAnalyses: []
        '400':
          description: Name is already in use
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1Experiments
      x-operation-id-source: derived
  /console/v1/experiments/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated list of top-level fields to return (sparse fieldset), e.g. `id,name,hypothesis,groups`. `id` is always included. Reduces response size; when omitted the full experiment is returned.
        examples:
          single field:
            value: hypothesis
          multiple fields:
            value: id,name,hypothesis,groups
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Get Experiment Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Experiments listed successfully.
                  data:
                    id: a_experiment
                    permalink: https://console.statsig.com/company_id/experiments/a_experiment
                    description: ''
                    lastModifiedTime: 1707427635442
                    lastModifierEmail: null
                    createdTime: 1707427634717
                    creatorName: CONSOLE API
                    lastModifierName: CONSOLE API
                    lastModifierID: 4FKF0sUbi1D7xZFW5vcHWB
                    idType: userID
                    status: setup
                    experimentType: BASE
                    launchedGroupID: null
                    layerID: statsig::a_experiment_layer
                    hypothesis: ''
                    primaryMetrics: []
                    primaryMetricTags: []
                    secondaryMetrics: []
                    secondaryMetricTags: []
                    startTime: null
                    endTime: null
                    decisionTime: null
                    groups:
                    - name: Control
                      id: 4HbgLdfqlIeN3sHkyMG1qC
                      size: 50
                      parameterValues: {}
                      isControl: true
                    - name: Test
                      size: 50
                      parameterValues: {}
                      isControl: false
                    allocation: 100
                    duration: 14
                    targetingGateID: ''
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    tags:
                    - '* Core'
                    decisionReason: ''
                    owner:
                      ownerType: USER
                      ownerName: Test User
                    healthCheckStatus: PASSED
                    isStale: false
                    inlineTargetingRulesJSON: '{}'
                    powerAnalyses:
                    - id: experiment_data_report_id
                      name: My Power Analysis
                      status: ready
                      isPrimary: true
              example:
                message: Experiments listed successfully.
                data:
                  id: a_experiment
                  permalink: https://console.statsig.com/company_id/experiments/a_experiment
                  description: ''
                  lastModifiedTime: 1707427635442
                  lastModifierEmail: null
                  createdTime: 1707427634717
                  creatorName: CONSOLE API
                  lastModifierName: CONSOLE API
                  lastModifierID: 4FKF0sUbi1D7xZFW5vcHWB
                  idType: userID
                  status: setup
                  experimentType: BASE
                  launchedGroupID: null
                  layerID: statsig::a_experiment_layer
                  hypothesis: ''
                  primaryMetrics: []
                  primaryMetricTags: []
                  secondaryMetrics: []
                  secondaryMetricTags: []
                  startTime: null
                  endTime: null
                  decisionTime: null
                  groups:
                  - name: Control
                    id: 4HbgLdfqlIeN3sHkyMG1qC
                    size: 50
                    parameterValues: {}
                    isControl: true
                  - name: Test
                    size: 50
                    parameterValues: {}
                    isControl: false
                  allocation: 100
                  duration: 14
                  targetingGateID: ''
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  tags:
                  - '* Core'
                  decisionReason: ''
                  owner:
                    ownerType: USER
                    ownerName: Test User
                  healthCheckStatus: PASSED
                  isStale: false
                  inlineTargetingRulesJSON: '{}'
                  powerAnalyses:
                  - id: experiment_data_report_id
                    name: My Power Analysis
                    status: ready
                    isPrimary: true
        '400':
          description: Invalid field(s) requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsById
      x-operation-id-source: derived
    post:
      summary: Fully Update Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentFullUpdateDto'
      responses:
        '200':
          description: Fully Update Experiment Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: string
                  data:
                    id: a_experiment
                    description: a helpful summary of what this experiment does
                    lastModifierName: CONSOLE API
                    lastModifierID: f0JAV9dd7KF0sUbi1DHWB
                    idType: userID
                    status: setup
                    layerID: layer1
                    hypothesis: Does 1 or 0 work better?
                    primaryMetrics:
                    - name: l14
                      type: user
                    primaryMetricTags: []
                    secondaryMetrics:
                    - name: mau_28d
                      type: user
                    secondaryMetricTags: []
                    groups:
                    - name: group1
                      size: 50
                      parameterValues:
                        key: 1
                    - name: gruop2
                      size: 50
                      parameterValues:
                        key: 0
                    allocation: 50.46
                    duration: 14
                    targetingGateID: a_gate
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    tags: []
              example:
                message: string
                data:
                  id: a_experiment
                  description: a helpful summary of what this experiment does
                  lastModifierName: CONSOLE API
                  lastModifierID: f0JAV9dd7KF0sUbi1DHWB
                  idType: userID
                  status: setup
                  layerID: layer1
                  hypothesis: Does 1 or 0 work better?
                  primaryMetrics:
                  - name: l14
                    type: user
                  primaryMetricTags: []
                  secondaryMetrics:
                  - name: mau_28d
                    type: user
                  secondaryMetricTags: []
                  groups:
                  - name: group1
                    size: 50
                    parameterValues:
                      key: 1
                  - name: gruop2
                    size: 50
                    parameterValues:
                      key: 0
                  allocation: 50.46
                  duration: 14
                  targetingGateID: a_gate
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  tags: []
        '400':
          description: Name is already in use
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsById
      x-operation-id-source: derived
    patch:
      summary: Partially Update Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentPartialUpdateDto'
      responses:
        '200':
          description: Partially Update Experiment Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: string
                  data:
                    id: a_experiment
                    description: a helpful summary of what this experiment does
                    lastModifierName: CONSOLE API
                    lastModifierID: f0JAV9dd7KF0sUbi1DHWB
                    idType: userID
                    status: setup
                    layerID: layer1
                    hypothesis: Does 1 or 0 work better?
                    primaryMetrics:
                    - name: l14
                      type: user
                    primaryMetricTags: []
                    secondaryMetrics:
                    - name: mau_28d
                      type: user
                    secondaryMetricTags: []
                    groups:
                    - name: group1
                      size: 50
                      parameterValues:
                        key: 1
                    - name: gruop2
                      size: 50
                      parameterValues:
                        key: 0
                    allocation: 50.46
                    duration: 14
                    targetingGateID: a_gate
                    defaultConfidenceInterval: '95'
                    bonferroniCorrection: false
                    tags: []
              example:
                message: string
                data:
                  id: a_experiment
                  description: a helpful summary of what this experiment does
                  lastModifierName: CONSOLE API
                  lastModifierID: f0JAV9dd7KF0sUbi1DHWB
                  idType: userID
                  status: setup
                  layerID: layer1
                  hypothesis: Does 1 or 0 work better?
                  primaryMetrics:
                  - name: l14
                    type: user
                  primaryMetricTags: []
                  secondaryMetrics:
                  - name: mau_28d
                    type: user
                  secondaryMetricTags: []
                  groups:
                  - name: group1
                    size: 50
                    parameterValues:
                      key: 1
                  - name: gruop2
                    size: 50
                    parameterValues:
                      key: 0
                  allocation: 50.46
                  duration: 14
                  targetingGateID: a_gate
                  defaultConfidenceInterval: '95'
                  bonferroniCorrection: false
                  tags: []
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1ExperimentsById
      x-operation-id-source: derived
    delete:
      summary: Delete Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete Experiment Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Experiment deleted successfully.
              example:
                message: Experiment deleted successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1ExperimentsById
      x-operation-id-source: derived
  /console/v1/experiments/{id}/abandon:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Abandon Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentAbandonDto'
      responses:
        '200':
          description: Abandon Experiment Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment successfully abandoned.
              example:
                message: Experiment successfully abandoned.
        '400':
          description: Experiment has not yet started
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1ExperimentsByIdAbandon
      x-operation-id-source: derived
  /console/v1/experiments/{id}/alerts:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Experiment Guardrail Alert Statuses
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Experiment guardrail alert statuses fetched successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExperimentAlertsResponseDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdAlerts
      x-operation-id-source: derived
  /console/v1/experiments/{id}/alerts/{metricId}/resolve:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Resolve Metric Rollout Alert
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: metricId
        required: true
        in: path
        description: metric id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveGuardrailAlertRequestDto'
      responses:
        '200':
          description: Metric rollout alert resolved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ResolveGuardrailAlertResponseDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdAlertsByMetricIdResolve
      x-operation-id-source: derived
  /console/v1/experiments/{id}/archive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Archive Experiment
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentArchiveDto'
      responses:
        '200':
          description: Archive Experiment Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment successfully archived.
              example:
                message: Experiment successfully archived.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1ExperimentsByIdArchive
      x-operation-id-source: derived
  /console/v1/experiments/{id}/code_cleanup:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Start Experiment Code Cleanup
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Start experiment code cleanup
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment code cleanup started.
              example:
                message: Experiment code cleanup started.
        '400':
          description: Experiment is not stale.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdCodeCleanup
      x-operation-id-source: derived
  /console/v1/experiments/{id}/context:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Experiment Context
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Experiment Context Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExperimentContextResponseDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdContext
      x-operation-id-source: derived
  /console/v1/experiments/{id}/cumulative_exposures:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Retrieve cumulative exposures
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get cumulative exposures success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/CumulativeExposureResponseDto'
                example:
                  message: Successfully loaded Cumulative Exposures
                  data:
                  - groupID: 6pY4WNHgJu1sqAyApUZuaa
                    groupName: Daily Deals
                    results:
                    - date: '2024-12-23'
                      exposures: 0
                    - date: '2024-12-24'
                      exposures: 7407
                    - date: '2024-12-25'
                      exposures: 10237
                    - date: '2024-12-26'
                      exposures: 10725
                    - date: '2024-12-27'
                      exposures: 10906
                    - date: '2024-12-28'
                      exposures: 11061
                    - date: '2024-12-29'
                      exposures: 11251
                    - date: '2024-12-30'
                      exposures: 11412
                  - groupID: 6pY4WPmjbMaWK06w12V7tc
                    groupName: Items You May Like
                    results:
                    - date: '2024-12-23'
                      exposures: 0
                    - date: '2024-12-24'
                      exposures: 7392
                    - date: '2024-12-25'
                      exposures: 10239
                    - date: '2024-12-26'
                      exposures: 10732
                    - date: '2024-12-27'
                      exposures: 10934
                    - date: '2024-12-28'
                      exposures: 11108
                    - date: '2024-12-29'
                      exposures: 11287
                    - date: '2024-12-30'
                      exposures: 11455
                  - groupID: 6pY4WR1lE4kr3pErCaQKMe
                    groupName: Buy Again
                    results:
                    - date: '2024-12-23'
                      exposures: 0
                    - date: '2024-12-24'
                      exposures: 7475
                    - date: '2024-12-25'
                      exposures: 10289
                    - date: '2024-12-26'
                      exposures: 10774
                    - date: '2024-12-27'
                      exposures: 10975
                    - date: '2024-12-28'
                      exposures: 11168
                    - date: '2024-12-29'
                      exposures: 11321
                    - date: '2024-12-30'
                      exposures: 11483
              example:
                message: Successfully loaded Cumulative Exposures
                data:
                - groupID: 6pY4WNHgJu1sqAyApUZuaa
                  groupName: Daily Deals
                  results:
                  - date: '2024-12-23'
                    exposures: 0
                  - date: '2024-12-24'
                    exposures: 7407
                  - date: '2024-12-25'
                    exposures: 10237
                  - date: '2024-12-26'
                    exposures: 10725
                  - date: '2024-12-27'
                    exposures: 10906
                  - date: '2024-12-28'
                    exposures: 11061
                  - date: '2024-12-29'
                    exposures: 11251
                  - date: '2024-12-30'
                    exposures: 11412
                - groupID: 6pY4WPmjbMaWK06w12V7tc
                  groupName: Items You May Like
                  results:
                  - date: '2024-12-23'
                    exposures: 0
                  - date: '2024-12-24'
                    exposures: 7392
                  - date: '2024-12-25'
                    exposures: 10239
                  - date: '2024-12-26'
                    exposures: 10732
                  - date: '2024-12-27'
                    exposures: 10934
                  - date: '2024-12-28'
                    exposures: 11108
                  - date: '2024-12-29'
                    exposures: 11287
                  - date: '2024-12-30'
                    exposures: 11455
                - groupID: 6pY4WR1lE4kr3pErCaQKMe
                  groupName: Buy Again
                  results:
                  - date: '2024-12-23'
                    exposures: 0
                  - date: '2024-12-24'
                    exposures: 7475
                  - date: '2024-12-25'
                    exposures: 10289
                  - date: '2024-12-26'
                    exposures: 10774
                  - date: '2024-12-27'
                    exposures: 10975
                  - date: '2024-12-28'
                    exposures: 11168
                  - date: '2024-12-29'
                    exposures: 11321
                  - date: '2024-12-30'
                    exposures: 11483
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdCumulativeExposures
      x-operation-id-source: derived
  /console/v1/experiments/{id}/defer_decision:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Conclude Experiment & Defer Decision
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentDeferDecisionDto'
      responses:
        '200':
          description: Conclude Experiment & Defer Decision Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment successfully concluded and decision deferred.
              example:
                message: Experiment successfully concluded and decision deferred.
        '400':
          description: Experiment cannot defer decision.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1ExperimentsByIdDeferDecision
      x-operation-id-source: derived
  /console/v1/experiments/{id}/diagnostics_checks:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Retrieve Experiment Checks Diagnostics
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: type
        required: false
        in: query
        schema:
          default: daily_cumulative_checks
          type: string
          enum:
          - daily_cumulative_checks
          - unique_ids
      - name: startDate
        required: false
        in: query
        description: Start date in YYYY-MM-DD format
        schema:
          example: '2024-01-01'
          type: string
      - name: endDate
        required: false
        in: query
        description: End date in YYYY-MM-DD format
        schema:
          example: '2024-01-01'
          type: string
      - name: lastDays
        required: false
        in: query
        description: Return the most recent N days instead of an explicit range, e.g. `30`. Ignored when `startDate` or `endDate` is supplied. Defaults to 7 days when neither is given.
        schema:
          minimum: 1
          maximum: 90
          type: integer
      responses:
        '200':
          description: Get Experiment Checks Diagnostics Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExperimentChecksDiagnosticsDto'
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdDiagnosticsChecks
      x-operation-id-source: derived
  /console/v1/experiments/{id}/dimensional_exposures:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Retrieve Exposures By Dimension
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: dimension_type
        required: false
        in: query
        description: Optional dimension type(s) to filter by (for example metadata.country).
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: severity
        required: false
        in: query
        description: 'Optional severity filter: warning (p-value < 0.01) or failure (p-value < 0.001).'
        schema:
          type: string
          enum:
          - warning
          - failure
      responses:
        '200':
          description: Get dimensional exposures success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/DimensionalExposureResponseDto'
                example:
                  message: Successfully loaded Dimensional Exposures
                  data:
                    ds: '2026-03-24'
                    dimensions:
                    - dimension_type: metadata.country
                      dimension_values:
                      - dimension_value: US
                        srm_pvalue: 0.8124
                        unit_count: 30723
                        severity: pass
                    - dimension_type: metadata.app_version
                      dimension_values:
                      - dimension_value: 1.2.3
                        srm_pvalue: 0.0342
                        unit_count: 2235
                        severity: pass
              example:
                message: Successfully loaded Dimensional Exposures
                data:
                  ds: '2026-03-24'
                  dimensions:
                  - dimension_type: metadata.country
                    dimension_values:
                    - dimension_value: US
                      srm_pvalue: 0.8124
                      unit_count: 30723
                      severity: pass
                  - dimension_type: metadata.app_version
                    dimension_values:
                    - dimension_value: 1.2.3
                      srm_pvalue: 0.0342
                      unit_count: 2235
                      severity: pass
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdDimensionalExposures
      x-operation-id-source: derived
  /console/v1/experiments/{id}/disable_groups:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Disable Experiment Groups
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableDisableGroupsDto'
      responses:
        '201':
          description: Disable experiment groups
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdDisableGroups
      x-operation-id-source: derived
  /console/v1/experiments/{id}/eligible_reviewers:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Eligible Reviewers
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Users and groups eligible to review changes to this experiment. `everyone_eligible` is true when no specific reviewers are configured. `users` is the flattened, deduped union of individual reviewers and all group members; `groups` lists each eligible group with its member `user_ids`. Project admins can always review and are not enumerated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EligibleReviewersDto'
                example:
                  data:
                    everyone_eligible: false
                    users:
                    - id: user_abc
                      email: alice@example.com
                      name: Alice Example
                    groups:
                    - id: group_xyz
                      name: Growth
                      user_ids:
                      - user_abc
                  message: Successfully retrieved eligible reviewers
              example:
                data:
                  everyone_eligible: false
                  users:
                  - id: user_abc
                    email: alice@example.com
                    name: Alice Example
                  groups:
                  - id: group_xyz
                    name: Growth
                    user_ids:
                    - user_abc
                message: Successfully retrieved eligible reviewers
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdEligibleReviewers
      x-operation-id-source: derived
  /console/v1/experiments/{id}/enable_groups:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Enable Experiment Groups
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableDisableGroupsDto'
      responses:
        '201':
          description: Enable experiment groups
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalExperimentDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdEnableGroups
      x-operation-id-source: derived
  /console/v1/experiments/{id}/load_pulse:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Load Pulse (Warehouse Native)
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: refresh
        required: false
        in: query
        schema:
          default: full
          type: string
          enum:
          - full
          - incremental
          - metric
      - name: metricIDs
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: turboMode
        required: false
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchidnaLoadPulseQueryDto'
      responses:
        '200':
          description: Load Pulse Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment is loading.
              example:
                message: Experiment is loading.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdLoadPulse
      x-operation-id-source: derived
  /console/v1/experiments/{id}/make_decision:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Finish Experiment Early
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentStatusUpdateDto'
      responses:
        '200':
          description: Make Experiment Decision Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Decision made for Experiment.
              example:
                message: Decision made for Experiment.
        '400':
          description: Experiment has not yet started
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Experiment not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1ExperimentsByIdMakeDecision
      x-operation-id-source: derived
  /console/v1/experiments/{id}/overrides:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Experiment Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Experiment Overrides Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExperimentOverridesDto'
                example:
[...]
