openapi: 3.2.0
info:
  title: Console Experiments (Warehouse Native) API
  description: The "Console API" is the CRUD API for performing the actions offered on console.statsig.com without needing to go through the web UI.
  version: 20240601.0.0
  contact: {}
servers:
- url: https://statsigapi.net
tags:
- name: Experiments (Warehouse Native)
paths:
  /console/v1/experiments/{id}/load_pulse:
    post:
      summary: Load Pulse (Warehouse Native)
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: refresh
        required: false
        in: query
        schema:
          default: full
          type: string
          enum:
          - full
          - incremental
          - metric
      - name: metricIDs
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
      - name: turboMode
        required: false
        in: query
        schema:
          type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EchidnaLoadPulseQueryDto'
      responses:
        '200':
          description: Load Pulse Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Experiment is loading.
              example:
                message: Experiment is loading.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdLoadPulse
      x-operation-id-source: derived
  /console/v1/experiments/{id}/pulse_load_history:
    get:
      summary: Pulse Load History (Warehouse Native)
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Pulse Load History
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PulseLoadHistoryDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdPulseLoadHistory
      x-operation-id-source: derived
  /console/v1/experiments/{id}/pulse_load_history/{dagID}:
    get:
      summary: Get Pulse Load History Details (Warehouse Native)
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: dagID
        required: true
        in: path
        description: dagID
        schema:
          type: string
      responses:
        '200':
          description: Get Pulse Load History Details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/PulseLoadHistoryDetailsDto'
                example:
                  message: Pulse load history read successfully.
                  data:
                    dagID: dag_123
                    jobs:
                    - jobType: user_metrics
                      jobIDs:
                      - 01af9f89-b55d-4d5a-80a6-410d5bd5d04d
                      startTime: 1718042400000
                      endTime: 1718046000000
                      sql: select * from metric_source_table
                      metricSourceName: Warehouse Metrics
                    - jobType: pulse
                      jobIDs:
                      - 01af9f89-b55d-4d5a-80a6-410d5bd5d04e
                      - 01af9f89-b55d-4d5a-80a6-410d5bd5d04f
                      startTime: 1718046000000
                      endTime: 1718047200000
                      sql: select * from pulse_rollup_table
                      rollup: daily
              example:
                message: Pulse load history read successfully.
                data:
                  dagID: dag_123
                  jobs:
                  - jobType: user_metrics
                    jobIDs:
                    - 01af9f89-b55d-4d5a-80a6-410d5bd5d04d
                    startTime: 1718042400000
                    endTime: 1718046000000
                    sql: select * from metric_source_table
                    metricSourceName: Warehouse Metrics
                  - jobType: pulse
                    jobIDs:
                    - 01af9f89-b55d-4d5a-80a6-410d5bd5d04e
                    - 01af9f89-b55d-4d5a-80a6-410d5bd5d04f
                    startTime: 1718046000000
                    endTime: 1718047200000
                    sql: select * from pulse_rollup_table
                    rollup: daily
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Pulse load history not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsByIdPulseLoadHistoryByDagID
      x-operation-id-source: derived
  /console/v1/experiments/{id}/pulse_load_history/{dagID}/cancel:
    post:
      summary: Cancel Pulse Load (Warehouse Native)
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: dagID
        required: true
        in: path
        description: dagID
        schema:
          type: string
      responses:
        '200':
          description: Cancel Pulse Load Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Pulse load cancelled successfully.
              example:
                message: Pulse load cancelled successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Pulse load history not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsByIdPulseLoadHistoryByDagIDCancel
      x-operation-id-source: derived
  /console/v1/experiments/assignment_source/{name}:
    post:
      summary: Post Assignment Source
      parameters:
      - name: name
        required: true
        in: path
        description: Name of the assignment source
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentSourceQueryUpdateDto'
      responses:
        '200':
          description: Post Assignment Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AssignmentSourceContractDto'
                example:
                  message: Assignment Source updated successfully
                  data:
                    name: exposures3
                    description: qweqwe
                    tags: []
                    sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                    timestampColumn: ts
                    groupIDColumn: group_id
                    experimentIDColumn: experiment_name
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
              example:
                message: Assignment Source updated successfully
                data:
                  name: exposures3
                  description: qweqwe
                  tags: []
                  sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                  timestampColumn: ts
                  groupIDColumn: group_id
                  experimentIDColumn: experiment_name
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsAssignmentSourceByName
      x-operation-id-source: derived
    patch:
      summary: Patch Assignment Source
      parameters:
      - name: name
        required: true
        in: path
        description: Name of the assignment source
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentSourcePartialUpdateDto'
      responses:
        '200':
          description: Patch Assignment Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AssignmentSourceContractDto'
                example:
                  message: Assignment Source updated successfully
                  data:
                    name: exposures3
                    description: qweqwe
                    tags: []
                    sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                    timestampColumn: ts
                    groupIDColumn: group_id
                    experimentIDColumn: experiment_name
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
              example:
                message: Assignment Source updated successfully
                data:
                  name: exposures3
                  description: qweqwe
                  tags: []
                  sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                  timestampColumn: ts
                  groupIDColumn: group_id
                  experimentIDColumn: experiment_name
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1ExperimentsAssignmentSourceByName
      x-operation-id-source: derived
    delete:
      summary: Delete Assignment Source
      parameters:
      - name: name
        required: true
        in: path
        description: Name of the assignment source
        schema:
          type: string
      responses:
        '200':
          description: Delete Assignment Source response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Assignment source deleted successfully.
              example:
                message: Assignment source deleted successfully.
        '400':
          description: Assignment source is referenced by active experiments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1ExperimentsAssignmentSourceByName
      x-operation-id-source: derived
  /console/v1/experiments/assignment_sources:
    get:
      summary: List Assignment Sources
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Assignment Sources response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AssignmentSourceContractDto'
                example:
                  message: Entity Property Sources listed successfully.
                  data:
                  - name: Exposures
                    description: ''
                    tags: []
                    sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                    timestampColumn: ts
                    groupIDColumn: group_id
                    experimentIDColumn: experiment_name
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    - statsigUnitID: deviceID
                      column: device_id
                  pagination:
                    itemsPerPage: 1
                    pageNumber: 1
                    totalItems: 13
                    nextPage: /console/v1/experiments/assignment_sources?page=2&limit=1
                    previousPage: null
                    all: /console/v1/experiments/assignment_sources
              example:
                message: Entity Property Sources listed successfully.
                data:
                - name: Exposures
                  description: ''
                  tags: []
                  sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                  timestampColumn: ts
                  groupIDColumn: group_id
                  experimentIDColumn: experiment_name
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  - statsigUnitID: deviceID
                    column: device_id
                pagination:
                  itemsPerPage: 1
                  pageNumber: 1
                  totalItems: 13
                  nextPage: /console/v1/experiments/assignment_sources?page=2&limit=1
                  previousPage: null
                  all: /console/v1/experiments/assignment_sources
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsAssignmentSources
      x-operation-id-source: derived
    post:
      summary: Create Assignment Source
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentSourceCreationDto'
      responses:
        '201':
          description: Create Assignment Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AssignmentSourceContractDto'
                example:
                  message: Assignment Source created successfully
                  data:
                    name: exposures4
                    description: ''
                    tags: []
                    sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                    timestampColumn: ts
                    groupIDColumn: group_id
                    experimentIDColumn: experiment_name
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
              example:
                message: Assignment Source created successfully
                data:
                  name: exposures4
                  description: ''
                  tags: []
                  sql: SELECT * FROM shoppy-sales.experiment_data.exposures
                  timestampColumn: ts
                  groupIDColumn: group_id
                  experimentIDColumn: experiment_name
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsAssignmentSources
      x-operation-id-source: derived
  /console/v1/experiments/entity_properties:
    get:
      summary: List Entity Property Sources
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Entity Property Sources response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/EntityPropertySourceDto'
                example:
                  message: Entity Property Sourcess listed successfully.
                  data:
                  - name: Segmentation Models
                    description: ''
                    tags:
                    - ★ Core
                    - Growth
                    sql: "SELECT\n  user_id, ds, spend_segment\nFROM shoppy-sales.setup.segments"
                    timestampColumn: ds
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                  pagination:
                    itemsPerPage: 1
                    pageNumber: 1
                    totalItems: 5
                    nextPage: /console/v1/experiments/entity_properties?page=2&limit=1
                    previousPage: null
                    all: /console/v1/experiments/entity_properties
              example:
                message: Entity Property Sourcess listed successfully.
                data:
                - name: Segmentation Models
                  description: ''
                  tags:
                  - ★ Core
                  - Growth
                  sql: "SELECT\n  user_id, ds, spend_segment\nFROM shoppy-sales.setup.segments"
                  timestampColumn: ds
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                pagination:
                  itemsPerPage: 1
                  pageNumber: 1
                  totalItems: 5
                  nextPage: /console/v1/experiments/entity_properties?page=2&limit=1
                  previousPage: null
                  all: /console/v1/experiments/entity_properties
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsEntityProperties
      x-operation-id-source: derived
    post:
      summary: Create Entity Property Source
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityPropertySourceCreationDto'
      responses:
        '201':
          description: Create Entity Property Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EntityPropertySourceDto'
                example:
                  message: Entity Property Source created successfully
                  data:
                    name: Location
                    description: ''
                    tags: []
                    sql: SELECT * FROM shoppy-sales.setup.user_properties
                    timestampColumn: timestamp
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
                    timestampAsDay: true
              example:
                message: Entity Property Source created successfully
                data:
                  name: Location
                  description: ''
                  tags: []
                  sql: SELECT * FROM shoppy-sales.setup.user_properties
                  timestampColumn: timestamp
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
                  timestampAsDay: true
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsEntityProperties
      x-operation-id-source: derived
  /console/v1/experiments/entity_property/{name}:
    get:
      summary: Get Entity Property Source
      parameters:
      - name: name
        required: true
        in: path
        description: Name of entity property source
        schema:
          type: string
      responses:
        '200':
          description: Get Entity Property Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EntityPropertySourceDto'
                example:
                  message: Entity Property Source read successfully.
                  data:
                    name: Location
                    description: This is the the location description
                    tags: []
                    sql: SELECT * FROM shoppy-sales.setup.user_properties
                    timestampColumn: timestamp
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
                    timestampAsDay: true
              example:
                message: Entity Property Source read successfully.
                data:
                  name: Location
                  description: This is the the location description
                  tags: []
                  sql: SELECT * FROM shoppy-sales.setup.user_properties
                  timestampColumn: timestamp
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
                  timestampAsDay: true
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsEntityPropertyByName
      x-operation-id-source: derived
    post:
      summary: Post Entity Property Source
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityPropertySourceQueryUpdateDto'
      responses:
        '200':
          description: Post Entity Property Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EntityPropertySourceDto'
                example:
                  message: Entity Property Sources updated successfully.
                  data:
                    name: Location
                    description: This is the the location description
                    tags: []
                    sql: SELECT * FROM  shoppy-sales.setup.user_properties
                    timestampColumn: ''
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
                    timestampAsDay: true
              example:
                message: Entity Property Sources updated successfully.
                data:
                  name: Location
                  description: This is the the location description
                  tags: []
                  sql: SELECT * FROM  shoppy-sales.setup.user_properties
                  timestampColumn: ''
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
                  timestampAsDay: true
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsEntityPropertyByName
      x-operation-id-source: derived
    patch:
      summary: Patch Entity Property Source
      parameters:
      - name: name
        required: true
        in: path
        description: Name of entity property source
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityPropertySourcePartialUpdateDto'
      responses:
        '200':
          description: Patch Entity Property Source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/EntityPropertySourceDto'
                example:
                  message: Entity Property Source updated successfully
                  data:
                    name: Location
                    description: This is the the location description
                    tags: []
                    sql: SELECT * FROM shoppy-sales.setup.user_properties
                    timestampColumn: timestamp
                    idTypeMapping:
                    - statsigUnitID: stableID
                      column: user_id
                    timestampAsDay: true
              example:
                message: Entity Property Source updated successfully
                data:
                  name: Location
                  description: This is the the location description
                  tags: []
                  sql: SELECT * FROM shoppy-sales.setup.user_properties
                  timestampColumn: timestamp
                  idTypeMapping:
                  - statsigUnitID: stableID
                    column: user_id
                  timestampAsDay: true
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1ExperimentsEntityPropertyByName
      x-operation-id-source: derived
    delete:
      summary: Delete Entity Property Source
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Delete Entity Property Source response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Entity property source deleted successfully.
              example:
                message: Entity property source deleted successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1ExperimentsEntityPropertyByName
      x-operation-id-source: derived
  /console/v1/experiments/qualifying_events:
    get:
      summary: List qualifying event
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List metric source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Qualifying events listed successfully.
                  data:
                  - name: Log Events
                    description: all app events including add to cart, purchase, page view, checkout
                    tags: []
                    sql: 'SELECT *

                      FROM shoppy-sales.logging.events

                      where DATE(ts) between {statsig_start_date} and {statsig_end_date}

                      '
                    timestampColumn: ts
                    timestampAsDay: false
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    - statsigUnitID: deviceID
                      column: device_id
                    tableName: ''
                    customFieldMapping:
                    - key: ''
                      formula: ''
                  pagination:
                    itemsPerPage: 1
                    pageNumber: 1
                    totalItems: 14
                    nextPage: /console/v1/metrics/qualifying_event/list?page=2&limit=1
                    previousPage: null
                    all: /console/v1/metrics/qualifying_event/list
              example:
                message: Qualifying events listed successfully.
                data:
                - name: Log Events
                  description: all app events including add to cart, purchase, page view, checkout
                  tags: []
                  sql: 'SELECT *

                    FROM shoppy-sales.logging.events

                    where DATE(ts) between {statsig_start_date} and {statsig_end_date}

                    '
                  timestampColumn: ts
                  timestampAsDay: false
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  - statsigUnitID: deviceID
                    column: device_id
                  tableName: ''
                  customFieldMapping:
                  - key: ''
                    formula: ''
                pagination:
                  itemsPerPage: 1
                  pageNumber: 1
                  totalItems: 14
                  nextPage: /console/v1/metrics/qualifying_event/list?page=2&limit=1
                  previousPage: null
                  all: /console/v1/metrics/qualifying_event/list
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsQualifyingEvents
      x-operation-id-source: derived
    post:
      summary: Create Qualifying Event
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSourceCreationContractDto'
      responses:
        '201':
          description: Create qualifying event response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Qualifying event created successfully.
                  data:
                    name: test_qualifying_event
                    description: Test description for qualifying event
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Qualifying event created successfully.
                data:
                  name: test_qualifying_event
                  description: Test description for qualifying event
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsQualifyingEvents
      x-operation-id-source: derived
  /console/v1/experiments/qualifying_events/{name}:
    get:
      summary: Read Qualifying Event
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Read Qualifying Event response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Qualifying event read successfully.
                  data:
                    name: test_qualifying_event
                    description: Test description for qualifying event
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Qualifying event read successfully.
                data:
                  name: test_qualifying_event
                  description: Test description for qualifying event
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1ExperimentsQualifyingEventsByName
      x-operation-id-source: derived
    post:
      summary: Update Qualifying Event
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSourceUpdateContractDto'
      responses:
        '200':
          description: Update Qualifying Event response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Qualifying event updated successfully.
                  data:
                    name: test_qualifying_event
                    description: Test description for qualifying event
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Qualifying event updated successfully.
                data:
                  name: test_qualifying_event
                  description: Test description for qualifying event
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1ExperimentsQualifyingEventsByName
      x-operation-id-source: derived
    delete:
      summary: Delete Qualifying Event
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Delete Qualifying Event response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Qualifying event deleted successfully.
              example:
                message: Qualifying event deleted successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Experiments (Warehouse Native)
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1ExperimentsQualifyingEventsByName
      x-operation-id-source: derived
components:
  schemas:
    EntityPropertySourceCreationDto:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier for the entity property source.
        description:
          type: string
          description: Optional detailed context for the entity property source.
        tags:
          type: array
          items:
            type: string
          description: Optional tags for categorization.
        sql:
          type: string
          description: SQL query defining the data source.
        timestampColumn:
          type: string
          description: Optional column name for timestamp.
        timestampAsDay:
          type: boolean
          description: Indicates if the timestamp is treated as a day.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name linked to the ID.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the entity property source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the entity property source, aiding in accountability and management.
        dryRun:
          type: boolean
          description: Skips persisting the entity property source (used to validate that inputs are correct)
      required:
      - name
      - sql
      - idTypeMapping
    AssignmentSourceQueryUpdateDto:
      type: object
      properties:
        name:
          type: string
          description: Optional new name for the assignment source.
        description:
          type: string
          description: Optional updated context for the assignment source.
        isVerified:
          type: boolean
          description: Marks the assignment source as verified for internal trustworthiness.
        tags:
          type: array
          items:
            type: string
          description: Optional updated tags for categorization.
        sql:
          type: string
          description: SQL query defining the data source for assignments.
        timestampColumn:
          type: string
          description: Column name representing the timestamp of assignments.
        experimentIDColumn:
          type: string
          description: Column name for the experiment ID associated with the assignments.
        groupIDColumn:
          type: string
          description: Column name for the group ID linked to the assignments.
        groupNameColumn:
          type: string
          description: Optional column name for the group name linked to the assignments.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name associated with the ID type mapping.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their respective columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        owner:
          type:
          - object
          - 'null'
          properties:
            ownerID:
              type: string
              description: ID of the owner
              example: abc123
            ownerType:
              type: string
              description: Type of the owner (e.g., SDK_KEY or USER)
              example: USER
            ownerName:
              type: string
              description: The name of the owner. This field is optional.
              example: John Doe
            ownerEmail:
              type: string
              description: The email of the owner. This field is optional.
          description: Schema for owner data including ID, type, name.
          example:
            ownerID: user123
            ownerType: USER
            ownerName: John Doe
            ownerEmail: owner123@test.com
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the assignment source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the assignment source, aiding in accountability and management.
        scheduledReloadHour:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 23
          description: Optional field indicating what UTC hour to run a scheduled scan for the assignment source.
          format: int64
        dryRun:
          type: boolean
          description: Skips persisting the assignment source (used to validate that inputs are correct)
      required:
      - sql
      - timestampColumn
      - experimentIDColumn
      - groupIDColumn
      - idTypeMapping
    EntityPropertySourcePartialUpdateDto:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier for the entity property source.
        description:
          type: string
          description: Detailed context and purpose of the entity property source.
        tags:
          type: array
          items:
            type: string
          description: Tags for categorization and search.
        sql:
          readOnly: true
          type: string
          description: SQL query defining the data source
        timestampColumn:
          type: string
          description: Optional column name for timestamp.
        timestampAsDay:
          type: boolean
          description: Indicates if the timestamp is treated as a day.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name linked to the ID.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the entity property source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the entity property source, aiding in accountability and management.
        dryRun:
          type: boolean
          description: Skips persisting the entity property source (used to validate that inputs are correct)
    AssignmentSourceContractDto:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier for the assignment source.
        description:
          type: string
          description: Detailed context and purpose of the assignment source.
        isVerified:
          type: boolean
          description: Marks the assignment source as verified for internal trustworthiness.
        tags:
          type: array
          items:
            type: string
          description: Tags for categorization and search.
        sql:
          type: string
          description: SQL query defining the data source for assignments.
        timestampColumn:
          type: string
          description: Column name representing the timestamp of assignments.
        experimentIDColumn:
          type: string
          description: Column name for the experiment ID associated with the assignments.
        groupIDColumn:
          type: string
          description: Column name for the group ID linked to the assignments.
        groupNameColumn:
          type: string
          description: Optional column name for the group name linked to the assignments.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name associated with the ID type mapping.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their respective columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        owner:
          type:
          - object
          - 'null'
          properties:
            ownerID:
              type: string
              description: ID of the owner
              example: abc123
            ownerType:
              type: string
              description: Type of the owner (e.g., SDK_KEY or USER)
              example: USER
            ownerName:
              type: string
              description: The name of the owner. This field is optional.
              example: John Doe
            ownerEmail:
              type: string
              description: The email of the owner. This field is optional.
          description: Schema for owner data including ID, type, name.
          example:
            ownerID: user123
            ownerType: USER
            ownerName: John Doe
            ownerEmail: owner123@test.com
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the assignment source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the assignment source, aiding in accountability and management.
        scheduledReloadHour:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 23
          description: Optional field indicating what UTC hour to run a scheduled scan for the assignment source.
          format: int64
      required:
      - name
      - description
      - tags
      - sql
      - timestampColumn
      - experimentIDColumn
      - groupIDColumn
      - idTypeMapping
    AssignmentSourceCreationDto:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier for the assignment source.
        description:
          type: string
          description: Optional detailed context for the assignment source.
        isVerified:
          type: boolean
          description: Marks the assignment source as verified for internal trustworthiness.
        tags:
          type: array
          items:
            type: string
          description: Optional tags for categorization.
        sql:
          type: string
          description: SQL query defining the data source for assignments.
        timestampColumn:
          type: string
          description: Column name representing the timestamp of assignments.
        experimentIDColumn:
          type: string
          description: Column name for the experiment ID associated with the assignments.
        groupIDColumn:
          type: string
          description: Column name for the group ID linked to the assignments.
        groupNameColumn:
          type: string
          description: Optional column name for the group name linked to the assignments.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name associated with the ID type mapping.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their respective columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        owner:
          type:
          - object
          - 'null'
          properties:
            ownerID:
              type: string
              description: ID of the owner
              example: abc123
            ownerType:
              type: string
              description: Type of the owner (e.g., SDK_KEY or USER)
              example: USER
            ownerName:
              type: string
              description: The name of the owner. This field is optional.
              example: John Doe
            ownerEmail:
              type: string
              description: The email of the owner. This field is optional.
          description: Schema for owner data including ID, type, name.
          example:
            ownerID: user123
            ownerType: USER
            ownerName: John Doe
            ownerEmail: owner123@test.com
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the assignment source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the assignment source, aiding in accountability and management.
        scheduledReloadHour:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 23
          description: Optional field indicating what UTC hour to run a scheduled scan for the assignment source.
          format: int64
        dryRun:
          type: boolean
          description: Skips persisting the assignment source (used to validate that inputs are correct)
      required:
      - name
      - sql
      - timestampColumn
      - experimentIDColumn
      - groupIDColumn
      - idTypeMapping
    MetricSourceCreationContractDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the source, serving as its primary identifier.
        description:
          type: string
          description: An optional description for the source, providing context and details about its purpose and usage.
        tags:
          type: array
          items:
            type: string
          description: Optional array of tags to categorize the source, facilitating easier organization and retrieval.
        sql:
          type: string
          description: The SQL query or statement used to extract data from the source.
        timestampColumn:
          type: string
          description: The name of the column containing timestamp data for the source.
        timestampAsDay:
          type: boolean
          description: Indicates whether the timestamp should be treated as a day-level granularity.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: The identifier mapping for Statsig units.
              column:
                type: string
                description: The corresponding column name in the source that relates to the Statsig unit ID.
            required:
            - statsigUnitID
            - column
          description: Array defining the mapping between Statsig unit IDs and their respective source columns.
        sourceType:
          type: string
          enum:
          - table
          - query
          description: The type of source, indicating whether it is a database table or a custom query.
        tableName:
          type: string
          description: The name of the database table if the source type is "table".
        datePartitionColumn:
          type: string
          description: The name of the date partition column if the source type is "table". Can be undefined.
        customFieldMapping:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: The identifier for the custom field mapping.
              formula:
                type: string
                description: The formula or expression used to compute the custom field value.
            required:
            - key
            - formula
          description: Optional array defining mappings for custom fields using specific formulas.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        isVerified:
          type: boolean
          description: Marks the metric source as verified, indicating trustworthiness within the organization.
          example: false
        disableCURE:
          type: boolean
          description: Disable CURE for all metrics built from this metric source
        owner:
          type:
          - object
          - 'null'
          properties:
            ownerID:
              type: string
              description: ID of the owner
              example: abc123
            ownerType:
              type: string
              description: Type of the owner (e.g., SDK_KEY or USER)
              example: USER
            ownerName:
              type: string
              description: The name of the owner. This field is optional.
              example: John Doe
            ownerEmail:
              type: string
              description: The email of the owner. This field is optional.
          description: Schema for owner data including ID, type, name.
          example:
            ownerID: user123
            ownerType: USER
            ownerName: John Doe
            ownerEmail: owner123@test.com
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the metric source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the metric source, aiding in accountability and management.
        dryRun:
          type: boolean
          description: Skips persisting the source (used to validate that inputs are correct)
        skip_validation:
          type: boolean
          description: Skips running SQL validation for the source. Requires all_columns and column_types when true. Availability is gated.
        all_columns:
          type: array
          items:
            type: string
          description: Column names to persist when skip_validation is true. Optional otherwise.
        column_types:
          type: array
          items:
            type: string
          description: Column types aligned with all_columns when skip_validation is true. Optional otherwise.
      required:
      - name
      - sql
      - timestampColumn
      - idTypeMapping
    SingleDataResponse:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          type: object
          description: A single result.
      required:
      - message
      - data
    PaginationResponseWithMessage:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          description: Array of results returned by pagination limit.
          type: array
          items:
            type: object
        pagination:
          description: Pagination metadata for checking if there is next page for example.
          allOf:
          - $ref: '#/components/schemas/PaginationResponseMetadataDto'
      required:
      - message
      - data
      - pagination
    AssignmentSourcePartialUpdateDto:
      type: object
      properties:
        name:
          type: string
          description: Unique identifier for the assignment source.
        description:
          type: string
          description: Detailed context and purpose of the assignment source.
        isVerified:
          type: boolean
          description: Marks the assignment source as verified for internal trustworthiness.
        tags:
          type: array
          items:
            type: string
          description: Tags for categorization and search.
        sql:
          readOnly: true
          type: string
          description: SQL query defining the data source for assignments.
        timestampColumn:
          type: string
          description: Column name representing the timestamp of assignments.
        experimentIDColumn:
          type: string
          description: Column name for the experiment ID associated with the assignments.
        groupIDColumn:
          type: string
          description: Column name for the group ID linked to the assignments.
        groupNameColumn:
          type: string
          description: Optional column name for the group name linked to the assignments.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: ID for the Statsig unit.
              column:
                type: string
                description: Column name associated with the ID type mapping.
            required:
            - statsigUnitID
            - column
          description: Mappings of Statsig units to their respective columns.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        owner:
          type:
          - object
          - 'null'
          properties:
            ownerID:
              type: string
              description: ID of the owner
              example: abc123
            ownerType:
              type: string
              description: Type of the owner (e.g., SDK_KEY or USER)
              example: USER
            ownerName:
              type: string
              description: The name of the owner. This field is optional.
              example: John Doe
            ownerEmail:
              type: string
              description: The email of the owner. This field is optional.
          description: Schema for owner data including ID, type, name.
          example:
            ownerID: user123
            ownerType: USER
            ownerName: John Doe
            ownerEmail: owner123@test.com
        team:
          type:
          - string
          - 'null'
          description: Optional field indicating the team name responsible for the assignment source, aiding in accountability and management.
        teamID:
          type:
          - string
          - 'null'
          description: Optional field indicating the team ID responsible for the assignment source, aiding in accountability and management.
        scheduledReloadHour:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 23
          description: Optional field indicating what UTC hour to run a scheduled scan for the assignment source.
          format: int64
        dryRun:
          type: boolean
          description: Skips persisting the assignment source (used to validate that inputs are correct)
    MetricSourceUpdateContractDto:
      type: object
      properties:
        name:
          readOnly: true
          type: string
          description: The name of the source cannot be changed in this update, ensuring the identity remains consistent.
        description:
          type: string
          description: An optional updated description for the source, providing additional context or changes.
        tags:
          type: array
          items:
            type: string
          description: Optional array of tags for categorizing the source, allowing for updates to its categorization.
        sql:
          type: string
          description: The SQL query or statement used to extract data from the source.
        timestampColumn:
          type: string
          description: The name of the column containing timestamp data for the source.
        timestampAsDay:
          type: boolean
          description: Indicates whether the timestamp should be treated as a day-level granularity.
        idTypeMapping:
          type: array
          items:
            type: object
            properties:
              statsigUnitID:
                type: string
                description: The identifier mapping for Statsig units.
              column:
                type: string
                description: The corresponding column name in the source that relates to the Statsig unit ID.
            required:
            - statsigUnitID
            - column
          description: Array defining the mapping between Statsig unit IDs and their respective source columns.
        sourceType:
          type: string
          enum:
          - table
          - query
          description: The type of source, indicating whether it is a database table or a custom query.
        tableName:
          type: string
          description: The name of the database table if the source type is "table".
        datePartitionColumn:
          type: string
          description: The name of the date partition column if the source type is "table". Can be undefined.
        customFieldMapping:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: The identifier for the custom field mapping.
              formula:
                type: string
                description: The formula or expression used to compute the custom field value.
            required:
            - key
            - formula
          description: Optional array defining mappings for custom fields using specific formulas.
        isReadOnly:
          type: boolean
          description: Specifies if the source can only be edited via the Console API.
        isVerified:
          type: boolean
          description: Marks the metric source as verified, indicating trustworthiness within the organization.
          example: false
        disableCURE:
          type: boolean
          description: Disable CURE for all metrics built from this metric source
        owner:
[...]
