openapi: 3.1.0
info:
  title: Statsig Client SDK Audit Logs Autotunes API
  description: The Statsig Client SDK API provides endpoints that power Statsig's client-side SDKs for JavaScript, React, React Native, iOS, Android, Unity, and other platforms. Client SDKs use Client-SDK Keys that are safe to embed in mobile apps and front-end web applications. They access the initialize endpoint to retrieve all evaluated gates, configs, and experiments for a given user, and the log_event endpoint for sending analytics events. The SDKs handle local evaluation, caching, and automatic error handling for performant client-side feature flagging.
  version: 1.0.0
  contact:
    name: Statsig Support
    url: https://statsig.com/support
  termsOfService: https://statsig.com/terms
servers:
- url: https://api.statsig.com/v1
  description: Statsig API Server
security:
- clientSdkKey: []
tags:
- name: Autotunes
  description: Manage autotune configurations that automatically optimize parameter values based on a target metric.
paths:
  /autotunes:
    get:
      operationId: listAutotunes
      summary: List all autotunes
      description: Retrieves a list of all autotune configurations in the project.
      tags:
      - Autotunes
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of autotunes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Autotune'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAutotune
      summary: Create an autotune
      description: Creates a new autotune configuration that automatically optimizes parameter values based on a target metric.
      tags:
      - Autotunes
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutotuneCreate'
      responses:
        '201':
          description: Autotune created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autotune'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing what was wrong with the request.
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing the authentication failure.
  schemas:
    Autotune:
      type: object
      description: An autotune configuration that automatically optimizes parameter values based on a target metric.
      properties:
        id:
          type: string
          description: The unique identifier of the autotune.
        name:
          type: string
          description: The name of the autotune.
        description:
          type: string
          description: A human-readable description.
        status:
          type: string
          description: The current status of the autotune.
        variants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the variant.
              parameterValues:
                type: object
                description: The parameter values for this variant.
          description: The variants being optimized.
        successMetric:
          type: string
          description: The metric being optimized for.
    AutotuneCreate:
      type: object
      description: Request body for creating a new autotune configuration.
      required:
      - name
      - successMetric
      properties:
        name:
          type: string
          description: The name of the autotune to create.
        description:
          type: string
          description: A human-readable description.
        variants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the variant.
              parameterValues:
                type: object
                description: The parameter values for this variant.
          description: The variants to optimize.
        successMetric:
          type: string
          description: The metric to optimize for.
  parameters:
    ApiVersion:
      name: STATSIG-API-VERSION
      in: header
      required: false
      schema:
        type: string
        default: '20240601'
      description: The Console API version. Currently the only version is 20240601.
  securitySchemes:
    clientSdkKey:
      type: apiKey
      in: header
      name: statsig-api-key
      description: Client-SDK Key that is safe to embed in mobile apps and front-end web applications. Created in Project Settings > API Keys tab.
externalDocs:
  description: Statsig Client SDK Documentation
  url: https://docs.statsig.com/client/introduction
