openapi: 3.2.0
info:
  title: Console Reports API
  description: The "Console API" is the CRUD API for performing the actions offered on console.statsig.com without needing to go through the web UI.
  version: 20240601.0.0
  contact: {}
servers:
- url: https://statsigapi.net
tags:
- name: Reports
paths:
  /console/v1/reports:
    get:
      summary: Get Reports
      parameters:
      - name: type
        required: true
        in: query
        description: report type
        schema:
          example: first_exposures
          type: string
          enum:
          - first_exposures
          - pulse_daily
          - topline_impact_daily
      - name: date
        required: true
        in: query
        description: date for the report
        schema:
          example: '2024-09-01'
          type: string
      responses:
        '200':
          description: Get Reports
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ReportDto'
                example:
                  message: Report URL generated successfully
                  data:
                  - url: www.download_report_data_here.com
              example:
                message: Report URL generated successfully
                data:
                - url: www.download_report_data_here.com
        '400':
          description: Data is not available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Reports
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Reports
      x-operation-id-source: derived
components:
  schemas:
    ReportDto:
      type: object
      properties:
        url:
          type: string
          example: https://example.com/report.pdf
          description: URL to the report
      required:
      - url
    SingleDataResponse:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          type: object
          description: A single result.
      required:
      - message
      - data
  securitySchemes:
    STATSIG-API-KEY:
      type: apiKey
      name: STATSIG-API-KEY
      in: header
