openapi: 3.2.0
info:
  title: Statsig Layers API
  version: '1.0'
  description: 'Operations tagged Layers across 3 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-http-api-openapi.yml, statsig-console-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://api.statsig.com/v1
  description: Statsig API Server
- url: https://statsigapi.net
tags:
- name: Layers
  description: Manage layers that enable sharing parameters across multiple experiments while maintaining mutual exclusivity.
paths:
  /layers:
    get:
      operationId: listLayers
      summary: List all layers
      description: Retrieves a list of all layers in the project.
      tags:
      - Layers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of layers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Layer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    post:
      operationId: createLayer
      summary: Create a layer
      description: Creates a new layer in the project for sharing parameters across multiple experiments.
      tags:
      - Layers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerCreate'
      responses:
        '201':
          description: Layer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /layers/{id}:
    get:
      operationId: getLayer
      summary: Get a layer
      description: Retrieves the full configuration of a specific layer including its parameters and associated experiments.
      tags:
      - Layers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The name or identifier of the layer.
      responses:
        '200':
          description: Layer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    delete:
      operationId: deleteLayer
      summary: Delete a layer
      description: Permanently deletes a layer from the project.
      tags:
      - Layers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The name or identifier of the layer.
      responses:
        '200':
          description: Layer deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /layers/{id}/experiments:
    get:
      operationId: listLayerExperiments
      summary: List experiments in a layer
      description: Retrieves the list of experiments associated with a specific layer.
      tags:
      - Layers
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The name or identifier of the layer.
      responses:
        '200':
          description: List of experiments in the layer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Experiment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /get_layer:
    post:
      operationId: postGetLayer
      summary: Get layer parameters
      description: Fetches parameter values from a layer for the specified user. Layers allow sharing parameters across multiple experiments. An exposure event is logged only when a specific parameter is accessed.
      tags:
      - Layers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              - layerName
              properties:
                user:
                  $ref: '#/components/schemas/StatsigUser'
                layerName:
                  type: string
                  description: The name of the layer to retrieve.
      responses:
        '200':
          description: Layer parameter values
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the layer.
                  value:
                    type: object
                    description: The JSON object containing the layer parameter values for this user.
                  rule_id:
                    type: string
                    description: The identifier of the rule that was matched.
                  group_name:
                    type: string
                    description: The name of the group the user was assigned to.
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - statsigApiKey: []
      x-operation-id-source: normalized
      x-operation-id-original: getLayer
    servers:
    - url: https://api.statsig.com/v1
      description: Statsig API Server
  /console/v1/layers:
    get:
      summary: Get Layers
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: Get Layers response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/LayerContractDto'
                example:
                  message: Layers listed successfully.
                  data:
                  - id: statsig::product_logo_icon_shapes_multi_group_layer
                    description: ''
                    idType: userID
                    lastModifierID: 5sgBiiuoBX4fscrWdCXVma
                    lastModifiedTime: 1677893118949
                    lastModifierName: Test User
                    lastModifierEmail: test@statsig.com
                    creatorID: 5sgBiiuoBX4fscrWdCXVma
                    createdTime: 1677893118889
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    team: null
                    isImplicitLayer: true
                    parameters: []
                    targeting_gate_parameter_values: []
                    holdout_parameter_values: []
                    permalink: https://console.statsig.com/company_id/layers/statsig%3A%3Aproduct_logo_icon_shapes_multi_group_layer
                  - id: Homepage Feed Improvements
                    description: test description
                    idType: userID
                    lastModifierID: 5sgBiiuoBX4fscrWdCXVma
                    lastModifiedTime: 1702925736079
                    lastModifierName: Test User
                    lastModifierEmail: test@statsig.com
                    creatorID: 6Q78Ih2m3FnOoECDsvzoms
                    createdTime: 1678122232525
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    targetApps: []
                    holdoutIDs:
                    - global_holdout
                    - test_target_gate
                    tags: []
                    team: null
                    isImplicitLayer: false
                    parameters:
                    - name: ranking_model
                      type: string
                      defaultValue: 4v2
                    - name: test
                      type: string
                      defaultValue: randomtextfdafs
                    - name: newparam
                      type: string
                      defaultValue: ''
                    - name: test!!!
                      type: string
                      defaultValue: ''
                    - name: test_object
                      type: object
                      defaultValue:
                        test: hello
                    targeting_gate_parameter_values:
                    - targetingGateName: test_target_gate
                      parameters:
                        ranking_model: 5v1
                        test: randomtextfdafs
                        newparam: ''
                        test!!!: ''
                        test_object:
                          test: hello
                    holdout_parameter_values:
                    - holdoutID: global_holdout
                      parameters:
                        ranking_model: holdout_model
                        test: randomtextfdafs
                        newparam: ''
                        test!!!: ''
                        test_object:
                          test: hello
                      excludeNewParams: false
                    permalink: https://console.statsig.com/company_id/layers/Homepage%20Feed%20Improvements
                  - id: statsig::mostly_test_experiment_layer
                    description: ''
                    idType: userID
                    lastModifierID: 6Q78Ih2m3FnOoECDsvzoms
                    lastModifiedTime: 1678401652668
                    lastModifierName: Test User
                    lastModifierEmail: test@statsig.com
                    creatorID: 6Q78Ih2m3FnOoECDsvzoms
                    createdTime: 1678401652627
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    targetApps: []
                    holdoutIDs: []
                    tags: []
                    team: null
                    isImplicitLayer: true
                    parameters: []
                    targeting_gate_parameter_values: []
                    holdout_parameter_values: []
                    permalink: https://console.statsig.com/company_id/layers/statsig%3A%3Amostly_test_experiment_layer
                  pagination:
                    itemsPerPage: 3
                    pageNumber: 1
                    totalItems: 1189
                    nextPage: /console/v1/layers?page=2&limit=3
                    previousPage: null
                    all: /console/v1/layers
              example:
                message: Layers listed successfully.
                data:
                - id: statsig::product_logo_icon_shapes_multi_group_layer
                  description: ''
                  idType: userID
                  lastModifierID: 5sgBiiuoBX4fscrWdCXVma
                  lastModifiedTime: 1677893118949
                  lastModifierName: Test User
                  lastModifierEmail: test@statsig.com
                  creatorID: 5sgBiiuoBX4fscrWdCXVma
                  createdTime: 1677893118889
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isImplicitLayer: true
                  parameters: []
                  targeting_gate_parameter_values: []
                  holdout_parameter_values: []
                  permalink: https://console.statsig.com/company_id/layers/statsig%3A%3Aproduct_logo_icon_shapes_multi_group_layer
                - id: Homepage Feed Improvements
                  description: test description
                  idType: userID
                  lastModifierID: 5sgBiiuoBX4fscrWdCXVma
                  lastModifiedTime: 1702925736079
                  lastModifierName: Test User
                  lastModifierEmail: test@statsig.com
                  creatorID: 6Q78Ih2m3FnOoECDsvzoms
                  createdTime: 1678122232525
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  targetApps: []
                  holdoutIDs:
                  - global_holdout
                  - test_target_gate
                  tags: []
                  team: null
                  isImplicitLayer: false
                  parameters:
                  - name: ranking_model
                    type: string
                    defaultValue: 4v2
                  - name: test
                    type: string
                    defaultValue: randomtextfdafs
                  - name: newparam
                    type: string
                    defaultValue: ''
                  - name: test!!!
                    type: string
                    defaultValue: ''
                  - name: test_object
                    type: object
                    defaultValue:
                      test: hello
                  targeting_gate_parameter_values:
                  - targetingGateName: test_target_gate
                    parameters:
                      ranking_model: 5v1
                      test: randomtextfdafs
                      newparam: ''
                      test!!!: ''
                      test_object:
                        test: hello
                  holdout_parameter_values:
                  - holdoutID: global_holdout
                    parameters:
                      ranking_model: holdout_model
                      test: randomtextfdafs
                      newparam: ''
                      test!!!: ''
                      test_object:
                        test: hello
                    excludeNewParams: false
                  permalink: https://console.statsig.com/company_id/layers/Homepage%20Feed%20Improvements
                - id: statsig::mostly_test_experiment_layer
                  description: ''
                  idType: userID
                  lastModifierID: 6Q78Ih2m3FnOoECDsvzoms
                  lastModifiedTime: 1678401652668
                  lastModifierName: Test User
                  lastModifierEmail: test@statsig.com
                  creatorID: 6Q78Ih2m3FnOoECDsvzoms
                  createdTime: 1678401652627
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  targetApps: []
                  holdoutIDs: []
                  tags: []
                  team: null
                  isImplicitLayer: true
                  parameters: []
                  targeting_gate_parameter_values: []
                  holdout_parameter_values: []
                  permalink: https://console.statsig.com/company_id/layers/statsig%3A%3Amostly_test_experiment_layer
                pagination:
                  itemsPerPage: 3
                  pageNumber: 1
                  totalItems: 1189
                  nextPage: /console/v1/layers?page=2&limit=3
                  previousPage: null
                  all: /console/v1/layers
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Layers
      x-operation-id-source: derived
    post:
      summary: Create a Layer
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerCreateContractDto'
      responses:
        '201':
          description: Create Layer Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerContractDto'
                example:
                  message: Layer created successfully.
                  data:
                    id: the_best_layer
                    description: helpful summary of what this layer does
                    idType: userID
                    lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                    lastModifiedTime: 1720733945538
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4dcQUIpS8PHObBGD7HJwOx
                    createdTime: 1720733942515
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps:
                    - Android
                    holdoutIDs:
                    - global_holdout
                    - test_holdout
                    tags: []
                    team: Console Team
                    isImplicitLayer: false
                    parameters: []
                    targeting_gate_parameter_values: []
                    holdout_parameter_values: []
                    permalink: https://console.statsig.com/company_id/layers/the_best_layer
              example:
                message: Layer created successfully.
                data:
                  id: the_best_layer
                  description: helpful summary of what this layer does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1720733945538
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1720733942515
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps:
                  - Android
                  holdoutIDs:
                  - global_holdout
                  - test_holdout
                  tags: []
                  team: Console Team
                  isImplicitLayer: false
                  parameters: []
                  targeting_gate_parameter_values: []
                  holdout_parameter_values: []
                  permalink: https://console.statsig.com/company_id/layers/the_best_layer
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1Layers
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
  /console/v1/layers/{id}:
    get:
      summary: Get one layer
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get one layer response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerContractDto'
                example:
                  message: Layer read successfully.
                  data:
                    id: the_best_layer
                    description: helpful summary of what this layer does
                    idType: userID
                    lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                    lastModifiedTime: 1720733945538
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4dcQUIpS8PHObBGD7HJwOx
                    createdTime: 1720733942515
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps:
                    - Android
                    holdoutIDs:
                    - global_holdout
                    - test_holdout
                    tags: []
                    team: Console Team
                    isImplicitLayer: false
                    parameters: []
                    targeting_gate_parameter_values:
                    - targetingGateName: test_target_gate
                      parameters: {}
                    holdout_parameter_values:
                    - holdoutID: global_holdout
                      parameters: {}
                      excludeNewParams: false
                    permalink: https://console.statsig.com/company_id/layers/the_best_layer
              example:
                message: Layer read successfully.
                data:
                  id: the_best_layer
                  description: helpful summary of what this layer does
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1720733945538
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1720733942515
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps:
                  - Android
                  holdoutIDs:
                  - global_holdout
                  - test_holdout
                  tags: []
                  team: Console Team
                  isImplicitLayer: false
                  parameters: []
                  targeting_gate_parameter_values:
                  - targetingGateName: test_target_gate
                    parameters: {}
                  holdout_parameter_values:
                  - holdoutID: global_holdout
                    parameters: {}
                    excludeNewParams: false
                  permalink: https://console.statsig.com/company_id/layers/the_best_layer
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1LayersById
      x-operation-id-source: derived
    post:
      summary: Update a layer
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerFullUpdateContractDto'
      responses:
        '200':
          description: Update layer response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerContractDto'
                example:
                  message: Layer updated successfully.
                  data:
                    id: the_best_layer
                    description: new description
                    idType: userID
                    lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                    lastModifiedTime: 1720734957520
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4dcQUIpS8PHObBGD7HJwOx
                    createdTime: 1720733942515
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps:
                    - Android
                    holdoutIDs:
                    - global_holdout
                    - test_holdout
                    tags: []
                    team: Console Team
                    isImplicitLayer: false
                    parameters:
                    - name: a_parameter
                      type: boolean
                      defaultValue: true
                    - name: b_parameter
                      type: number
                      defaultValue: 123
                    - name: c_parameter
                      type: string
                      defaultValue: this is a string
                    - name: d_parameter
                      type: array
                      defaultValue: []
                    - name: e_parameter
                      type: object
                      defaultValue:
                        key: value
                    targeting_gate_parameter_values: []
                    holdout_parameter_values: []
                    permalink: https://console.statsig.com/company_id/layers/the_best_layer
              example:
                message: Layer updated successfully.
                data:
                  id: the_best_layer
                  description: new description
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1720734957520
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1720733942515
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps:
                  - Android
                  holdoutIDs:
                  - global_holdout
                  - test_holdout
                  tags: []
                  team: Console Team
                  isImplicitLayer: false
                  parameters:
                  - name: a_parameter
                    type: boolean
                    defaultValue: true
                  - name: b_parameter
                    type: number
                    defaultValue: 123
                  - name: c_parameter
                    type: string
                    defaultValue: this is a string
                  - name: d_parameter
                    type: array
                    defaultValue: []
                  - name: e_parameter
                    type: object
                    defaultValue:
                      key: value
                  targeting_gate_parameter_values: []
                  holdout_parameter_values: []
                  permalink: https://console.statsig.com/company_id/layers/the_best_layer
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1LayersById
      x-operation-id-source: derived
    patch:
      summary: Partially update a layer
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerPartialUpdateContractDto'
      responses:
        '200':
          description: Partial update layer response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerContractDto'
                example:
                  message: Layer updated successfully.
                  data:
                    id: the_best_layer
                    description: new description
                    idType: userID
                    lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                    lastModifiedTime: 1720734756985
                    lastModifierName: CONSOLE API
                    lastModifierEmail: null
                    creatorID: 4dcQUIpS8PHObBGD7HJwOx
                    createdTime: 1720733942515
                    creatorName: CONSOLE API
                    creatorEmail: null
                    targetApps:
                    - new fo
                    holdoutIDs:
                    - global_holdout
                    - test_holdout
                    tags: []
                    team: Console Team
                    isImplicitLayer: false
                    parameters:
                    - name: a_parameter
                      type: boolean
                      defaultValue: true
                    - name: b_parameter
                      type: number
                      defaultValue: 123
                    - name: c_parameter
                      type: string
                      defaultValue: this is a string
                    - name: d_parameter
                      type: array
                      defaultValue: []
                    - name: e_parameter
                      type: object
                      defaultValue:
                        key: value
                    targeting_gate_parameter_values: []
                    holdout_parameter_values: []
                    permalink: https://console.statsig.com/company_id/layers/the_best_layer
              example:
                message: Layer updated successfully.
                data:
                  id: the_best_layer
                  description: new description
                  idType: userID
                  lastModifierID: 4dcQUIpS8PHObBGD7HJwOx
                  lastModifiedTime: 1720734756985
                  lastModifierName: CONSOLE API
                  lastModifierEmail: null
                  creatorID: 4dcQUIpS8PHObBGD7HJwOx
                  createdTime: 1720733942515
                  creatorName: CONSOLE API
                  creatorEmail: null
                  targetApps:
                  - new fo
                  holdoutIDs:
                  - global_holdout
                  - test_holdout
                  tags: []
                  team: Console Team
                  isImplicitLayer: false
                  parameters:
                  - name: a_parameter
                    type: boolean
                    defaultValue: true
                  - name: b_parameter
                    type: number
                    defaultValue: 123
                  - name: c_parameter
                    type: string
                    defaultValue: this is a string
                  - name: d_parameter
                    type: array
                    defaultValue: []
                  - name: e_parameter
                    type: object
                    defaultValue:
                      key: value
                  targeting_gate_parameter_values: []
                  holdout_parameter_values: []
                  permalink: https://console.statsig.com/company_id/layers/the_best_layer
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1LayersById
      x-operation-id-source: derived
    delete:
      summary: Delete a layer
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete layer repsonse
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Layer deleted successfully.
              example:
                message: Layer deleted successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1LayersById
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
  /console/v1/layers/{id}/experiments:
    get:
      summary: 'Lineage: List Experiment related to Layer'
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List Experiment related to Layer Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalExperimentDto'
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1LayersByIdExperiments
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
  /console/v1/layers/{id}/overrides:
    get:
      summary: Get Layer Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Layer Overrides Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1LayersByIdOverrides
      x-operation-id-source: derived
    post:
      summary: Update Layer Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerOverridesDto'
      responses:
        '200':
          description: Update Layer Overrides Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1LayersByIdOverrides
      x-operation-id-source: derived
    patch:
      summary: Add Layer Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayerOverridesPatchDto'
      responses:
        '200':
          description: Add Layer Overrides Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1LayersByIdOverrides
      x-operation-id-source: derived
    delete:
      summary: Delete Layer Overrides
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete Update Layer Overrides Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1LayersByIdOverrides
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
  /console/v1/layers/{id}/overrides/conditional/{type}/{name}:
    delete:
      summary: Delete a Single Layer Override
      description: 'Removes a single gate or segment override from the layer. Idempotent: returns 200 even when no matching override exists.'
      parameters:
      - name: id
        required: true
        in: path
        description: Layer name
        schema:
          type: string
      - name: type
        required: true
        in: path
        description: Override type
        schema:
          type: string
          enum:
          - gate
          - segment
      - name: name
        required: true
        in: path
        description: Name of the gate or segment being overridden
        schema:
          type: string
      - name: groupName
        required: true
        in: query
        description: Experiment group the override targets
        schema:
          type: string
      - name: experimentName
        required: true
        in: query
        description: Experiment within the layer that owns the override
        schema:
          type: string
      - name: environment
        required: false
        in: query
        description: Environment the override is scoped to. Omit to target the override that applies to all environments.
        schema:
          type: string
      responses:
        '200':
          description: Delete Single Layer Override Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1LayersByIdOverridesConditionalByTypeByName
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
  /console/v1/layers/{id}/overrides/userID/{userID}:
    delete:
      summary: Delete a Single Layer User ID Override
      description: 'Removes a single user ID from the matching layer userID override bucket. Idempotent: returns 200 even when the user ID is not currently overridden. Only clears the bucket named by `experimentName`, `groupName`, `idType`, and `environment`; every other override bucket stays in place. The response body carries the full override set for the layer after the delete.'
      parameters:
      - name: id
        required: true
        in: path
        description: Layer name
        schema:
          type: string
      - name: userID
        required: true
        in: path
        description: User ID to remove from the override
        schema:
          type: string
      - name: groupName
        required: true
        in: query
        description: Experiment group the override targets
        schema:
          example: Control
          type: string
      - name: experimentName
        required: true
        in: query
        description: Experiment within the layer that owns the override
        schema:
          example: my_experiment
          type: string
      - name: idType
        required: false
        in: query
        description: The unit type of the override. Defaults to the experiment unit type when omitted.
        schema:
          type: string
      - name: environment
        required: false
        in: query
        description: Environment the override is scoped to. Omit to target the override that applies to all environments.
        schema:
          type: string
      responses:
        '200':
          description: Delete Single Layer User ID Override Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/LayerOverridesDto'
                example:
                  message: Layer Overrides updated successfully.
                  data:
                    conditionalOverrides:
                    - type: gate
                      name: a_gate
                      experimentName: my_experiment
                      groupName: Test
                      environment: null
                    idOverrides:
                    - groupName: Control
                      ids:
                      - user_a
                      idType: userID
                      environment: null
                      experimentName: my_experiment
                    - groupName: Control
                      ids:
                      - user_b
                      idType: userID
                      environment: staging
                      experimentName: my_experiment
                    - groupName: Control
                      ids:
                      - user_b
                      idType: userID
                      environment: null
                      experimentName: another_experiment
              example:
                message: Layer Overrides updated successfully.
                data:
                  conditionalOverrides:
                  - type: gate
                    name: a_gate
                    experimentName: my_experiment
                    groupName: Test
                    environment: null
                  idOverrides:
                  - groupName: Control
                    ids:
                    - user_a
                    idType: userID
                    environment: null
                    experimentName: my_experiment
                  - groupName: Control
                    ids:
                    - user_b
                    idType: userID
                    environment: staging
                    experimentName: my_experiment
                  - groupName: Control
                    ids:
                    - user_b
                    idType: userID
                    environment: null
                    experimentName: another_experiment
        '400':
          description: '`groupName` or `experimentName` is missing. The `errors` array names the parameter that failed validation.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Bad Request Exception
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Layer not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Layers
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1LayersByIdOverridesUserIDByUserID
      x-operation-id-source: derived
    servers:
    - url: https://statsigapi.net
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing the authentication failure.
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message indicating the resource was not found.
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing what was wrong with the request.
  schemas:
    ExperimentGroup:
      type: object
      description: An experiment group defining parameter values for a set of users.
      properties:
        name:
          type: string
          description: The name of the group (e.g., control, test).
        size:
          type: number
          minimum: 0
          maximum: 100
          description: The percentage of allocated users assigned to this group.
        parameterValues:
          type: object
          description: The parameter key-value pairs for this group.
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of items available.
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Number of items per page.
        hasMore:
          type: boolean
          description: Whether more pages are available.
    LayerCreate:
      type: object
      description: Request body for creating a new layer.
      required:
      - name
      properties:
        name:
          type: string
          description: The name of the layer to create.
        description:
          type: string
          description: A human-readable description.
        parameters:
          type: object
          description: The default parameter values for the layer.
    Layer:
      type: object
      description: A layer that enables sharing parameters across multiple experiments while maintaining mutual exclusivity.
      properties:
        id:
          type: string
          description: The unique identifier of the layer.
        name:
          type: string
          description: The name of the layer.
        description:
          type: string
          description: A human-readable description of the layer.
        parameters:
          type: object
          description: The default parameter values for the layer.
        experiments:
          type: array
          items:
            type: string
          description: The IDs of experiments associated with this layer.
        createdTime:
          type: integer
          format: int64
          description: Timestamp when the layer was created.
    Experiment:
      type: object
      description: An A/B test experiment with defined groups, parameters, and analysis configuration.
      properties:
        id:
          type: string
          description: The unique identifier of the experiment.
        name:
          type: string
          description: The name of the experiment.
        description:
          type: string
          description: A human-readable description of the experiment.
        hypothesis:
          type: string
          description: The hypothesis being tested by this experiment.
        status:
          type: string
          enum:
          - setup
          - active
          - decision_made
          - abandoned
          description: The current status of the experiment.
        groups:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentGroup'
          description: The experiment groups and their parameter configurations.
        allocation:
          type: number
          minimum: 0
          maximum: 100
          description: The percentage of eligible users allocated to the experiment.
        layerID:
          type: string
          description: The layer this experiment belongs to, if any.
        targetingGateID:
          type: string
          description: The gate used to filter eligible users for the experiment.
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the experiment.
        createdTime:
          type: integer
          format: int64
          description: Timestamp when the experiment was created.
        lastModifiedTime:
          type: integer
          format: int64
          description: Timestamp when the experiment was last modified.
    StatsigUser:
      type: object
      description: The user object representing the end user being evaluated. At minimum, a userID should be provided. Additional properties enable more sophisticated targeting.
      properties:
        userID:
          type: string
          description: A unique identifier for the user.
        email:
          type: string
          format: email
          description: The email address of the user, used for email-based targeting.
        ip:
          type: string
          description: The IP address of the user, used for IP-based targeting.
        userAgent:
          type: string
          description: The user agent string, used for browser or device targeting.
        country:
          type: string
          description: The two-letter country code of the user.
        locale:
          type: string
          description: The locale identifier for the user.
        appVersion:
          type: string
          description: The version of the application the user is using.
        custom:
          type: object
          additionalProperties: true
          description: Custom properties for the user, used for custom targeting rules.
        privateAttributes:
          type: object
          additionalProperties: true
          description: Private user attributes used for evaluation but stripped before logging to Statsig servers.
        customIDs:
          type: object
          additionalProperties:
            type: string
          description: Custom identifier mappings for the user, such as companyID or teamID.
    LayerPartialUpdateContractDto:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
          description: A detailed description of the layer, explaining its purpose and functionality.
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of this parameter, used for identification within the layer.
              type:
                type: string
                enum:
                - string
                - number
                - boolean
                - object
                - array
                description: 'The data type that this parameter returns. Allowed types include: string, boolean, number, object, and array.'
              defaultValue:
                oneOf:
                - type: string
                - type: number
                - type: boolean
                - type: object
                  additionalProperties: {}
                - type: array
                  items:
                    oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: object
                      additionalProperties: {}
                description: The default value for this parameter, which must match the specified type.
              description:
                type: string
                description: An optional helpful description of what this layer parameter does, providing context for its purpose.
              schema:
                type:
                - string
                - 'null'
                description: Optional JSON schema for object parameters. If provided, defaultValue must satisfy the schema.
            required:
            - name
            - type
            - defaultValue
          description: An array of parameters associated with the layer, each defining specific attributes.
        targetApps:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: List of target applications that this layer is intended for.
    LayerCreateContractDto:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
          minLength: 3
          pattern: ^[A-Za-z0-9_ -]*$
          description: The unique name of the layer, formatted as an ID (e.g., "A Layer" becomes "a_layer").
        description:
          type: string
          maxLength: 1000
          description: A helpful description of what this layer does, providing context for its purpose.
        idType:
          type: string
          description: The type of ID used for this layer, essential for validation in services.
        targetApps:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: List of target applications that this layer is associated with.
        team:
          type: string
          description: Optional identifier for the team responsible for this layer.
      required:
      - name
      - idType
    LayerFullUpdateContractDto:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
          description: A detailed description of the layer, explaining its purpose and functionality.
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of this parameter, used for identification within the layer.
              type:
                type: string
                enum:
                - string
                - number
                - boolean
                - object
                - array
                description: 'The data type that this parameter returns. Allowed types include: string, boolean, number, object, and array.'
              defaultValue:
                oneOf:
                - type: string
                - type: number
                - type: boolean
                - type: object
                  additionalProperties: {}
                - type: array
                  items:
                    oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: object
                      additionalProperties: {}
                description: The default value for this parameter, which must match the specified type.
              description:
                type: string
                description: An optional helpful description of what this layer parameter does, providing context for its purpose.
              schema:
                type:
                - string
                - 'null'
                description: Optional JSON schema for object parameters. If provided, defaultValue must satisfy the schema.
            required:
            - name
            - type
            - defaultValue
          description: An array of parameters associated with the layer, each defining specific attributes.
        targetApps:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: List of target applications that this layer is intended for.
      required:
      - description
      - parameters
    LayerOverridesDto:
      type: object
      properties:
        conditionalOverrides:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Describes whether layer override is segment or gate
              name:
                type: string
                description: Name of override entity
              experimentName:
                type: string
              groupName:
                type: string
              environment:
                type:
                - string
                - 'null'
                description: Optional environment scope (e.g. production, staging). Omit or pass null to target the all-environments bucket.
            required:
            - type
            - name
            - experimentName
            - groupName
        idOverrides:
          type: array
          items:
            type: object
            properties:
              groupName:
                type: string
                description: Group that ID is overriden into
              ids:
                type: array
                items:
                  type: string
                description: ID being overriden into a particular group
              idType:
                type:
                - string
                - 'null'
              environment:
                type:
                - string
                - 'null'
              experimentName:
                type:
                - string
                - 'null'
            required:
            - groupName
            - ids
      required:
      - conditionalOverrides
      - idOverrides
    LayerOverridesPatchDto:
      type: object
      properties:
        op:
          type: string
          enum:
          - add
          description: Add a layer override
        conditionalOverrides:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Describes whether layer override is segment or gate
              name:
                type: string
                description: Name of override entity
              experimentName:
                type: string
              groupName:
                type: string
              environment:
                type:
                - string
                - 'null'
                description: Optional environment scope (e.g. production, staging). Omit or pass null to target the all-environments bucket.
            required:
            - type
            - name
            - experimentName
            - groupName
        idOverrides:
          type: array
          items:
            type: object
            properties:
              groupName:
                type: string
                description: Group that ID is overriden into
              ids:
                type: array
                items:
                  type: string
                description: ID being overriden into a particular group
              idType:
                type:
                - string
                - 'null'
              environment:
                type:
                - string
                - 'null'
              experimentName:
                type:
                - string
                - 'null'
            required:
            - groupName
            - ids
      required:
      - op
      - conditionalOverrides
      - idOverrides
    SingleDataResponse:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          type: object
          description: A single result.
      required:
      - message
      - data
    LayerContractDto:
      type: object
      properties:
        id:
          type: string
          description: ID
        name:
          type: string
          description: Optional name for the configuration.
        idType:
          type: string
          description: The ID type used for this layer, important for validation.
        description:
          type: string
          maxLength: 1000
          description: A detailed description of the layer, explaining its purpose and functionality.
        lastModifierID:
          type:
          - string
          - 'null'
          description: ID of the last modifier.
        lastModifiedTime:
          type:
          - number
          - 'null'
          description: Time of the last modification.
          format: double
        lastModifierEmail:
          type:
          - string
          - 'null'
          description: Email of the last modifier.
        lastModifierName:
          type:
          - string
          - 'null'
          description: Name of the last modifier.
        creatorID:
          type:
          - string
          - 'null'
          description: ID of the user who created the entity.
        createdTime:
          type: number
          description: Timestamp when the entity was created.
          format: double
        creatorName:
          type:
          - string
          - 'null'
          description: Name of the creator.
        creatorEmail:
          type:
          - string
          - 'null'
          description: Email of the creator.
        tags:
          type: array
          items:
            type: string
          description: Optional tags for categorization.
        targetApps:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: List of target applications that this layer is intended for.
        holdoutIDs:
          type: array
          items:
            type: string
          description: Holdouts applied to this configuration.
        team:
          type:
          - string
          - 'null'
          description: Optional name for the responsible team.
        teamID:
          type:
          - string
          - 'null'
          description: Optional ID of the responsible team.
        version:
          type: number
          description: Version number
          format: double
        isImplicitLayer:
          type: boolean
          description: Indicates if the layer was automatically created by Statsig during experiment creation.
        parameters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of this parameter, used for identification within the layer.
              type:
                type: string
                enum:
                - string
                - number
                - boolean
                - object
                - array
                description: 'The data type that this parameter returns. Allowed types include: string, boolean, number, object, and array.'
              defaultValue:
                oneOf:
                - type: string
                - type: number
                - type: boolean
                - type: object
                  additionalProperties: {}
                - type: array
                  items:
                    oneOf:
                    - type: string
                    - type: number
                    - type: boolean
                    - type: object
                      additionalProperties: {}
                description: The default value for this parameter, which must match the specified type.
              description:
                type: string
                description: An optional helpful description of what this layer parameter does, providing context for its purpose.
              schema:
                type:
                - string
                - 'null'
                description: Optional JSON schema for object parameters. If provided, defaultValue must satisfy the schema.
            required:
            - name
            - type
            - defaultValue
          description: An array of parameters associated with the layer, each defining specific attributes.
        targeting_gate_parameter_values:
          type: array
          items:
            type: object
            properties:
              targetingGateName:
                type: string
                description: The name of the targeting gate for these shipped values.
              parameters:
                type: object
                additionalProperties:
                  oneOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: object
                    additionalProperties: {}
                  - type: array
                    items:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                      - type: object
                        additionalProperties: {}
                description: Layer parameter values returned when the targeting gate passes.
            required:
            - targetingGateName
            - parameters
          description: Parameter values returned when a targeting gate passes during ship-with-targeting.
        holdout_parameter_values:
          type: array
          items:
            type: object
            properties:
              holdoutID:
                type: string
                description: The ID of the holdout for these layer parameter values.
              parameters:
                type: object
                additionalProperties:
                  oneOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: object
                    additionalProperties: {}
                  - type: array
                    items:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                      - type: object
                        additionalProperties: {}
                description: Layer parameter values returned when the holdout gate passes.
              excludeNewParams:
                type: boolean
                description: Whether newly added layer parameters should be excluded from this holdout edge.
            required:
            - holdoutID
            - parameters
            - excludeNewParams
          description: Holdout-specific parameter values for this layer.
        permalink:
          type: string
          format: uri
          description: A permalink to this layer in the Statsig Console.
      required:
      - id
      - idType
      - description
      - lastModifierID
      - lastModifiedTime
      - lastModifierEmail
      - lastModifierName
      - creatorID
      - createdTime
      - creatorName
      - creatorEmail
      - isImplicitLayer
      - parameters
      - targeting_gate_parameter_values
      - holdout_parameter_values
      - permalink
    PaginationResponseWithMessage:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          description: Array of results returned by pagination limit.
          type: array
          items:
            type: object
        pagination:
          description: Pagination metadata for checking if there is next page for example.
          allOf:
          - $ref: '#/components/schemas/PaginationResponseMetadataDto'
      required:
      - message
      - data
      - pagination
    ExternalExperimentDto:
      type: object
      properties:
        reviewSettings:
          type: object
          properties:
            requiredReview:
              type: boolean
            allowedReviewers:
              type:
              - array
              - 'null'
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                required:
                - id
                - name
                - email
          required:
          - requiredReview
        activeReview:
          type: object
          properties:
            reviewID:
              type: string
            reviewStatus:
              type: string
            description:
              type: string
          required:
          - reviewID
          - reviewStatus
          - description
        id:
          type: string
          description: ID
        name:
          type: string
          maxLength: 100
          minLength: 3
          pattern: ^[a-zA-Z0-9_\- ]*$
          description: The display name of the experiment
        idType:
          type: string
        description:
          type: string
          maxLength: 1000
          description: A helpful summary of what this experiment does
        lastModifierID:
          type:
          - string
          - 'null'
          description: ID of the last modifier.
        lastModifiedTime:
          type:
          - number
          - 'null'
          description: Time of the last modification.
          format: double
        lastModifierEmail:
          type:
          - string
          - 'null'
          description: Email of the last modifier.
        lastModifierName:
          type:
          - string
          - 'null'
          description: Name of the last modifier.
        creatorID:
          type:
          - string
          - 'null'
          description: The Statsig ID of the creator of this experiment
        createdTime:
          type: number
          description: Timestamp when the entity was created.
          format: double
        creatorName:
          type:
          - string
          - 'null'
          description: Name of the creator.
        creatorEmail:
          type:
          - string
          - 'null'
          description: The email of the creator of this experiment
        tags:
          type: array
          items:
            type: string
        targetApps:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
          description: Target apps assigned to this experiment
        holdoutIDs:
          type: array
          items:
            type: string
          description: Holdouts applied to this configuration.
        team:
          type:
          - string
          - 'null'
          description: The team name associated with the experiment, Enterprise only.
        teamID:
          type:
          - string
          - 'null'
          description: The team ID associated with the experiment, Enterprise only.
        version:
          type: number
          description: Version number
          format: double
        secondaryIDType:
          type:
          - string
          - 'null'
          description: The secondary ID type for the experiment used in WHN for ID resolution
        identifierMappingMode:
          type: string
          enum:
          - strictOneToOne
          - firstTouchOneToMany
          - lastTouchOneToMany
          description: The identifier mapping mode for the experiment used in WHN for ID resolution
        identityResolutionSource:
          type:
          - string
          - 'null'
          description: The identity resolution entity property source for the experiment used in WHN for ID resolution
        hypothesis:
          type: string
          description: A statement that will be tested by this experiment
        links:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                description: The URL of the link
              title:
                type: string
                description: The title of the link
            required:
            - url
          description: Links to relevant documentation or resources
        externalEvents:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              timestamp:
                type: number
            required:
            - name
            - timestamp
        groups:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              id:
                type:
                - string
                - 'null'
              size:
                type: number
                minimum: 0
                maximum: 100
              parameterValues:
                type: object
                additionalProperties: {}
                description: A map of parameter name to the value this group serves. Sidecar (Visual Editor) experiments also return `sidecarURLFilters`, `sidecarDisableAutoRun`, `sidecarPrerunScript`, and `sidecarExperimentName` here, copied from the experiment itself on read. Sending them here does nothing; set them as experiment fields instead.
              disabled:
                type: boolean
              description:
                type: string
              foreignGroupID:
                type: string
              highlighted:
                type: boolean
                description: Marks this experiment group as highlighted in analysis views. Highlighted groups are prioritized (shown first) and can be used to filter.
              isControl:
                type: boolean
                description: 'Whether this group is the experiment''s control. Derived from the experiment''s `controlGroupID`, so it is always consistent with the `controlGroupID` returned alongside it. Read-only: to change the control group, set `controlGroupID` on the experiment.'
              shipped:
                type: boolean
                description: Whether this group is the one that was shipped. Derived from the experiment's `launchedGroupID`, so it is always consistent with the `launchedGroupID` returned alongside it. Read-only.
              images:
                type: array
                items:
                  type: string
                description: Names of images attached to this group.
              foreignGroupIDVerified:
                type:
                - boolean
                - 'null'
                description: Whether `foreignGroupID` has been verified against the external system. Read-only.
            required:
            - name
            - size
            - parameterValues
          description: The test groups for your experiment
        controlGroupID:
          type: string
          description: Optional control group ID
        allocation:
          type: number
          minimum: 0
          maximum: 100
          description: Percent of layer allocated to this experiment
          format: double
        userBuckets:
          type: array
          items:
            type: number
            minimum: 0
            exclusiveMaximum: 1000
        primaryMetricTags:
          type: array
          items:
            type: string
          description: Primary metric tags for the experiment
        secondaryMetricTags:
          type: array
          items:
            type: string
          description: Secondary metric tags for the experiment
        primaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The metric name.
              type:
                type: string
                description: The metric type.
              direction:
                type: string
                enum:
                - increase
                - decrease
                description: The expected direction for one-sided testing (a feature to only measure metric movements in a single direction)
              hypothesizedValue:
                type: number
                description: The comparison value for the one-sample testing (a feature to use a fixed baseline as the control value)
            required:
            - name
            - type
        secondaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The metric name.
              type:
                type: string
                description: The metric type.
              direction:
                type: string
                enum:
                - increase
                - decrease
                description: The expected direction for one-sided testing (a feature to only measure metric movements in a single direction)
              hypothesizedValue:
                type: number
                description: The comparison value for the one-sample testing (a feature to use a fixed baseline as the control value)
            required:
            - name
            - type
        otherMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The metric name.
              type:
                type: string
                description: The metric type.
              direction:
                type: string
                enum:
                - increase
                - decrease
                description: The expected direction for one-sided testing (a feature to only measure metric movements in a single direction)
              hypothesizedValue:
                type: number
                description: The comparison value for the one-sample testing (a feature to use a fixed baseline as the control value)
            required:
            - name
            - type
          description: Additional metrics you want to investigate or learn from. The usual corrections applied to Primary and Secondary metrics are not applied to these.
        duration:
          type: integer
          description: How long the experiment is expected to last in days
          format: int64
          exclusiveMinimum: 1
        targetExposures:
          type: integer
          description: Target exposures for the experiment
          format: int64
          exclusiveMinimum: 1
        targetingGateID:
          type:
          - string
          - 'null'
          description: Restrict your experiment to users passing the selected feature gate
        sequentialTesting:
          type: boolean
          description: Apply sequential testing?
        bonferroniCorrection:
          type: boolean
          description: Is Bonferroni correction applied per variant?
        bonferroniCorrectionPerMetric:
          type: boolean
          description: Is Bonferroni correction applied per metric?
        benjaminiHochbergPerVariant:
          type: boolean
          description: Is Benjamini-Hochberg procedure applied per variant?
        benjaminiHochbergPerMetric:
          type: boolean
          description: Is Benjamini-Hochberg procedure applied per metric?
        benjaminiPrimaryMetricsOnly:
          type: boolean
          description: Is Benjamini-Hochberg procedure applied for primary metrics only?
        defaultConfidenceInterval:
          type: string
          enum:
          - '80'
          - '90'
          - '95'
          - '98'
          - '99'
          description: Default error margin used for results
        defaultRollupWindow:
          type: integer
          description: Default rollup window in days for experiment results. Use -1 for cumulative. Only -1, 1, and 7 allowed for cloud experiments.
          format: int64
        defaultChanceToBeatThreshold:
          type: number
          description: Default chance-to-beat threshold used for Bayesian results.
          format: double
        bayesianPriors:
          type: array
          items:
            type: object
            properties:
              metric:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                required:
                - name
                - type
              priorMean:
                type: number
              priorStdDev:
                type: number
                exclusiveMinimum: 0
[...]
