openapi: 3.2.0
info:
  title: Statsig Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-users-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://statsigapi.net
tags:
- name: Users
  description: Manage user data and lookup user properties within the Statsig project.
paths:
  /users:
    get:
      operationId: listUsers
      summary: List users
      description: Retrieves a list of users known to the Statsig project.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /console/v1/users:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Users
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: include_stale_members
        required: false
        in: query
        description: Whether to include stale company-user membership edges. Defaults to false, which returns only effective current members (matching the Settings UI).
        schema:
          example: false
          type: boolean
      responses:
        '200':
          description: List users response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/UserContractDto'
                example:
                  message: User listed successfully.
                  data:
                  - userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: a
                    lastName: b
                    role: admin
                  - userID: AeZVbagk2uhvHwmJgnemx
                    email: test@statsig.com
                    firstName: a
                    lastName: b
                    role: member
                  - userID: 1oi5rgdgdUtiXGSi397nxM
                    email: test@statsig.com
                    firstName: test
                    lastName: ''
                    role: admin
                  - userID: 1vaQaBoLlkauH9iiuOSBP2
                    email: test@statsig.com
                    firstName: test
                    lastName: ''
                    role: member
                  - userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: member
                  - userID: AeZVbagk2uhvHwmJgnemx
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
                  - userID: 1oi5rgdgdUtiXGSi397nxM
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
                  - userID: 1vaQaBoLlkauH9iiuOSBP2
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: member
                  pagination:
                    itemsPerPage: 10
                    pageNumber: 4
                    totalItems: 38
                    nextPage: null
                    previousPage: /console/v1/users?page=3&limit=10
                    all: /console/v1/users
              example:
                message: User listed successfully.
                data:
                - userID: 5sgBiiuoBX4fscrWdCXVma
                  email: test@statsig.com
                  firstName: a
                  lastName: b
                  role: admin
                - userID: AeZVbagk2uhvHwmJgnemx
                  email: test@statsig.com
                  firstName: a
                  lastName: b
                  role: member
                - userID: 1oi5rgdgdUtiXGSi397nxM
                  email: test@statsig.com
                  firstName: test
                  lastName: ''
                  role: admin
                - userID: 1vaQaBoLlkauH9iiuOSBP2
                  email: test@statsig.com
                  firstName: test
                  lastName: ''
                  role: member
                - userID: 5sgBiiuoBX4fscrWdCXVma
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: member
                - userID: AeZVbagk2uhvHwmJgnemx
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: admin
                - userID: 1oi5rgdgdUtiXGSi397nxM
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: admin
                - userID: 1vaQaBoLlkauH9iiuOSBP2
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: member
                pagination:
                  itemsPerPage: 10
                  pageNumber: 4
                  totalItems: 38
                  nextPage: null
                  previousPage: /console/v1/users?page=3&limit=10
                  all: /console/v1/users
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Users
      x-operation-id-source: derived
  /console/v1/users/{email}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get user by email
      parameters:
      - name: email
        required: true
        in: path
        description: email
        schema:
          type: string
      responses:
        '200':
          description: Get user response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserContractDto'
                example:
                  message: User read successfully.
                  data:
                    userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
              example:
                message: User read successfully.
                data:
                  userID: 5sgBiiuoBX4fscrWdCXVma
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: admin
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UsersByEmail
      x-operation-id-source: derived
    post:
      summary: Update user
      parameters:
      - name: email
        required: true
        in: path
        description: email
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateDto'
      responses:
        '200':
          description: Update user response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserContractDto'
                example:
                  message: User updated successfully.
                  data:
                    userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
              example:
                message: User updated successfully.
                data:
                  userID: 5sgBiiuoBX4fscrWdCXVma
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: admin
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '403':
          description: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 403
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Forbidden resource:
                  value:
                    status: 403
                    message: Forbidden. The request was valid, but the server is refusing action. You might not have the necessary permissions to access the resource.
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1UsersByEmail
      x-operation-id-source: derived
  /console/v1/users/id/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get user by ID
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get user response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserContractDto'
                example:
                  message: User read successfully.
                  data:
                    userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
              example:
                message: User read successfully.
                data:
                  userID: 5sgBiiuoBX4fscrWdCXVma
                  email: test@statsig.com
                  firstName: test
                  lastName: user
                  role: admin
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UsersIdById
      x-operation-id-source: derived
  /console/v1/users/invite:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Invite users
      description: Invite a list of users with assigned roles and teams. To avoid spamming, invitation emails are not sent. Invitee will see invitation notification in-app after logging in.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInvitesDto'
      responses:
        '200':
          description: Invite user response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: User(s) Invited successfully
              example:
                message: User(s) Invited successfully
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1UsersInvite
      x-operation-id-source: derived
  /console/v1/users/teams:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List Teams
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: Get teams response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/TeamDtoWithoutMembersDto'
                example:
                  message: Teams listed successfully.
                  data:
                  - name: test
                    defaultGateMetrics: []
                    defaultExperimentPrimaryMetrics: []
                    defaultExperimentSecondaryMetrics: []
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: anyone
                    reviewApproval: anyone
                    defaultTargetApplications: []
                  - name: Console Team
                    defaultGateMetrics: []
                    defaultExperimentPrimaryMetrics: []
                    defaultExperimentSecondaryMetrics: []
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: anyone
                    reviewApproval: anyone
                    defaultTargetApplications: []
                  - name: WHN-ish Team
                    defaultGateMetrics:
                    - name: MA Custom Metric 2
                      type: event_user
                    - name: MA Custom Metric 9
                      type: event_count_custom
                    - name: MA Custom Metric 3
                      type: event_count_custom
                    defaultExperimentPrimaryMetrics: []
                    defaultExperimentSecondaryMetrics:
                    - name: MA Custom Metric 2
                      type: event_user
                    - name: MA Custom Metric 9
                      type: event_count_custom
                    - name: MA Custom Metric 3
                      type: event_count_custom
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: team_only
                    reviewApproval: team_only
                    defaultTargetApplications: []
                  pagination:
                    itemsPerPage: 3
                    pageNumber: 1
                    totalItems: 8
                    nextPage: /console/v1/users/teams?page=2&limit=3
                    previousPage: null
                    all: /console/v1/users/teams
              example:
                message: Teams listed successfully.
                data:
                - name: test
                  defaultGateMetrics: []
                  defaultExperimentPrimaryMetrics: []
                  defaultExperimentSecondaryMetrics: []
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: anyone
                  reviewApproval: anyone
                  defaultTargetApplications: []
                - name: Console Team
                  defaultGateMetrics: []
                  defaultExperimentPrimaryMetrics: []
                  defaultExperimentSecondaryMetrics: []
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: anyone
                  reviewApproval: anyone
                  defaultTargetApplications: []
                - name: WHN-ish Team
                  defaultGateMetrics:
                  - name: MA Custom Metric 2
                    type: event_user
                  - name: MA Custom Metric 9
                    type: event_count_custom
                  - name: MA Custom Metric 3
                    type: event_count_custom
                  defaultExperimentPrimaryMetrics: []
                  defaultExperimentSecondaryMetrics:
                  - name: MA Custom Metric 2
                    type: event_user
                  - name: MA Custom Metric 9
                    type: event_count_custom
                  - name: MA Custom Metric 3
                    type: event_count_custom
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: team_only
                  reviewApproval: team_only
                  defaultTargetApplications: []
                pagination:
                  itemsPerPage: 3
                  pageNumber: 1
                  totalItems: 8
                  nextPage: /console/v1/users/teams?page=2&limit=3
                  previousPage: null
                  all: /console/v1/users/teams
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UsersTeams
      x-operation-id-source: derived
    post:
      summary: Create Team
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreationDto'
      responses:
        '200':
          description: Create team response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/TeamDto'
                example:
                  message: Team created successfully.
                  data:
                    name: The Avengers
                    members:
                    - userID: 5sgBiiuoBX4fscrWdCXVma
                      email: test@statsig.com
                      firstName: test
                      lastName: user
                      role: admin
                    admins: []
                    defaultGateMetrics: []
                    defaultExperimentPrimaryMetrics: []
                    defaultExperimentSecondaryMetrics: []
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: anyone
                    reviewApproval: anyone
                    defaultTargetApplications: []
              example:
                message: Team created successfully.
                data:
                  name: The Avengers
                  members:
                  - userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
                  admins: []
                  defaultGateMetrics: []
                  defaultExperimentPrimaryMetrics: []
                  defaultExperimentSecondaryMetrics: []
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: anyone
                  reviewApproval: anyone
                  defaultTargetApplications: []
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1UsersTeams
      x-operation-id-source: derived
  /console/v1/users/teams/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get Team
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get team response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/TeamDto'
                example:
                  message: Team read successfully.
                  data:
                    name: test
                    members:
                    - userID: 5sgBiiuoBX4fscrWdCXVma
                      email: Test User@statsig.com
                      firstName: test
                      lastName: user
                      role: admin
                    - userID: AeZVbagk2uhvHwmJgnemx
                      email: Test User@statsig.com
                      firstName: test
                      lastName: ''
                      role: admin
                    - userID: 1oi5rgdgdUtiXGSi397nxM
                      email: Test User@statsig.com
                      firstName: test
                      lastName: ''
                      role: admin
                    admins: []
                    defaultGateMetrics: []
                    defaultExperimentPrimaryMetrics: []
                    defaultExperimentSecondaryMetrics: []
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: anyone
                    reviewApproval: anyone
                    defaultTargetApplications: []
              example:
                message: Team read successfully.
                data:
                  name: test
                  members:
                  - userID: 5sgBiiuoBX4fscrWdCXVma
                    email: Test User@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
                  - userID: AeZVbagk2uhvHwmJgnemx
                    email: Test User@statsig.com
                    firstName: test
                    lastName: ''
                    role: admin
                  - userID: 1oi5rgdgdUtiXGSi397nxM
                    email: Test User@statsig.com
                    firstName: test
                    lastName: ''
                    role: admin
                  admins: []
                  defaultGateMetrics: []
                  defaultExperimentPrimaryMetrics: []
                  defaultExperimentSecondaryMetrics: []
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: anyone
                  reviewApproval: anyone
                  defaultTargetApplications: []
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1UsersTeamsById
      x-operation-id-source: derived
    patch:
      summary: Update team
      description: Replace the team definition. Use GET to fetch current data if you intend to add fields without overwriting existing values.
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamPartialUpdateDto'
      responses:
        '200':
          description: Update team response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/TeamDto'
                example:
                  message: Team updated successfully.
                  data:
                    name: The Avengers
                    members:
                    - userID: 5sgBiiuoBX4fscrWdCXVma
                      email: test@statsig.com
                      firstName: test
                      lastName: user
                      role: admin
                    admins: []
                    defaultGateMetrics:
                    - name: 'A metric for asd '
                      type: event_count_custom
                    defaultExperimentPrimaryMetrics:
                    - name: 'A metric for aaaa '
                      type: event_count_custom
                    defaultExperimentSecondaryMetrics: []
                    defaultHoldoutMetrics: []
                    changeTeamConfigs: anyone
                    reviewApproval: anyone
                    defaultTargetApplications:
                    - Android
              example:
                message: Team updated successfully.
                data:
                  name: The Avengers
                  members:
                  - userID: 5sgBiiuoBX4fscrWdCXVma
                    email: test@statsig.com
                    firstName: test
                    lastName: user
                    role: admin
                  admins: []
                  defaultGateMetrics:
                  - name: 'A metric for asd '
                    type: event_count_custom
                  defaultExperimentPrimaryMetrics:
                  - name: 'A metric for aaaa '
                    type: event_count_custom
                  defaultExperimentSecondaryMetrics: []
                  defaultHoldoutMetrics: []
                  changeTeamConfigs: anyone
                  reviewApproval: anyone
                  defaultTargetApplications:
                  - Android
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: patchConsoleV1UsersTeamsById
      x-operation-id-source: derived
    delete:
      summary: Delete Team
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete team response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Team deleted successfully
              example:
                message: Team deleted successfully
      tags:
      - Users
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1UsersTeamsById
      x-operation-id-source: derived
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Maximum number of items to return per page.
    ApiVersion:
      name: STATSIG-API-VERSION
      in: header
      required: false
      schema:
        type: string
        default: '20240601'
      description: The Console API version. Currently the only version is 20240601.
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: Page number for paginated results.
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing the authentication failure.
  schemas:
    Pagination:
      type: object
      description: Pagination metadata for list responses.
      properties:
        total:
          type: integer
          description: Total number of items available.
        page:
          type: integer
          description: Current page number.
        limit:
          type: integer
          description: Number of items per page.
        hasMore:
          type: boolean
          description: Whether more pages are available.
    User:
      type: object
      description: A user record in the Statsig project.
      properties:
        userID:
          type: string
          description: The unique identifier of the user.
        email:
          type: string
          format: email
          description: The user email address.
        properties:
          type: object
          description: Custom properties associated with the user.
    TeamCreationDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the team.
        description:
          type: string
          description: Description of the team.
        members:
          type: array
          items:
            type: string
          description: Array of member email addresses in the team.
        admins:
          type: array
          items:
            type: string
          description: Array of admin email addresses in the team.
        defaultGateMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default gate metrics for the team.
        defaultExperimentPrimaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default primary metrics for experiments in the team.
        defaultExperimentSecondaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default secondary metrics for experiments in the team.
        defaultHoldoutMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default holdout metrics for the team.
        changeTeamConfigs:
          type: string
          enum:
          - anyone
          - team_only
          description: 'Who can change team configurations: "anyone" or "team_only".'
        reviewApproval:
          type: string
          enum:
          - anyone
          - team_only
          - admin_only
          description: 'Who can review and approve changes: "anyone", "team_only", or "admin_only".'
        defaultTargetApplications:
          type: array
          items:
            type: string
          description: Default target applications for the team.
        defaultHoldoutID:
          type:
          - string
          - 'null'
          description: Default holdout ID for the team, if applicable.
        requireReviews:
          type:
          - boolean
          - 'null'
          description: Whether reviews are required for changes, if applicable.
        requireGateTemplates:
          type:
          - boolean
          - 'null'
          description: Whether gate templates are required for the team, if applicable.
        requireExperimentTemplates:
          type:
          - boolean
          - 'null'
          description: Whether experiment templates are required for the team, if applicable.
        requireDynamicConfigTemplates:
          type:
          - boolean
          - 'null'
          description: Whether dynamic config templates are required for the team, if applicable.
      required:
      - name
      - members
      - admins
      - defaultGateMetrics
      - defaultExperimentPrimaryMetrics
      - defaultExperimentSecondaryMetrics
      - defaultHoldoutMetrics
      - changeTeamConfigs
      - reviewApproval
      - defaultTargetApplications
    PaginationResponseWithMessage:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          description: Array of results returned by pagination limit.
          type: array
          items:
            type: object
        pagination:
          description: Pagination metadata for checking if there is next page for example.
          allOf:
          - $ref: '#/components/schemas/PaginationResponseMetadataDto'
      required:
      - message
      - data
      - pagination
    TeamDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the team.
        description:
          type: string
          description: Description of the team.
        id:
          type: string
          description: The ID of the team.
        defaultGateMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default gate metrics for the team.
        defaultExperimentPrimaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default primary metrics for experiments in the team.
        defaultExperimentSecondaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default secondary metrics for experiments in the team.
        defaultHoldoutMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default holdout metrics for the team.
        changeTeamConfigs:
          type: string
          enum:
          - anyone
          - team_only
          description: 'Who can change team configurations: "anyone" or "team_only".'
        reviewApproval:
          type: string
          enum:
          - anyone
          - team_only
          - admin_only
          description: 'Who can review and approve changes: "anyone", "team_only", or "admin_only".'
        defaultTargetApplications:
          type: array
          items:
            type: string
          description: Default target applications for the team.
        defaultHoldoutID:
          type:
          - string
          - 'null'
          description: Default holdout ID for the team, if applicable.
        requireReviews:
          type:
          - boolean
          - 'null'
          description: Whether reviews are required for changes, if applicable.
        requireGateTemplates:
          type:
          - boolean
          - 'null'
          description: Whether gate templates are required for the team, if applicable.
        requireExperimentTemplates:
          type:
          - boolean
          - 'null'
          description: Whether experiment templates are required for the team, if applicable.
        requireDynamicConfigTemplates:
          type:
          - boolean
          - 'null'
          description: Whether dynamic config templates are required for the team, if applicable.
        members:
          type: array
          items:
            type: object
            properties:
              userID:
                type: string
                description: The user's unique ID.
              email:
                type: string
                format: email
                description: The email address of the user.
              firstName:
                type: string
                description: The user's first name.
              lastName:
                type: string
                description: The user's last name.
              role:
                type: string
                description: The user's role, which can be 'Admin', 'Read Only', 'Member', or any custom role name.
            required:
            - userID
            - email
            - firstName
            - lastName
            - role
        admins:
          type: array
          items:
            type: object
            properties:
              userID:
                type: string
                description: The user's unique ID.
              email:
                type: string
                format: email
                description: The email address of the user.
              firstName:
                type: string
                description: The user's first name.
              lastName:
                type: string
                description: The user's last name.
              role:
                type: string
                description: The user's role, which can be 'Admin', 'Read Only', 'Member', or any custom role name.
            required:
            - userID
            - email
            - firstName
            - lastName
            - role
      required:
      - name
      - id
      - defaultGateMetrics
      - defaultExperimentPrimaryMetrics
      - defaultExperimentSecondaryMetrics
      - defaultHoldoutMetrics
      - changeTeamConfigs
      - reviewApproval
      - defaultTargetApplications
      - members
      - admins
    TeamPartialUpdateDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the team.
        description:
          type: string
          description: Description of the team.
        id:
          type: string
          description: The ID of the team.
        members:
          type: array
          items:
            type: string
          description: Array of member email addresses in the team.
        admins:
          type: array
          items:
            type: string
          description: Array of admin email addresses in the team.
        defaultGateMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default gate metrics for the team.
        defaultExperimentPrimaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default primary metrics for experiments in the team.
        defaultExperimentSecondaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default secondary metrics for experiments in the team.
        defaultHoldoutMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default holdout metrics for the team.
        changeTeamConfigs:
          type: string
          enum:
          - anyone
          - team_only
          description: 'Who can change team configurations: "anyone" or "team_only".'
        reviewApproval:
          type: string
          enum:
          - anyone
          - team_only
          - admin_only
          description: 'Who can review and approve changes: "anyone", "team_only", or "admin_only".'
        defaultTargetApplications:
          type: array
          items:
            type: string
          description: Default target applications for the team.
        defaultHoldoutID:
          type:
          - string
          - 'null'
          description: Default holdout ID for the team, if applicable.
        requireReviews:
          type:
          - boolean
          - 'null'
          description: Whether reviews are required for changes, if applicable.
        requireGateTemplates:
          type:
          - boolean
          - 'null'
          description: Whether gate templates are required for the team, if applicable.
        requireExperimentTemplates:
          type:
          - boolean
          - 'null'
          description: Whether experiment templates are required for the team, if applicable.
        requireDynamicConfigTemplates:
          type:
          - boolean
          - 'null'
          description: Whether dynamic config templates are required for the team, if applicable.
    SingleDataResponse:
      type: object
      properties:
        message:
          type: string
          description: A simple string explaining the result of the operation.
        data:
          type: object
          description: A single result.
      required:
      - message
      - data
    TeamDtoWithoutMembersDto:
      type: object
      properties:
        name:
          type: string
          description: The name of the team.
        description:
          type: string
          description: Description of the team.
        id:
          type: string
          description: The ID of the team.
        defaultGateMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default gate metrics for the team.
        defaultExperimentPrimaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default primary metrics for experiments in the team.
        defaultExperimentSecondaryMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default secondary metrics for experiments in the team.
        defaultHoldoutMetrics:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the metric.
              type:
                type: string
                description: The type of the metric.
            required:
            - name
            - type
          description: Default holdout metrics for the team.
        changeTeamConfigs:
          type: string
          enum:
          - anyone
          - team_only
          description: 'Who can change team configurations: "anyone" or "team_only".'
        reviewApproval:
          type: string
          enum:
          - anyone
          - team_only
          - admin_only
          description: 'Who can review and approve changes: "anyone", "team_only", or "admin_only".'
        defaultTargetApplications:
          type: array
          items:
            type: string
          description: Default target applications for the team.
        defaultHoldoutID:
          type:
          - string
          - 'null'
          description: Default holdout ID for the team, if applicable.
        requireReviews:
          type:
          - boolean
          - 'null'
          description: Whether reviews are required for changes, if applicable.
        requireGateTemplates:
          type:
          - boolean
          - 'null'
          description: Whether gate templates are required for the team, if applicable.
        requireExperimentTemplates:
          type:
          - boolean
          - 'null'
          description: Whether experiment templates are required for the team, if applicable.
        requireDynamicConfigTemplates:
          type:
          - boolean
          - 'null'
          description: Whether dynamic config templates are required for the team, if applicable.
      required:
      - name
      - id
      - defaultGateMetrics
      - defaultExperimentPrimaryMetrics
      - defaultExperimentSecondaryMetrics
      - defaultHoldoutMetrics
      - changeTeamConfigs
      - reviewApproval
      - defaultTargetApplications
    UserInvitesDto:
      type: object
      properties:
        role:
          type: string
          description: Role assigned to the invited users. Can be 'Admin', 'Read Only', 'Member', or any custom role name.
        emails:
          type: array
          items:
            type: string
            format: email
          description: List of email addresses to send invitations to. Invitee Emails must have the same domain to your company email domain.
        teams:
          type: array
          items:
            type: string
          description: Optional list of teams that the invited users will be associated with.
      required:
      - role
      - emails
    PaginationResponseMetadataDto:
      type: object
      properties:
        itemsPerPage:
          type: number
          format: double
        pageNumber:
          type: number
          format: double
        nextPage:
          type:
          - string
          - 'null'
        previousPage:
          type:
          - string
          - 'null'
        totalItems:
          type: number
          format: double
        all:
          type: string
      required:
      - itemsPerPage
      - pageNumber
      - nextPage
      - previousPage
    UserUpdateDto:
      type: object
      properties:
        role:
          type: string
          description: Update the user's role. Can be 'Admin', 'Read Only', 'Member', or any custom role name.
        firstName:
          type: string
          description: Update the user's first name.
        lastName:
          type: string
          description: Update the user's last name.
      description: Schema for updating user information.
    UserContractDto:
      type: object
      properties:
        userID:
          type: string
          description: The user's unique ID.
        email:
          type: string
          format: email
          description: The email address of the user.
        firstName:
          type: string
          description: The user's first name.
        lastName:
          type: string
          description: The user's last name.
        role:
          type: string
          description: The user's role, which can be 'Admin', 'Read Only', 'Member', or any custom role name.
      required:
      - userID
      - email
      - firstName
      - lastName
      - role
  securitySchemes:
    consoleApiKey:
      type: apiKey
      in: header
      name: STATSIG-API-KEY
      description: Console API Key created in Project Settings > API Keys tab. Required for all Console API requests.
    STATSIG-API-KEY:
      type: apiKey
      name: STATSIG-API-KEY
      in: header
externalDocs:
  description: Statsig Console API Documentation
  url: https://docs.statsig.com/console-api/
x-refined-from:
- statsig-console-api-openapi.yml
- statsig-users-api-openapi.yml
