openapi: 3.2.0
info:
  title: Statsig Console Autotunes API
  description: The Statsig Console API enables developers to programmatically manage their Statsig project configuration. It supports full CRUD operations on feature gates, dynamic configs, experiments, segments, layers, holdouts, autotunes, metrics, keys, users, tags, target apps, audit logs, and other entities. The API requires a Console API Key and uses versioned endpoints with the STATSIG-API-VERSION header. It is designed for automation workflows such as bulk configuration edits, syncing definitions into Statsig from external systems, and integrating Statsig management into CI/CD pipelines.
  version: '20240601'
  contact:
    name: Statsig Support
    url: https://statsig.com/support
  termsOfService: https://statsig.com/terms
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
security:
- consoleApiKey: []
tags:
- name: Autotunes
  description: Manage autotune configurations that automatically optimize parameter values based on a target metric.
paths:
  /autotunes:
    get:
      operationId: listAutotunes
      summary: List all autotunes
      description: Retrieves a list of all autotune configurations in the project.
      tags:
      - Autotunes
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: List of autotunes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Autotune'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAutotune
      summary: Create an autotune
      description: Creates a new autotune configuration that automatically optimizes parameter values based on a target metric.
      tags:
      - Autotunes
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutotuneCreate'
      responses:
        '201':
          description: Autotune created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autotune'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing what was wrong with the request.
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Error message describing the authentication failure.
  schemas:
    AutotuneCreate:
      type: object
      description: Request body for creating a new autotune configuration.
      required:
      - name
      - successMetric
      properties:
        name:
          type: string
          description: The name of the autotune to create.
        description:
          type: string
          description: A human-readable description.
        variants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the variant.
              parameterValues:
                type: object
                description: The parameter values for this variant.
          description: The variants to optimize.
        successMetric:
          type: string
          description: The metric to optimize for.
    Autotune:
      type: object
      description: An autotune configuration that automatically optimizes parameter values based on a target metric.
      properties:
        id:
          type: string
          description: The unique identifier of the autotune.
        name:
          type: string
          description: The name of the autotune.
        description:
          type: string
          description: A human-readable description.
        status:
          type: string
          description: The current status of the autotune.
        variants:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the variant.
              parameterValues:
                type: object
                description: The parameter values for this variant.
          description: The variants being optimized.
        successMetric:
          type: string
          description: The metric being optimized for.
  parameters:
    ApiVersion:
      name: STATSIG-API-VERSION
      in: header
      required: false
      schema:
        type: string
        default: '20240601'
      description: The Console API version. Currently the only version is 20240601.
  securitySchemes:
    consoleApiKey:
      type: apiKey
      in: header
      name: STATSIG-API-KEY
      description: Console API Key created in Project Settings > API Keys tab. Required for all Console API requests.
externalDocs:
  description: Statsig Console API Documentation
  url: https://docs.statsig.com/console-api/
