openapi: 3.2.0
info:
  title: Statsig Metrics API
  version: '1.0'
  description: 'Operations tagged Metrics across 2 of this provider''s published API definitions: statsig-console-api-openapi.yml, statsig-metrics-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://statsigapi.net/console/v1
  description: Statsig Console API Server
- url: https://statsigapi.net
tags:
- name: Metrics
  description: Access and manage metric definitions and metric sources used in experiment analysis.
paths:
  /metrics:
    get:
      operationId: listMetrics
      summary: List all metrics
      description: Retrieves a list of all metric definitions in the project.
      tags:
      - Metrics
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Metric'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /metrics/{id}:
    get:
      operationId: getMetric
      summary: Get a metric
      description: Retrieves the definition of a specific metric.
      tags:
      - Metrics
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The name or identifier of the metric.
      responses:
        '200':
          description: Metric details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - consoleApiKey: []
    servers:
    - url: https://statsigapi.net/console/v1
      description: Statsig Console API Server
  /console/v1/metrics:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Single Metric Value
      parameters:
      - name: id
        required: true
        in: query
        description: The unique identifier of the metric with format <metric_id>::<type>
        schema:
          type: string
      - name: date
        required: true
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      responses:
        '200':
          description: Get metric data on given date response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MetricValuesDto'
                example:
                  message: Metric read successfully.
                  data:
                  - value: 0
                    unit_type: overall
                    numerator: null
                    denominator: null
                    metric_name: TestMetricCapi
                    metric_type: sum
                  - value: 0
                    unit_type: userID
                    numerator: null
                    denominator: null
                    metric_name: TestMetricCapi
                    metric_type: sum
              example:
                message: Metric read successfully.
                data:
                - value: 0
                  unit_type: overall
                  numerator: null
                  denominator: null
                  metric_name: TestMetricCapi
                  metric_type: sum
                - value: 0
                  unit_type: userID
                  numerator: null
                  denominator: null
                  metric_name: TestMetricCapi
                  metric_type: sum
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1Metrics
      x-operation-id-source: derived
    post:
      summary: Create Metric
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricCreationContractDto'
      responses:
        '201':
          description: Create metric response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
                example:
                  message: Metric created successfully.
                  data:
                    id: TestMetricCapi::sum
                    name: TestMetricCapi
                    directionality: increase
                    type: sum
                    description: Capi Metric
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: CONSOLE API
                    creatorEmail: null
                    createdTime: 1720218271796
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: Console Team
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      type: metadata
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
              example:
                message: Metric created successfully.
                data:
                  id: TestMetricCapi::sum
                  name: TestMetricCapi
                  directionality: increase
                  type: sum
                  description: Capi Metric
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: CONSOLE API
                  creatorEmail: null
                  createdTime: 1720218271796
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: Console Team
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    type: metadata
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1Metrics
      x-operation-id-source: derived
  /console/v1/metrics/{id}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Metric Definition
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get Metric Definition response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
                example:
                  message: Metric read successfully.
                  data:
                    id: TestMetricCapi::sum
                    name: TestMetricCapi
                    directionality: increase
                    type: sum
                    description: Capi Metric
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: CONSOLE API
                    creatorEmail: null
                    createdTime: 1720218271796
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: Console Team
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      type: metadata
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
              example:
                message: Metric read successfully.
                data:
                  id: TestMetricCapi::sum
                  name: TestMetricCapi
                  directionality: increase
                  type: sum
                  description: Capi Metric
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: CONSOLE API
                  creatorEmail: null
                  createdTime: 1720218271796
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: Console Team
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    type: metadata
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsById
      x-operation-id-source: derived
    post:
      summary: Update a metric
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricsUpdateContractDto'
      responses:
        '200':
          description: Update metric response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
                example:
                  message: Metric updated successfully.
                  data:
                    id: TestMetricCapi::sum
                    name: TestMetricCapi
                    directionality: increase
                    type: sum
                    description: new description
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: CONSOLE API
                    creatorEmail: null
                    createdTime: 1720218271796
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: Console Team
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      type: value
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
              example:
                message: Metric updated successfully.
                data:
                  id: TestMetricCapi::sum
                  name: TestMetricCapi
                  directionality: increase
                  type: sum
                  description: new description
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: CONSOLE API
                  creatorEmail: null
                  createdTime: 1720218271796
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: Console Team
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    type: value
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1MetricsById
      x-operation-id-source: derived
    delete:
      summary: Delete a metric
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Delete metric response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric deleted successfully.
              example:
                message: Metric deleted successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1MetricsById
      x-operation-id-source: derived
  /console/v1/metrics/{id}/cancel_archive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Cancel archive a metric
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Cancel archive metric response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric archival cancelled successfully.
              example:
                message: Metric archival cancelled successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1MetricsByIdCancelArchive
      x-operation-id-source: derived
  /console/v1/metrics/{id}/experiments:
    servers:
    - url: https://statsigapi.net
    get:
      summary: 'Lineage: List experiments related to Metric'
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: layerID
        required: false
        in: query
        description: Which layer to place the experiment into.
        schema:
          type: string
      - name: idType
        required: false
        in: query
        description: The idType the experiment will be performed on
        schema:
          type: string
      - name: teamID
        required: false
        in: query
        description: The team ID associated with the experiment, Enterprise only.
        schema:
          type:
          - string
          - 'null'
      - name: status
        required: false
        in: query
        description: The current status of the experiment
        schema:
          oneOf:
          - type: string
            enum:
            - active
            - setup
            - decision_made
            - abandoned
            - archived
            - experiment_stopped
            - assignment_stopped
          - type: array
            items:
              type: string
              enum:
              - active
              - setup
              - decision_made
              - abandoned
              - archived
              - experiment_stopped
              - assignment_stopped
      - name: targetAppID
        required: false
        in: query
        schema:
          type: string
      - name: stale
        required: false
        in: query
        description: When true, only returns stale experiments. If omitted or false, returns all experiments.
        schema:
          type: boolean
      - name: createdStartDate
        required: false
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: createdEndDate
        required: false
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: experimentType
        required: false
        in: query
        description: Filter by experiment type
        schema:
          oneOf:
          - type: string
            enum:
            - BASE
            - GEO
            - SWITCHBACK
            - PROMPT
            - SIDECAR
            - GRID_SEARCH
          - type: array
            items:
              type: string
              enum:
              - BASE
              - GEO
              - SWITCHBACK
              - PROMPT
              - SIDECAR
              - GRID_SEARCH
      - name: ids
        required: false
        in: query
        description: Fetch a specific set of experiments by ID in a single request (comma-separated, max 100). Only experiments matching these IDs are returned; unknown IDs are omitted. For more than 100, split into batches of 100. Combine with `fields` to fetch trimmed details for several experiments at once.
        examples:
          single id:
            value: experiment_a
          multiple ids:
            value: experiment_a,experiment_b
        schema:
          maxItems: 100
          type: array
          items:
            type: string
      - name: fields
        required: false
        in: query
        description: Comma-separated list of top-level fields to return (sparse fieldset), e.g. `id,name,hypothesis,groups`. `id` is always included. Reduces response size; when omitted the full experiment is returned.
        examples:
          single field:
            value: hypothesis
          multiple fields:
            value: id,name,hypothesis,groups
        schema:
          type: array
          items:
            type: string
      - name: creatorName
        required: false
        in: query
        description: Name of the creator.
        schema:
          type:
          - string
          - 'null'
      - name: creatorID
        required: false
        in: query
        description: ID of the user who created the entity.
        schema:
          type:
          - string
          - 'null'
      - name: tags
        required: false
        in: query
        description: Filter by tags
        examples:
          single tag:
            value: tag1
          multiple tags:
            value:
            - tag1
            - tag2
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List experiments using metric response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalExperimentDto'
                example:
                  message: Metrics listed successfully.
                  data:
                  - id: '    ::sum'
                    name: '    '
                    directionality: increase
                    type: sum
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709580516933
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: test
                    unitTypes:
                    - room_id
                    metricEvents:
                    - name: add_to_cart
                      type: value
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20/sum
                  - id: '      ::ratio'
                    name: '      '
                    directionality: increase
                    type: ratio
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709580027061
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      - .
                      metrics: []
                    team: test
                    unitTypes:
                    - namespace_id
                    metricEvents:
                    - name: add_to_cart
                      type: count
                      criteria: []
                    - name: .
                      type: count
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20%20%20/ratio
                  - id: '[LOCAL] Time Spent over 500ms::event_count_custom'
                    name: '[LOCAL] Time Spent over 500ms'
                    directionality: increase
                    type: event_count_custom
                    description: 'Creating my first Local Metric! How exciting!! '
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags:
                    - ★ Core
                    - dashboard_test
                    - test_owner_4
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709594132514
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - time_spent_on_page
                      metrics: []
                    team: null
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: time_spent_on_page
                      criteria:
                      - type: value
                        column: '!statsig_value'
                        condition: '>'
                        values:
                        - '500'
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%5BLOCAL%5D%20Time%20Spent%20over%20500ms/event_count_custom
                  - id: ___RENAME_FAILED___::composite_sum
                    name: rename_test_success
                    directionality: increase
                    type: composite_sum
                    description: This metric will be renamed from something aggressive and capital, to "rename_test_success", to help determine where metric renaming worked
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags:
                    - dashboard_test
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1704923273872
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events: []
                      metrics:
                      - add_to_cart_games::event_count_custom
                      - Appliance Purchases::event_count_custom
                      - test-test::event_count_custom
                    team: null
                    unitTypes:
                    - userID
                    - stableID
                    - room_id
                    - server_id
                    metricEvents: []
                    metricComponentMetrics:
                    - name: add_to_cart_games
                      type: event_count_custom
                    - name: Appliance Purchases
                      type: event_count_custom
                    - name: Test User
                      type: event_count_custom
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/___RENAME_FAILED___/composite_sum
                  - id: A metric for testing teams::event_count_custom
                    name: A metric for testing teams
                    directionality: increase
                    type: event_count_custom
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1706640947812
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: null
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      criteria:
                      - type: value
                        column: ''
                        condition: in
                        values:
                        - sports
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/A%20metric%20for%20testing%20teams/event_count_custom
                  pagination:
                    itemsPerPage: 5
                    pageNumber: 1
                    totalItems: 2699
                    nextPage: /console/v1/metrics/list?page=2&limit=5
                    previousPage: null
                    all: /console/v1/metrics/list
              example:
                message: Metrics listed successfully.
                data:
                - id: '    ::sum'
                  name: '    '
                  directionality: increase
                  type: sum
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709580516933
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: test
                  unitTypes:
                  - room_id
                  metricEvents:
                  - name: add_to_cart
                    type: value
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20/sum
                - id: '      ::ratio'
                  name: '      '
                  directionality: increase
                  type: ratio
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709580027061
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    - .
                    metrics: []
                  team: test
                  unitTypes:
                  - namespace_id
                  metricEvents:
                  - name: add_to_cart
                    type: count
                    criteria: []
                  - name: .
                    type: count
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20%20%20/ratio
                - id: '[LOCAL] Time Spent over 500ms::event_count_custom'
                  name: '[LOCAL] Time Spent over 500ms'
                  directionality: increase
                  type: event_count_custom
                  description: 'Creating my first Local Metric! How exciting!! '
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags:
                  - ★ Core
                  - dashboard_test
                  - test_owner_4
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709594132514
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - time_spent_on_page
                    metrics: []
                  team: null
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: time_spent_on_page
                    criteria:
                    - type: value
                      column: '!statsig_value'
                      condition: '>'
                      values:
                      - '500'
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%5BLOCAL%5D%20Time%20Spent%20over%20500ms/event_count_custom
                - id: ___RENAME_FAILED___::composite_sum
                  name: rename_test_success
                  directionality: increase
                  type: composite_sum
                  description: This metric will be renamed from something aggressive and capital, to "rename_test_success", to help determine where metric renaming worked
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags:
                  - dashboard_test
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1704923273872
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events: []
                    metrics:
                    - add_to_cart_games::event_count_custom
                    - Appliance Purchases::event_count_custom
                    - test-test::event_count_custom
                  team: null
                  unitTypes:
                  - userID
                  - stableID
                  - room_id
                  - server_id
                  metricEvents: []
                  metricComponentMetrics:
                  - name: add_to_cart_games
                    type: event_count_custom
                  - name: Appliance Purchases
                    type: event_count_custom
                  - name: Test User
                    type: event_count_custom
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/___RENAME_FAILED___/composite_sum
                - id: A metric for testing teams::event_count_custom
                  name: A metric for testing teams
                  directionality: increase
                  type: event_count_custom
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1706640947812
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: null
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    criteria:
                    - type: value
                      column: ''
                      condition: in
                      values:
                      - sports
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/A%20metric%20for%20testing%20teams/event_count_custom
                pagination:
                  itemsPerPage: 5
                  pageNumber: 1
                  totalItems: 2699
                  nextPage: /console/v1/metrics/list?page=2&limit=5
                  previousPage: null
                  all: /console/v1/metrics/list
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsByIdExperiments
      x-operation-id-source: derived
  /console/v1/metrics/{id}/reload:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Reload metric data
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      - name: incremental
        required: false
        in: query
        description: Incremental reload of the metric
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Reload metric data response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric data reloaded successfully.
              example:
                message: Metric data reloaded successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1MetricsByIdReload
      x-operation-id-source: derived
  /console/v1/metrics/{id}/schedule_archive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Schedule a metric archive
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Schedule a metric archive
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric archive scheduled successfully for next day.
              example:
                message: Metric archive scheduled successfully for next day.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1MetricsByIdScheduleArchive
      x-operation-id-source: derived
  /console/v1/metrics/{id}/sql:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Get SQL for a metric
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Get SQL for a metric
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSQLDto'
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsByIdSql
      x-operation-id-source: derived
  /console/v1/metrics/{id}/unarchive:
    servers:
    - url: https://statsigapi.net
    put:
      summary: Unarchive a metric
      parameters:
      - name: id
        required: true
        in: path
        description: id
        schema:
          type: string
      responses:
        '200':
          description: Unarchive metric response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric unarchived successfully.
              example:
                message: Metric unarchived successfully.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: putConsoleV1MetricsByIdUnarchive
      x-operation-id-source: derived
  /console/v1/metrics/{name}/{type}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Metric Definition by Name
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      - name: type
        required: true
        in: path
        description: type
        schema:
          type: string
      responses:
        '200':
          description: Get Metric Definition by name response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
                example:
                  message: Metric read successfully.
                  data:
                    id: TestMetricCapi::sum
                    name: TestMetricCapi
                    directionality: increase
                    type: sum
                    description: Capi Metric
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: CONSOLE API
                    creatorEmail: null
                    createdTime: 1720218271796
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: Console Team
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      type: metadata
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
              example:
                message: Metric read successfully.
                data:
                  id: TestMetricCapi::sum
                  name: TestMetricCapi
                  directionality: increase
                  type: sum
                  description: Capi Metric
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: CONSOLE API
                  creatorEmail: null
                  createdTime: 1720218271796
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: Console Team
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    type: metadata
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/TestMetricCapi/sum
        '404':
          description: Not Found. The requested resource could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 404
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Not Found:
                  value:
                    status: 404
                    message: Not Found. The requested resource could not be found.
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsByNameByType
      x-operation-id-source: derived
  /console/v1/metrics/list:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List all Metrics
      parameters:
      - name: showHiddenMetrics
        required: false
        in: query
        description: 'Should hidden metrics be returned: Allowed values are "true" or "false".'
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      - name: tags
        required: false
        in: query
        description: Filter metrics based on a given tagID, found on /tags endpoint. Can be a single string or an array of strings.
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
      - name: filters
        required: false
        in: query
        description: Additional filters for metrics. Pass a plain search string (e.g. `chatgpt`), or a JSON object string with a tags filter (e.g. `{"tags":{"ids":["tag_id"],"operator":"any_of"}}`). `operator` is `any_of` or `all_of`.
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List all metrics in the project response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
                example:
                  message: Metrics listed successfully.
                  data:
                  - id: '    ::sum'
                    name: '    '
                    directionality: increase
                    type: sum
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709580516933
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: test
                    unitTypes:
                    - room_id
                    metricEvents:
                    - name: add_to_cart
                      type: value
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20/sum
                  - id: '      ::ratio'
                    name: '      '
                    directionality: increase
                    type: ratio
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709580027061
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      - .
                      metrics: []
                    team: test
                    unitTypes:
                    - namespace_id
                    metricEvents:
                    - name: add_to_cart
                      type: count
                      criteria: []
                    - name: .
                      type: count
                      criteria: []
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20%20%20/ratio
                  - id: '[LOCAL] Time Spent over 500ms::event_count_custom'
                    name: '[LOCAL] Time Spent over 500ms'
                    directionality: increase
                    type: event_count_custom
                    description: 'Creating my first Local Metric! How exciting!! '
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags:
                    - ★ Core
                    - dashboard_test
                    - test_owner_4
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1709594132514
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - time_spent_on_page
                      metrics: []
                    team: null
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: time_spent_on_page
                      criteria:
                      - type: value
                        column: '!statsig_value'
                        condition: '>'
                        values:
                        - '500'
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%5BLOCAL%5D%20Time%20Spent%20over%20500ms/event_count_custom
                  - id: ___RENAME_FAILED___::composite_sum
                    name: rename_test_success
                    directionality: increase
                    type: composite_sum
                    description: This metric will be renamed from something aggressive and capital, to "rename_test_success", to help determine where metric renaming worked
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags:
                    - dashboard_test
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1704923273872
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events: []
                      metrics:
                      - add_to_cart_games::event_count_custom
                      - Appliance Purchases::event_count_custom
                      - test-test::event_count_custom
                    team: null
                    unitTypes:
                    - userID
                    - stableID
                    - room_id
                    - server_id
                    metricEvents: []
                    metricComponentMetrics:
                    - name: add_to_cart_games
                      type: event_count_custom
                    - name: Appliance Purchases
                      type: event_count_custom
                    - name: Test User
                      type: event_count_custom
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/___RENAME_FAILED___/composite_sum
                  - id: A metric for testing teams::event_count_custom
                    name: A metric for testing teams
                    directionality: increase
                    type: event_count_custom
                    description: ''
                    isPermanent: false
                    isReadOnly: false
                    isHidden: false
                    isVerified: false
                    tags: []
                    creatorName: Test User
                    creatorEmail: test@statsig.com
                    createdTime: 1706640947812
                    owner:
                      name: John Doe
                      ownerID: user123
                      ownerType: USER
                      ownerName: John Doe
                      ownerEmail: owner123@test.com
                    lineage:
                      events:
                      - add_to_cart
                      metrics: []
                    team: null
                    unitTypes:
                    - userID
                    metricEvents:
                    - name: add_to_cart
                      criteria:
                      - type: value
                        column: ''
                        condition: in
                        values:
                        - sports
                    permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/A%20metric%20for%20testing%20teams/event_count_custom
                  pagination:
                    itemsPerPage: 5
                    pageNumber: 1
                    totalItems: 2699
                    nextPage: /console/v1/metrics/list?page=2&limit=5
                    previousPage: null
                    all: /console/v1/metrics/list
              example:
                message: Metrics listed successfully.
                data:
                - id: '    ::sum'
                  name: '    '
                  directionality: increase
                  type: sum
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709580516933
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: test
                  unitTypes:
                  - room_id
                  metricEvents:
                  - name: add_to_cart
                    type: value
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20/sum
                - id: '      ::ratio'
                  name: '      '
                  directionality: increase
                  type: ratio
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709580027061
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    - .
                    metrics: []
                  team: test
                  unitTypes:
                  - namespace_id
                  metricEvents:
                  - name: add_to_cart
                    type: count
                    criteria: []
                  - name: .
                    type: count
                    criteria: []
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%20%20%20%20%20%20/ratio
                - id: '[LOCAL] Time Spent over 500ms::event_count_custom'
                  name: '[LOCAL] Time Spent over 500ms'
                  directionality: increase
                  type: event_count_custom
                  description: 'Creating my first Local Metric! How exciting!! '
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags:
                  - ★ Core
                  - dashboard_test
                  - test_owner_4
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1709594132514
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - time_spent_on_page
                    metrics: []
                  team: null
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: time_spent_on_page
                    criteria:
                    - type: value
                      column: '!statsig_value'
                      condition: '>'
                      values:
                      - '500'
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/%5BLOCAL%5D%20Time%20Spent%20over%20500ms/event_count_custom
                - id: ___RENAME_FAILED___::composite_sum
                  name: rename_test_success
                  directionality: increase
                  type: composite_sum
                  description: This metric will be renamed from something aggressive and capital, to "rename_test_success", to help determine where metric renaming worked
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags:
                  - dashboard_test
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1704923273872
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events: []
                    metrics:
                    - add_to_cart_games::event_count_custom
                    - Appliance Purchases::event_count_custom
                    - test-test::event_count_custom
                  team: null
                  unitTypes:
                  - userID
                  - stableID
                  - room_id
                  - server_id
                  metricEvents: []
                  metricComponentMetrics:
                  - name: add_to_cart_games
                    type: event_count_custom
                  - name: Appliance Purchases
                    type: event_count_custom
                  - name: Test User
                    type: event_count_custom
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/___RENAME_FAILED___/composite_sum
                - id: A metric for testing teams::event_count_custom
                  name: A metric for testing teams
                  directionality: increase
                  type: event_count_custom
                  description: ''
                  isPermanent: false
                  isReadOnly: false
                  isHidden: false
                  isVerified: false
                  tags: []
                  creatorName: Test User
                  creatorEmail: test@statsig.com
                  createdTime: 1706640947812
                  owner:
                    name: John Doe
                    ownerID: user123
                    ownerType: USER
                    ownerName: John Doe
                    ownerEmail: owner123@test.com
                  lineage:
                    events:
                    - add_to_cart
                    metrics: []
                  team: null
                  unitTypes:
                  - userID
                  metricEvents:
                  - name: add_to_cart
                    criteria:
                    - type: value
                      column: ''
                      condition: in
                      values:
                      - sports
                  permalink: https://console.statsig.com/company_id/metrics/metrics_catalog/A%20metric%20for%20testing%20teams/event_count_custom
                pagination:
                  itemsPerPage: 5
                  pageNumber: 1
                  totalItems: 2699
                  nextPage: /console/v1/metrics/list?page=2&limit=5
                  previousPage: null
                  all: /console/v1/metrics/list
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsList
      x-operation-id-source: derived
  /console/v1/metrics/metric_source:
    servers:
    - url: https://statsigapi.net
    post:
      summary: Create Metric Source
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSourceCreationContractDto'
      responses:
        '201':
          description: Create metric source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Metric source created successfully.
                  data:
                    name: test_metric_source2
                    description: Test description for metric source
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Metric source created successfully.
                data:
                  name: test_metric_source2
                  description: Test description for metric source
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1MetricsMetricSource
      x-operation-id-source: derived
  /console/v1/metrics/metric_source/{name}:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Metric Source
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Read metric source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Metric source read successfully.
                  data:
                    name: test_metric_source4
                    description: Test description for metric source
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Metric source read successfully.
                data:
                  name: test_metric_source4
                  description: Test description for metric source
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsMetricSourceByName
      x-operation-id-source: derived
    post:
      summary: Update Metric Source
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSourceUpdateContractDto'
      responses:
        '200':
          description: Update metric source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SingleDataResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Metric source updated successfully.
                  data:
                    name: test_metric_source4
                    description: Test description for metric source
                    tags:
                    - non_production
                    sql: SELECT * FROM `shoppy-sales.logging.events`
                    timestampColumn: ts
                    timestampAsDay: true
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    sourceType: table
                    tableName: shoppy-sales.logging.events
              example:
                message: Metric source updated successfully.
                data:
                  name: test_metric_source4
                  description: Test description for metric source
                  tags:
                  - non_production
                  sql: SELECT * FROM `shoppy-sales.logging.events`
                  timestampColumn: ts
                  timestampAsDay: true
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  sourceType: table
                  tableName: shoppy-sales.logging.events
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: postConsoleV1MetricsMetricSourceByName
      x-operation-id-source: derived
    delete:
      summary: Delete Metric Source
      parameters:
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Delete metric source response
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                example:
                  message: Metric source deleted successfully.
              example:
                message: Metric source deleted successfully.
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: deleteConsoleV1MetricsMetricSourceByName
      x-operation-id-source: derived
  /console/v1/metrics/metric_source/{name}/metrics:
    servers:
    - url: https://statsigapi.net
    get:
      summary: Read Metric Source Metrics
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: name
        required: true
        in: path
        description: name
        schema:
          type: string
      responses:
        '200':
          description: Read metric source metrics response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ExternalMetricDefinitionContractDto'
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsMetricSourceByNameMetrics
      x-operation-id-source: derived
  /console/v1/metrics/metric_source/list:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List metric source
      parameters:
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List metric source response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MetricSourceContractDto'
                example:
                  message: Metric sources listed successfully.
                  data:
                  - name: Log Events
                    description: all app events including add to cart, purchase, page view, checkout
                    tags: []
                    sql: 'SELECT *

                      FROM shoppy-sales.logging.events

                      where DATE(ts) between {statsig_start_date} and {statsig_end_date}

                      '
                    timestampColumn: ts
                    timestampAsDay: false
                    idTypeMapping:
                    - statsigUnitID: userID
                      column: user_id
                    - statsigUnitID: deviceID
                      column: device_id
                    tableName: ''
                    customFieldMapping:
                    - key: ''
                      formula: ''
                  pagination:
                    itemsPerPage: 1
                    pageNumber: 1
                    totalItems: 14
                    nextPage: /console/v1/metrics/metric_source/list?page=2&limit=1
                    previousPage: null
                    all: /console/v1/metrics/metric_source/list
              example:
                message: Metric sources listed successfully.
                data:
                - name: Log Events
                  description: all app events including add to cart, purchase, page view, checkout
                  tags: []
                  sql: 'SELECT *

                    FROM shoppy-sales.logging.events

                    where DATE(ts) between {statsig_start_date} and {statsig_end_date}

                    '
                  timestampColumn: ts
                  timestampAsDay: false
                  idTypeMapping:
                  - statsigUnitID: userID
                    column: user_id
                  - statsigUnitID: deviceID
                    column: device_id
                  tableName: ''
                  customFieldMapping:
                  - key: ''
                    formula: ''
                pagination:
                  itemsPerPage: 1
                  pageNumber: 1
                  totalItems: 14
                  nextPage: /console/v1/metrics/metric_source/list?page=2&limit=1
                  previousPage: null
                  all: /console/v1/metrics/metric_source/list
        '400':
          description: Invalid request. Please check the request input and try again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 400
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Request:
                  value:
                    status: 400
                    message: Invalid request. Please check the request input and try again.
        '401':
          description: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    enum:
                    - 401
                  message:
                    type: string
                required:
                - status
                - message
              examples:
                Invalid Endpoint:
                  value:
                    status: 401
                    message: 'This endpoint only accepts an active CONSOLE key, but an invalid key was sent. Key: console-xxxXXXxxxXXXxxx'
      tags:
      - Metrics
      security:
      - STATSIG-API-KEY: []
      operationId: getConsoleV1MetricsMetricSourceList
      x-operation-id-source: derived
  /console/v1/metrics/values:
    servers:
    - url: https://statsigapi.net
    get:
      summary: List All Metric Values
      description: List all metric values
      parameters:
      - name: date
        required: true
        in: query
        description: Expected valid date in the form of YYYY-MM-DD
        schema:
          example: '2024-01-01'
          type: string
      - name: metricName
        required: false
        in: query
        schema:
          type: string
      - name: metricType
        required: false
        in: query
        schema:
          type: string
      - name: limit
        required: false
        in: query
        description: Results per page
        schema:
          example: 10
          oneOf:
          - type: string
          - type: number
          type: integer
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          example: 1
          oneOf:
          - type: string
          - type: number
          type: integer
      responses:
        '200':
          description: List All Metric Values Response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationResponseWithMessage'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/MetricValueDto'
                example:
                  message: Metric values listed successfully.
                  data:
                  - value: 21377
                    unitType: overall
                    numerator: null
                    denominator: null
                    metricName: Page Loads
                    metricType: event_count_custom
                  - value: 21377
[...]
